[2016-08-05 18:44] bartoszmajsak opened #413 "Build on master fails on Fedora with Docker Daemon"
When running the tests @24836f0eff93824325f7d965f61fdfbe8203af23 on Fedora 24 with Docker Daemon I am getting following test failures

[code]

My environment details

[code]

[code]

[code]

[2016-08-05 20:36] bartoszmajsak commented on #413
First failing test (`shouldUseDockerMachineIfDockerHostIsNotSetAndOnlyOneMachineIsRunning`) is docker-machine specific. But it doesn't have `@RequiresDockerMachine` annotation on it. But even when I put it there it's still failing.

Second test assumes something about `DOCKER_HOST` environment variable, but in my case it's set to
[code]

Interesting part is... it works from the IDE. The test with

[2016-08-05 20:36] bartoszmajsak commented on #413
@iocanel can you run mvn build against latest master on your box?

[2016-08-05 20:39] iocanel commented on #413
No!  TodoBrowserTest.org.arquillian.cube.drone.TodoBrowserTest  fails
with Host does not exist: "dev".

On Fri, Aug 5, 2016 at 11:36 PM, Bartosz Majsak <notifications@github.com>
wrote:

--
*Ioannis Canellos*

*Blog: http://iocanel.blogspot.com <http://iocanel.blogspot.com/>*
*Twitter: iocanel*

[2016-08-05 20:40] bartoszmajsak commented on #413
But at least you can reach that point :) I'm failing way before.

[2016-08-05 20:43] lordofthejars commented on #413
I need to annotate drone tests with new runner annotations

El 5 ago. 2016 10:39 p. m., "Ioannis Canellos" <notifications@github.com>
escribió:

[2016-08-08 12:50] #287 closed

[2016-08-08 13:29] #409 closed

[2016-08-09 10:20] lordofthejars opened #416 "Creates an integration between Cube and RestAssured"
Creates an integration between Cube and RestAssured so url and port might auto discovered.

[2016-08-09 12:42] lordofthejars opened #417 "HostIp enricher does not work when using linux native"
HostIp enricher does not work when using linux native because localhost is not used.

[2016-08-09 13:52] #417 closed

[2016-08-09 15:19] lordofthejars opened #421 "Add enrichment for internal IP"
Add enrichment for internal IP with given container name. This feature is really important for example in case you want to use `WebDriver` when the browser is running inside a container as well and wants to connect to website. In this case you cannot use docker host since for example in case of native linux the ip of docker host is localhost and this is not a valid direction from the point of brow

[2016-08-10 09:35] lordofthejars opened #423 "Apply issue #421 to Graphene integration"
Apply issue #421 to Graphene integration

[2016-08-11 10:04] lordofthejars opened #426 "Add version check in kubernates implementation"
The kubernetes client currently doesn't expose a method to do a version check. An issue has been raised, but until its done we do the work here. See https://github.com/fabric8io/kubernetes-client/issues/477

The class is impl/requirement/KubernetesRequirement.java

[2016-08-12 13:43] #423 closed

[2016-08-12 13:43] #421 closed

[2016-08-12 13:43] #416 closed

[2016-08-12 13:43] lordofthejars commented on #400
I have created the docs so I close this.

[2016-08-12 13:43] #400 closed

[2016-08-12 13:46] lordofthejars opened #429 "Creates integration between Arquillian Recorder and RestAssured"

[2016-08-16 09:44] #429 closed

[2016-08-16 10:22] #391 closed

[2016-08-16 10:24] lordofthejars commented on #365
Also implies resolving git repos https://docs.docker.com/compose/compose-file/#/context

[2016-08-16 11:55] #408 closed

[2016-08-17 22:01] spolti opened #435 "Looks like the commit eb914f64f73ec6b3d6d8c94cbf882fd022b3cfec broke the build"
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:testCompile (default-testCompile) on project arquillian-cube-docker: Compilation failure
[ERROR] /dados/ce/ce-testsuite/arquillian-cube/docker/docker/src/test/java/org/arquillian/cube/docker/impl/client/container/DockerServerIPConfiguratorTest.java:[15,37] cannot find symbol
[ERROR] symbol:   class TestPortBindings
[

[2016-08-17 22:02] spolti commented on #435
Can we just leave the dependency and just remove the qualifier?

[2016-08-18 07:20] #435 closed

[2016-08-18 07:30] lordofthejars opened #436 "Add new property to allow run parallelize tests in docker-compose"
Add new property to allow run parallelize  tests in docker-compose

[2016-08-18 13:18] lordofthejars opened #437 "Graphene integration uses bind port instead of exposed port"
Graphene integration uses bind port instead of exposed port

[2016-08-18 15:34] #437 closed

[2016-08-24 09:13] bartoszmajsak opened #439 "Repository incosistency"
It seems that we have lost commits for Alpha14 release. The tag is around, but the commit is not on master.

Shall we rewrite the history?

Also why do we have two Alpha13 mvn release commits?

[2016-08-24 09:17] lordofthejars commented on #439
Strange, I will check on Monday, but probably the problem is how I named
locally repos

El 24 ago. 2016 11:13 a. m., "Bartosz Majsak" <notifications@github.com>
escribió:

[2016-08-24 09:25] bartoszmajsak commented on #439
I guess you just forgot to push the master branch, only the tag went through. Which is still fine, but a bit confusing :)

[2016-08-24 09:28] lordofthejars commented on #439
Totally agree, sorry for that. I will rename upstream to origin and
viceversa to avoid this happens again

El 24 ago. 2016 11:25 a. m., "Bartosz Majsak" <notifications@github.com>
escribió:

I guess you just forgot to push the master branch, only the tag went
through. Which is still fine, but a bit confusing :)

—
You are receiving this because you commented.

Reply to this email directly, view it

[2016-08-24 23:37] jwendell commented on #439
Also, it seems the dev version has changed from 1.0.0.Final-SNAPSHOT to 1.0.0-SNAPSHOT.
(See https://github.com/arquillian/arquillian-cube/commit/6bdb6601259406ec722c18c0e51ca443dd25b7e3 and https://github.com/arquillian/arquillian-cube/commit/57d119889069dbe33221e4f08a980506365e0c52)

Is this an issue per si? Or should I just upgrade my pom to rely on this new version schema? (yes, I use SNAPSHOT

[2016-08-25 06:29] lordofthejars commented on #439
This is an error as well, let me fix everything on Monday.

Thanks.

El 25 ago. 2016 1:37 a. m., "Jonh Wendell" <notifications@github.com>
escribió:

[2016-08-25 09:25] bartoszmajsak commented on #439
Seems like a busy Monday :) Let me know if I can support you somehow.

[2016-08-29 11:02] #439 closed

[2016-08-29 11:04] lordofthejars commented on #383
https://github.com/arquillian/arquillian-cube/pull/414

[2016-08-29 11:04] #383 closed

[2016-09-07 19:31] rcernich opened #440 "OpenShift port-forwarding does not support overriding the local port value"
You either get a random port or the same as the target port.

We're trying to run upstream integration tests (e.g. JDG) on a productized image (e.g. jboss-datagrid-6/datagrid65-openshift) and need to be able to specify the local ports as we can't change the tests themselves.

[2016-09-19 17:10] lordofthejars commented on #193
This guide should cover two use cases (incontainer test) which means having a @Deployment static method and `junit-container` dependency and also standalone case which means no @Deployment and `junit-standalone` dependency.

[2016-09-22 12:54] iocanel opened #442 "ArquillianKubeResourceProvider should also work with javax.inject.Named"
Currently, they require a custom annotation `org.arquillian.cube.kubernetes.annotations.Named`.
Users that read examples easily confuse that with `javax.inject.Named`.

I think that both should be supported, to make the life of users easier.

[2016-09-22 13:33] lordofthejars commented on #442
This is something that we usually don't use in Arquillian extensions, but if you think it has sense we could provide support for both.

Maybe what we could do is add in `@ArquillianResource` an attribute named `name` to inject an specific resource.What do you think @bartoszmajsak @aslakknutsen

[2016-09-22 13:41] iocanel commented on #442
Just to clarify what I am proposing is to use reflection instead and support any kind of Named annotation without being coupled to any.

It's just a safety net for the users. FWIW, I think that guice uses the exact same approach too.

[2016-09-22 13:45] cmoulliard opened #444 "Message: Forbidden! User admin/192-168-64-17:8443 doesn't have permission.."
When this code is executed

https://github.com/redhat-microservices/quick_swarm_camel-test/blob/arquillian-cube/src/test/java/io.obsidian.quickstart.swarm/OpenshiftIntegrationKT.java

using minishift as OpenShift platform, the following error is returned

[code]
Remark: This is strange as different system properties have been defined to use the default namespace

[2016-09-22 13:47] iocanel commented on #444
I've hit this too with minishift. I am pretty confident that its minishift specific.
I am trying to see if there is something that it can be done on the cube side of things to work around it.

[2016-09-22 13:56] cmoulliard commented on #444
This is not minishift specific but Kubernetes related I think so ;-)

[2016-09-22 14:06] iocanel opened #445 "Align the way kubernetes and openshift client is configured"
So right now we have two modules that are configured with a completely different way.

They use different ways to pass configuration to the plugin and also configuration property names.
For example:

arquillian-cube-kubernetes is using `kubernetes.master` while arquillian-cube-kubernetes is using `originServer`.

I think that we should have a common name to define common things across these module

[2016-09-22 16:19] #442 closed

[2016-09-22 16:21] lordofthejars commented on #444
I have not tried with Cube, but with kubectl command I needed first to run `oc login` command to create a valid access token on config.json file.

[2016-09-22 16:23] lordofthejars commented on #445
I think that here

you mean arquillian-cube-openshift. In theory in the future, after kubernetes part is fully integrated with cube model, openshift part should contain only things specific to openshift.

[2016-09-23 07:15] lordofthejars commented on #444
@iocanel how are you using cube-kubernetes? Without using minishift? I still think that the problem is in the .kube/config file that needs to be filled correctly.

[2016-09-23 08:38] iocanel commented on #444
Yes, tried arquillian-cube-kubernetes against minishift and got the same error. It worked fine on minikube and on plain openshift.

[2016-09-23 08:40] lordofthejars commented on #444
hummm, does fabric8 kubernetes client (or in cube part) rad configuration from ~/.kube/config?

[2016-09-23 08:42] iocanel commented on #444
Of course it does! And its able to even create the namespace.

[2016-09-23 08:43] lordofthejars commented on #444
then can you try with minishift do:

./minishift start
oc login admin admin
Execute cube test

[2016-09-23 15:10] iocanel commented on #444
@cmoulliard: try removing arquillian-cube-openshift from your project and tell me if you have any better luck.

[2016-09-23 16:04] lordofthejars commented on #444
I will try to run ftest as well against a minishift since I think that should work with minishift as well.

[2016-09-23 16:20] iocanel commented on #444
That would be great! My head is about to explode and I am not sure anymore of what works where. :-D

[2016-09-24 10:22] cmoulliard commented on #444
I have been able to reproduce the issue from the master branch of my project. So this error comes when we are authenticated with a user "example -> swarm-dev" which is not admin & we  have selected a namespace different from default before to execute the test.

I have updated the master branch which is working now using the default namespace and admin as user -> see commands & tests executed -> ht

[2016-09-26 17:38] lordofthejars commented on #444
@iocanel any idea on how we can improve this? When running oc login what it is happening is that in .kube/config a new token to connect to the cluster is created.
Do you think that we could hardcode a user and password in config file? Something like:

[code]

I think it should work, if not in case of minishift we will need to to the `oc login ` each time.

[2016-09-26 17:42] lordofthejars commented on #444
BTW @iocanel one question has it sense to create every time a new namespace for each run? I mean could we reuse the default namespace and just add a boolean which set to true implies creating a new namespace every time. What do you think?

On Wed I will try to spend one morning on this issue.

[2016-09-26 17:57] iocanel commented on #444
It's configurable already. You can use an existing namespace if you want. You can also ask not to cleanup when done, so you can troubleshoot etc.

[2016-09-27 06:31] cmoulliard commented on #444
You can define a username & password using oc or kubectl go client "http://kubernetes.io/docs/user-guide/kubectl/kubectl_config_set-credentials/"

[code]

[2016-09-27 13:00] lordofthejars commented on #444
Oh nice :). So can I close this issue?

[2016-09-27 13:03] cmoulliard commented on #444
It can be closed at the condition that the documentation will explain how to deal with namespace, authentication, ....

[2016-09-27 13:29] lordofthejars commented on #386
It has not much sense for now implementing this integration since consumers won't use docker and providers needs the docker host ip which is already provided by cube.

[2016-09-27 13:29] #386 closed

[2016-09-27 14:50] iocanel commented on #444
Now I lost you both!

Does it work for you if you use `oc` to set credentials?

[2016-09-27 15:40] lordofthejars commented on #444
I think so :). As I said in previous previous message it was a matter of configuring correctly `.kube/config`. Using oc is a way to do it :)

[2016-09-27 15:43] iocanel commented on #444
Ok, I think that my case is different, then.

[2016-09-27 15:43] iocanel commented on #444
We can close it, and I'll open a new issue specific to my issue.

[2016-09-27 15:45] lordofthejars commented on #444
Don't want to close because I would like to improve the document with a
WARNING with this use case.

El dt., 27 set. 2016 a les 17:43, Ioannis Canellos (<
notifications@github.com>) va escriure:

[2016-09-27 17:21] iocanel opened #447 "GitServer in arquillian-cube-openshift is using hostPort"
Using a hostPort is not considered a good practice and in many environments its not even allowed. In other cases it requires messing up with `security context constraints` and may lead to hard to troubleshoot issues.

For example I was getting a similar exception to #444, and it took me a lot of trial an error, before I manage to understand what is going on.

[2016-09-27 17:21] iocanel commented on #447
I think that instead of hostPort we should use a Service.

[2016-09-28 12:12] jwendell commented on #440
isn't this fixed by #441 ?

[2016-09-28 12:15] lordofthejars commented on #440
it seems so, so we can close it right?

[2016-09-28 12:16] jwendell commented on #440
I think so, yes.

[2016-09-28 12:17] #440 closed

[2016-09-28 12:17] jwendell opened #448 "Port forwarder: Freezes with a high number of incoming connections"
It happens when a number higher than WORKER_TASK_MAX_THREADS (currently 32) of clients connect "at the same time".

[2016-09-28 12:21] jwendell opened #449 "Port forwarder: Some connections are never released"
Sometimes incoming connections are never released, they keep active forever, even though the remote endpoint has already closed the connection.

[2016-09-28 13:43] #448 closed

[2016-09-28 13:43] #449 closed

[2016-09-28 16:52] lordofthejars commented on #447
In this case you are talking about cube-openshift extension and not the kubernetes one.

@jwendell and @spolti might help you on this since they are doing an awesome work in that part.

[2016-09-28 17:01] lordofthejars commented on #444
I have improved the documentation so users can avoid the same problem as @cmoulliard found regarding authentication. https://github.com/arquillian/arquillian-cube/commit/e1c3b60bdfed9ea32d56e4abec6d2141b06980af

[2016-09-28 17:01] #444 closed

[2016-09-28 17:05] rcernich opened #451 "Add ability to map container name to pod name"
Some existing test suites use container names that can't be manifest in certain environments (e.g. upper case letters in k8s).  Allowing users to manually specify the mapping between container name (arq) and container name (runtime) would alleviate this issue.

[2016-09-28 17:39] spolti commented on #447
Hi, I 'll be glad to help but I am afraid I didn't understand exactly what is the issue that you described or are facing. Could you please add more details on your issue/question and what is your use case?

[2016-09-28 18:55] iocanel commented on #447
The code here: https://github.com/arquillian/arquillian-cube/blob/master/openshift/openshift/src/main/java/org/arquillian/cube/openshift/impl/client/GitServer.java#L91 defines a hostPort on the pod.

This is something that is generally considered a bad practice (see [1]). Also its something that is not supported on all environments (e.g. Openshift dedicated). But even with plain Openshift, it requ

[2016-09-28 19:20] spolti commented on #447
Looks like it is a fabric8 implementation (io.fabric8.kubernetes.api.model.PodBuilder),
I did look quickly at cube-kubernetes to now if the git server is implemented there but looks like it is not the case.

I guess it can't be changed directly on arquillian-cube without the proper change on fabric8.

@aslakknutsen, @lordofthejars  any idea?

[2016-09-28 21:41] rcernich commented on #451
Added support for a "cubeId" property on the container configuration.  This should default to the container name if no cubeId is specified.

[2016-09-29 02:22] jwendell opened #453 "k8s namespace prefix should be fully configurable"
Just like other properties.

Currently it can only be changed via env variables.

[2016-09-29 09:03] iocanel commented on #447
The PodBuilder doesn't need to change. I am just suggesting that that the GitServer class should not use the `withHostPort()` method.

Maybe it would be simpler if I provided a PR and we could continue the discussion on the PR.

[2016-09-29 09:55] #453 closed

[2016-09-29 10:15] lordofthejars commented on #447
@spolti notice that @iocanel is talking about openshift module and not kubernetes module.

[2016-09-29 15:54] lordofthejars opened #457 "Automatic Run of "packaging" goal in case of Dockerfile"
When having a `Dockerfile` in a java project, probably this Dockerfile is adding the generated artifacc from build tool into a Docker container. This means that before running the tests you need to provide the file by running manually or semimanually the build tool.

This could be integrated into Duce-Docker and ShrinkWrap resolver so if for example a property called `buildCommand` is present *and

[2016-09-30 09:57] #447 closed

[2016-09-30 20:29] spolti opened #460 "Long Running tests hangs."
Long Running tests hangs due a wrong window update management on SpdyChannelWithoutFlowControl.

In addition it is also necessary notify the receiveFlowControlWindow with the number of bytes to handled in give connection.

[2016-10-03 10:45] #460 closed

[2016-10-03 11:28] lordofthejars opened #461 "Creates an AssertJ custom assertions"
Creates an AssertJ custom assertions for reading attributes so you can do things like:

[code]

You can read more about custom assertions at http://joel-costigliola.github.io/assertj/assertj-core-custom-assertions.html

[2016-10-03 11:30] bartoszmajsak commented on #461
what does it suppose to test?

[2016-10-03 11:31] lordofthejars commented on #461
the name is wrong should be `runningContainers` and checks that these containers are running in the given docker host

[2016-10-03 11:32] bartoszmajsak commented on #461
But then filter is misleading I guess.

[2016-10-03 11:32] lordofthejars commented on #461
well you can do something like `myimage*`

[2016-10-03 11:33] lordofthejars commented on #461
@iocanel @jwendell What are your thoughts about this issue?

[2016-10-03 11:34] bartoszmajsak commented on #461
@lordofthejars I mean it does not say what is asserted really in this given case.

[2016-10-03 11:34] lordofthejars commented on #461
Then we can do: .containers().filter("..", "..").areRunning()

[2016-10-03 11:46] jwendell commented on #335
this can be closed

[2016-10-03 11:47] jwendell commented on #260
What would be "invoke the pod"?

[2016-10-03 11:51] iocanel commented on #461
For the kubernetes bits, we already have something like this in fabric8 (https://github.com/fabric8io/fabric8/tree/master/components/kubernetes-assertions), so the question really is, does it make sense to also migrate this or not.

Most of the job on this has been done by @jstrachan. So @jstrachan wdyt?

[2016-10-03 11:56] jstrachan commented on #461
I don't really see why we need to move it. I tend to continue to improve the assertions over time as it gets used by fabfic8.

Kubernetes-assertions are also quite independent of the use of Arquillian. If anything I'd rather it was in the kubernetes-client project

[2016-10-03 11:59] jstrachan commented on #461
Note also that kubernetes-assertions lets you perform deep assertions on any part of the kubernetes or openshift models via a single line of code - very handy for testing - but also something that is better tied to kubernetes-model & client releases to keep them all in sync

[2016-10-03 12:58] lordofthejars commented on #461
Yes I think we can leave that bits there, I just asking to create the same for docker here.

[2016-10-03 15:06] lordofthejars opened #462 "Creates stop/kill attribute"
Sometimes there are some docker images which takes a lot of time to shutdown. For example shutting down selenium server in standalone debug mode takes 10 seconds. These images does nothing with our logic, they are simply hosts of a browser to run tests.

So at  the end of the tests, you spent 10 seconds waiting that this instance is stopped. In this containers that logic is not involved it might b

[2016-10-03 15:12] #335 closed

[2016-10-03 16:13] #462 closed

[2016-10-03 17:34] eddumelendez commented on #461
I really like this idea... but what if it is a independent project built on top of `docker-java` instead of depends on arquillian?

[2016-10-03 17:35] bartoszmajsak commented on #461
I think we can keep it under the org, but have nothing related to Arq as such.

[2016-10-04 18:13] jwendell opened #465 "Openshift: Resolve routes"
Two things here:
- Ability to inject a route in a test based on its name on the Openshift cluster:

[code]

 The `url` variable above would contain something like 'http://url-of-the-openshift-router', assuming there's a router with the name `eap-app` there.
 Our team has an working implementation of this: https://github.com/jboss-openshift/ce-arq/blob/master/cube/src/main/java/org/jboss/arquillian

[2016-10-04 18:16] jwendell commented on #451
I suggest you guys to put something like "Closes #NNN", or "Fixes #NNN" into the commit messages so that github automatically closes the issues when the PR is merged :)

[2016-10-04 18:27] bartoszmajsak commented on #465
If the goal is to have prime support for Openshift testing in Cube I think this is very valuable contribution. Thanks for suggesting it!

@lordofthejars I guess we can take care of it within our own team? Should be easy enough,

[2016-10-04 18:28] bartoszmajsak commented on #465
Is there anything else not so specific for `ce-arq` module which we could think of moving up? If so, feel free to fire another issues.

[2016-10-05 07:48] lordofthejars commented on #465
@jwendell I will move these pieces today. Of course if you think anything else can be moved from CE to Cube please don't hesitate to share with us

[2016-10-05 07:59] #365 closed

[2016-10-05 11:33] lordofthejars opened #466 "Explore possibility of ContainerObjects + JavaAgents for remote mocking"

[2016-10-05 12:02] lordofthejars commented on #466
https://developer.jboss.org/wiki/ABytemanTutorial#top

[2016-10-05 12:45] jwendell opened #467 "Openshift: Instantiate templates"
[Templates](https://docs.openshift.com/container-platform/3.3/architecture/core_concepts/templates.html) are a useful resource in Openshift, and it would be great if cube supported it out of the box.

In the [ce-arq](https://github.com/jboss-openshift/ce-arq) project we have created an [@Template](https://github.com/jboss-openshift/ce-arq/blob/master/api/src/main/java/org/jboss/arquillian/ce/api/T

[2016-10-05 13:56] jwendell opened #468 "Openshift: Support the creation of generic resources from a file"
In the [ce-arq](https://github.com/jboss-openshift/ce-arq) project we have an [@OpenShiftResource](https://github.com/jboss-openshift/ce-arq/blob/master/api/src/main/java/org/jboss/arquillian/ce/api/OpenShiftResource.java) annotation that reads a JSON file and create the resources specified in it before the test execution.
- [Example of such a resource file](https://github.com/jboss-openshift/appl

[2016-10-05 14:02] bartoszmajsak commented on #467
Thanks, we will take it over

[2016-10-05 14:02] bartoszmajsak commented on #468
Thanks, we will take it over

[2016-10-05 14:03] bartoszmajsak commented on #465
Thanks, we will take it over.

[2016-10-05 16:05] lordofthejars opened #469 "Update docker-java version to latest one"

[2016-10-06 11:08] dipak-pawar opened #470 "Couldn't create a service with mentioned networks in docker-compose.yml version 2"
docker-compose -
[code]

network inspect logs https://gist.github.com/dipak-pawar/b57c28ee999b02f7f438ec0198e28eac

It's creating container with default NetworkMode as `default` & networks as `bridge`
It should create a container with network mentioned in docker-compose.yml & start container.

[2016-10-06 11:34] dipak-pawar commented on #470
@lordofthejars I am working on this.

[2016-10-06 11:55] bartoszmajsak commented on #470
I assume it works using `docker-compose` cli?

[2016-10-06 11:56] bartoszmajsak commented on #470
If so label it as a bug, assign yourself and happy hacking! Thanks.

[2016-10-06 11:59] dipak-pawar commented on #470
@bartoszmajsak yes it works using docker-compose cli. I couldn't add label. Looks like need some permission

[2016-10-06 12:15] lordofthejars commented on #470
Thanks Dipak, good work finding the bug. No worries about label. If you
wamt to fix the bug go ahead. File that manges this is called
ComposeBuilder which is used in DockerComposeConverter

Alec

El 6 oct. 2016 1:59 p. m., "Dipak Pawar" <notifications@github.com>
escribió:

[2016-10-12 11:07] dipak-pawar opened #473 "Add Support for multiple networks for a single service mentioned in docker-compose.yml in version 2"
version: '2'
services:
  tomcat:
    env_file: envs
    image: tutum/tomcat:7.0
    ports:
      - "8089:8089"
      - "8088:8088"
      - "8081:8080"
    networks:
      - front-tier
      - back-tier
networks:
  front-tier:
  back-tier.

Currently we can start service with single network. but not using all networks. provide support for multiple networks.

[2016-10-12 19:40] eddumelendez opened #474 "Containerless need to specify the definitionFormat = CUBE"
When `containerless` is used the `definitionFormat` property needs to specified to `CUBE`.

Currently, the current default value for definitionFormat is `COMPOSE` and it´s not specified in the test example: [containerless/src/test/resources/aquillian.xml](https://github.com/arquillian/arquillian-cube/blob/master/containerless/src/test/resources/arquillian.xml). Said that, when `mvn test` is execut

[2016-10-13 09:58] lordofthejars opened #475 "ClassNotFoundException org/eclipse/jgit/api/errors/GitAPIException"
In ContainerBuilder there are two imports to JGit that makes everything fails if jgit dependency is not added. By default jgit dep is provided since not all people would need to have all these bits in classpath.  What we need to provide is a GitObject that is instanciated in case of requirement of Git and not importing directly to a class that it is extensively used. Also `Git`instance but be wrap

[2016-10-13 10:01] lordofthejars opened #476 "NoClassDefFoundError slf4j"
Adds slf4j api  because it is required by docker-java library.

[2016-10-13 10:40] lordofthejars commented on #475
We are going to remove support for git feature since some libraries needed by jgit get in conflict with docker-java libraries (HttpClient)

[2016-10-13 10:41] #475 closed

[2016-10-13 10:42] lordofthejars opened #477 "Add support for git repos in context"
Add support for git repos in context. See https://github.com/arquillian/arquillian-cube/issues/475 and classpath problems between jgit and docker-java.

[2016-10-13 10:46] #469 closed

[2016-10-13 10:46] lordofthejars commented on #476
Fixed when removed jgit dependency.

[2016-10-13 10:46] #476 closed

[2016-10-13 15:45] lordofthejars opened #478 "Null Pointer Exception is thrown when docker machine is not accessible"
If developer has more than one docker machine on computer and it does not specify in `arquillian.xml` any machine, Cube tries to autoresolve. The problem is that if one of docker machine throws an exception, this exception is at top of the output which makes everything fail:

[code]

[2016-10-13 15:57] #478 closed

[2016-10-14 16:40] #477 closed

[2016-10-14 19:23] jwendell commented on #467
I'm willing to help here, spent some time understanding the internals of arquillian, arquillian-cube and cube-[k8s,openshift].

Before getting my hands dirty... do you have an opinion on how this could be implemented or you're happy with our approach of having an `@Template` annotation put before each test class?

[2016-10-14 19:28] bartoszmajsak commented on #467
That's cool, I didn't know if you can get involved and you have time. But if you are willing to that's more than awesome :)

I think we start with `@Template` on the class level. I'm not sure if having any other convention here would be useful from the end-user perspective. I believe what you have came up with is providing you good experience and fulfills the use case :)

[2016-10-14 19:28] bartoszmajsak commented on #467
So if you are up to hack on I can assign it to you (if you cannot do it yourself)

[2016-10-14 19:41] jwendell commented on #467
@bartoszmajsak It seems I can't assign myself, feel free to do it.

[2016-10-17 11:39] jwendell opened #483 "Refactor Openshift extension on top of Kubernetes"
Making it extends kubernetes avoids code duplication and reflects what in fact Openshift is: an enhanced Kubernetes.

[2016-10-17 11:42] lordofthejars commented on #483
Yes this is something that @iocanel wants to work as well i two steps first one:

https://github.com/arquillian/arquillian-cube/issues/445

And second one by aligning kubernetes objects to Cube interfaces too.

@iocanel @jwendell go ahead, if you need anything please feel free to ping me or @bartoszmajsak

[2016-10-17 11:49] lordofthejars opened #484 "Add support for network ipam"
Currently networking is support without IPAM options. An example of docker compose with ipam might be:

[code]

This issue implies adding support for `driver_ops` (if supported by docker-java), and the ipam elements in networks section.
1. This implies modifying the custom cube format for adding support for IPAM, it is partially supported https://github.com/arquillian/arquillian-cube/blob/master/d

[2016-10-17 18:31] iocanel commented on #483
If there are no objections I am on it.

[2016-10-18 00:06] jwendell commented on #483
@iocanel no problem. I had started to play with it, didn't get too far, but surprisingly that was not a huge refactoring as I was thinking. I managed to run a simple "hello world" test with a small set of changes.

Here is what I have done so far:
https://github.com/jwendell/arquillian-cube/commit/38d2bcc2c95907e92089ee25af7c1dfcfb920278

Feel free to use it, or some part of it, or discard it at a

[2016-10-18 05:56] iocanel commented on #483
@jwendell since you started, then please ho for it :-)

[2016-10-18 07:39] lordofthejars commented on #483
@jwendell happy to hear about that, when you finish this movement, we can start planning to do https://github.com/arquillian/arquillian-cube/issues/468 https://github.com/arquillian/arquillian-cube/issues/467 and https://github.com/arquillian/arquillian-cube/issues/465

[2016-10-18 08:56] #473 closed

[2016-10-18 08:56] #470 closed

[2016-10-18 13:55] lordofthejars opened #486 "Add cleanBuildImage attribute"
Add cleanBuildImage attribute in docker module which by default is true.

If this attribute is true, it removes any image that has been built during test process after the container instance is removed. If it is false then nothing is done.

This logic should resides in its own observer of `AfterDestroy` (https://github.com/arquillian/arquillian-cube/blob/17d1180b9c413dea72d9c64314937510d5bb48a4/sp

[2016-10-19 04:35] iocanel opened #487 "Setup a circleci build for arquillian-cube"
We should at least have an indication that a pull request doesn't break the build on a neutral machine.
Since tests now express their requirements using the requirement annotations that should be the case.

Setting up something like circleci is just a matter of a few clicks for someone that has admin permissions. I'd gladly do it myself but I don't have permissions :-)

[2016-10-19 07:42] lordofthejars commented on #487
Easy,I have invited to Arquillian Cube organization, when you accept I will give you admin rights.

[2016-10-19 13:36] iocanel commented on #487
@lordofthejars: I accepted!

[2016-10-19 13:43] bartoszmajsak commented on #487
And I just approved CircleCI request. Thanks for helping us!

I think we should think about minimal group of tests we should and are able to run on this platform. Besides plain docker stuff any others?

[2016-10-19 13:51] iocanel commented on #487
Thanks, it ready now! Pull request will be tested. Example: #488

[2016-10-19 15:26] bartoszmajsak commented on #487
This fails with `ci/circleci — No test commands were found`

[2016-10-22 10:43] iocanel opened #494 "Provide a new url ResourceProvider for Kubernetes and Openshift"
Users would just want to grab a url and connect to a service without having much hassle.

We need to implement a url `ResourceProvider` and on top of that build some extra features, like:
- port forwarding support
- ingress support
- route support

[2016-10-22 10:45] iocanel commented on #494
I have a draft of that ready, but I need #483 to be in place so that I can then move the port forward bits to kubernetes.

[2016-10-22 10:47] iocanel opened #495 "NPE when killing kubernetes tests"
the kubernetes extension is using a shutdown hook, in order to cleanup if user decided to kill a test (using `ctrl-c`).

The problem seems to be that object that are involved in the cleanup make use of Instance<?> and that doesn't seem to work when the shutdown hook is executed.

So we need to determine which is the best approach for doing cleanup and using shutdown hooks and then implement it.

[2016-10-22 14:49] jwendell commented on #483
for reference, my working can be tracked here: https://github.com/jwendell/arquillian-cube/commits/483
comments are welcome!

[2016-10-22 15:38] iocanel opened #496 "Some test perform assertions on things not controlled by the test."
In my environment I have a custom `DOCKER_CERT_PATH` breaking: https://github.com/arquillian/arquillian-cube/blob/f7620075c322f3cd05c4331e68d80d3bc2b22411/docker/docker/src/test/java/org/arquillian/cube/docker/impl/client/CubeConfiguratorTest.java#L152

[2016-10-22 15:50] eddumelendez commented on #474
@lordofthejars WDYT?

[2016-10-22 18:42] iocanel opened #498 "should_report_network_topology_of_docker_containers fails"
https://github.com/arquillian/arquillian-cube/blob/f8b0ac239314976bb5c84d88ff8dbc8888a823c2/docker/recorder/src/test/java/org/arquillian/cube/docker/impl/client/reporter/TakeDockerEnvironmentTest.java#L284

It seems that no behavior is defined for this test case.

[2016-10-23 11:03] jamesnetherton opened #499 "Await polling strategy should not make assumptions about the container environment"
I've been experimenting with cube and WildFly. Many of the examples I found reference the 'polling' await strategy. I encountered some problems with this:

Neither `ss` or `ping` is guaranteed to be available in the running container. Indeed, in the official WildFly base image, `ss` is not installed.

When using the 'wait-for-it' option, cube copies the script into '/'. There's no guarantee that t

[2016-10-24 07:40] lordofthejars commented on #498
What you mean by no behaviour, there is some assertions that asserts that the information is correctly created.

[2016-10-24 07:47] lordofthejars commented on #499
Thanks for reporting this. It is curious that when you do an exec process it runs it from `/` and not from configured `WORKDIR`. Then the problem is what to do in this case. In theory all docker images will have `/tmp` directory, isn't it? Then it could be an option too.

[2016-10-24 07:57] jamesnetherton commented on #499
Yes, I was also thinking that maybe `/tmp` would be a good alternate location to copy & run the script.

[2016-10-24 09:17] iocanel commented on #498
I mean that the mock doesn't seem to define any behavior for the inspect method, which is indirectly called (resulting in an NPE).

[2016-10-24 09:20] lordofthejars commented on #498
No, we are using the object just for capturing the result inside. https://github.com/arquillian/arquillian-cube/blob/f8b0ac239314976bb5c84d88ff8dbc8888a823c2/docker/recorder/src/test/java/org/arquillian/cube/docker/impl/client/reporter/TakeDockerEnvironmentTest.java#L293

[2016-10-24 09:34] iocanel commented on #498
Does the test work for you?

[2016-10-24 10:06] iocanel commented on #495
@lordofthejars @bartoszmajsak: The only work around I can see in this issue, is to have some sort of init() method that will grab all the Instance<?> refs and store them in local variables. For example:

    @Inject
    Instance<KubernetesClient> clientInstance;
    KubernetesClient client;

    @Override
    public void init() {
        client = clientInstance.get();
    }

    public void method

[2016-10-24 11:08] dipak-pawar commented on #498
@iocanel test is not working. Let me check what's wrong with it.

[2016-10-24 19:19] jamesnetherton opened #502 "Unable to use log await strategy"
I've been trying to get the log await strategy working, so far with no success. Tested against WildFly and Tomcat images.

When debugging, I never see [onNext()](https://github.com/arquillian/arquillian-cube/blob/308287ec56a091d473309f21dcd3dff9f6a4fdf5/docker/docker/src/main/java/org/arquillian/cube/docker/impl/await/LogScanningAwaitStrategy.java#L127-L135) in `LogScanningAwaitStrategy` get calle

[2016-10-25 04:36] dipak-pawar commented on #498
Submitted [PR](https://github.com/arquillian/arquillian-cube/pull/501) for above issue. Thanks @iocanel

[2016-10-25 06:30] iocanel commented on #498
You may have to use something like the `@RequiresDocker` annotation so that the test will not fail on environments where docker is not available (e.g. circleci).

[2016-10-25 06:45] dipak-pawar commented on #498
@iocanel there is bug in test code. No need to mention @RequiresDocker annotation for this tests as  we are providing networkMode from dockerContainers [properties](https://github.com/arquillian/arquillian-cube/blob/master/docker/recorder/src/test/java/org/arquillian/cube/docker/impl/client/reporter/TakeDockerEnvironmentTest.java#L48), and you will never reach [this](https://github.com/arquillian/

[2016-10-25 07:45] lordofthejars commented on #498
@iocanel fixed and merged :)

[2016-10-25 07:45] #498 closed

[2016-10-25 18:14] lordofthejars commented on #474
It has sense but I had no time to review

El 22 oct. 2016 5:50 p. m., "Eddú Meléndez Gonzales" <
notifications@github.com> escribió:

[2016-10-25 18:18] lordofthejars commented on #502
Thank you very much for reporting this, tomorrow morning I will take a look.

El 24 oct. 2016 9:19 p. m., "James Netherton" <notifications@github.com>
escribió:

[2016-10-26 07:49] #486 closed

[2016-10-26 15:25] #499 closed

[2016-10-26 15:29] #502 closed

[2016-10-26 16:04] lordofthejars commented on #487
I think it is working now, can we close this issue?

[2016-10-26 16:16] #487 closed

[2016-10-27 14:33] dipak-pawar opened #506 "Display reporting parameters like IO, network, disk usage into a table form"
##### Issue Overview

##### Expected Behaviour
Display reporting parameters like IO, network, disk usage into a table form

##### Current Behaviour
Reporting parameters like IO, network, disk usage are displayed into key value entry.

[2016-10-27 15:12] spolti opened #508 "Make the port forwarder bind address configurable"
##### Issue Overview
Actually arquillian-cube does not provide a way to configure the port forwarder bind address, it is set to localhost by default.

By adding this functionality we can run more than one port forwarder at the same time.

[2016-10-27 15:39] dipak-pawar opened #509 "ftest-docker-compose tests are ignoring are due to incorrect serverURI"
##### Issue Overview

##### Expected Behaviour
Test should run fine with
[code]
##### Current Behaviour
Tests are ignoring due to UnsatisfiedRequirementException .
##### Steps To Reproduce
1.Go inside ftest-docker-compose
2.mvn test
##### Additional Information
[code]

[2016-10-28 06:05] #509 closed

[2016-10-28 06:06] #506 closed

[2016-10-28 06:06] #508 closed

[2016-10-28 06:06] #496 closed

[2016-10-28 10:37] hemanik opened #512 "Set relative path for file entry for use in Reports."
##### Issue Overview

Reports generated have the location of logs files set as standard text in format  `target/reports/logs` which prevents it from rendering proper links due to duplication in the file path.
Relates to Recorder Issue [#55](https://github.com/arquillian/arquillian-recorder/issues/created_by/hemanik)
##### Expected Behaviour

Proper path to the location of the logs should be render

[2016-11-04 09:08] #512 closed

[2016-11-04 12:41] dipak-pawar commented on #484
Opened #514

[2016-11-06 20:35] eddumelendez commented on #461
Hi guys, I have a prototype [assertj-docker-java](https://github.com/eddumelendez/assertj-docker-java)

[2016-11-07 09:50] dipak-pawar opened #515 "Statistics are not showing in human readable format for negative number."
Bug

##### Issue Overview
Docker statistics are not showing converted human readable number for negative value.

##### Expected Behaviour
It should show negative as sign in front of human readable value.

##### Current Behaviour
Cube is not converting to negative number to human readable format.

##### Steps To Reproduce
1. Run any sample test with recorder dependency added in class path.
2. Check

[2016-11-08 14:08] jwendell opened #517 "NPE at ContainerConfigurationController.remapContainer()"
[code]

This was introduced by commit 7b890fe535c625390bb8f716455c618c39c5e490.

[2016-11-08 14:14] jwendell commented on #517
@spolti is taking a look at this.

[2016-11-08 15:14] #484 closed

[2016-11-08 15:24] bartoszmajsak commented on #517
Awesome, thanks guys!

[2016-11-08 15:42] spolti commented on #517
Looks like the issue is caused because the mappingForPort is never reached when there is a group of containers on arquillian.xml is used, sending the fix.

[2016-11-09 09:50] dipak-pawar opened #519 "StatsLogsResultCallback is not releasing thread only for Tomcat Container."
Bug

##### Issue Overview
When Using tomcat container with Recorder dependency added in your class path. Test execution is going in infinite loop due to StatsLogsResultcallback onComplete event.

##### Expected Behaviour
Test execution should be finished within few minutes.

##### Current Behaviour
Test execution is not finishing & going in infinite state.

##### Steps To Reproduce
1. run ftest-re

[2016-11-09 11:24] #517 closed

[2016-11-09 13:22] #515 closed

[2016-11-11 14:16] #519 closed

[2016-11-17 11:39] #461 closed

[2016-11-17 11:42] lordofthejars opened #522 "Add support for OpenCompose"
Add support for OpenCompose format (https://github.com/redhat-developer/opencompose)

[2016-11-17 11:54] jamesnetherton opened #523 "Multiple image tags pulled if a specific tag is not specified in the container spec"
##### Issue Overview

I wiped out all of my Docker images and ran a WildFly Arquillian Cube test. Here's what the cube config looked like:

[code]

Note that I did not specify a tag on the image. My test was hung at this message:

[code]

When I ran `docker images`, I noticed that every tag for the image was being pulled.

##### Expected Behaviour

If no tag is specified on the image name then I'd

[2016-11-18 08:38] lordofthejars commented on #523
Hi thanks for the report, in fact this behaviour is implemented in `docker-java` library and not cube itself. I am going to check if any new version of `docker-java` fixes this/it is the expected behaviour and then decide where to fix it. Thank you very much for using cube.

[2016-11-18 08:53] lordofthejars commented on #523
In fact notice that according to Docker documentation:

So it is the expected behaviour so it is not a bug. What we are going to do in Cube is to set `latest` in case of not setting a tag.

[2016-11-18 09:04] #523 closed

[2016-11-18 10:32] jamesnetherton opened #525 "Docker uri with tcp:// scheme incorrectly forces tlsVerify on OS X"
##### Issue Overview

On OS X if the `tcp` `dockerUri` scheme is used, cube forces `tlsVerify = true` and sets a `certPath` property. I think the problem code is [here](https://github.com/arquillian/arquillian-cube/blob/24a35347eae45a622be133f4705c588dd0ee807a/docker/docker/src/main/java/org/arquillian/cube/docker/impl/client/CubeDockerConfigurationResolver.java#L208-L252). `TLS_VERIFY` config pro

[2016-11-18 10:53] jamesnetherton commented on #525
The simple workaround for this would be to explicitly set `tlsVerify=false` in the arq config. But it should work OOTB IMO.

[2016-11-18 11:00] lordofthejars commented on #525
But if you use `tcp://localhost` it means that you are using native docker installation in MacOS? I said this because AFAIK `docker-java` does not support this mode yet.

[2016-11-18 11:08] jamesnetherton commented on #525
Ah - localhost was a bad example. My colleague was hooking into a docker instance that was exposed from within a VM. So it was `tcp://vm-host-name:2375`.

[2016-11-18 11:13] lordofthejars commented on #525
ah ok :) Right what I think it is happening in your case is that when scheme is `tcp` does not enter to the if to set it to false. https://github.com/arquillian/arquillian-cube/blob/24a35347eae45a622be133f4705c588dd0ee807a/docker/docker/src/main/java/org/arquillian/cube/docker/impl/client/CubeDockerConfigurationResolver.java#L213 So this if should contain tcp scheme as well. I will fix it. Thanks

[2016-11-18 12:15] jamesnetherton opened #527 "Unable to use ArquillianConditionalRunner for in-container tests"
##### Issue Overview

I'd like to make use of `ArquillianConditionalRunner` and most of the other good stuff in the `org.arquillian.cube.requirement` package for in-container tests (E.g on WildFly).

If I try to do this I get a `ClassNotFoundException`. I guess a workaround would be to add this class / package to my test deployment, but this would need to be duplicated on each and every test case.

[2016-11-28 06:52] lordofthejars opened #530 "Change from configuring RestAssured using static code to RequestSpecBuilder"
##### Issue Overview

Change from configuring RestAssured using static code to RequestSpecBuilder

[code]

[2016-11-28 11:06] #525 closed

[2016-11-29 10:54] iocanel opened #532 "Openshift containerless tests failing"
I am trying to further align Kubernetes and Openshift extensions and I hit an issue with the

https://github.com/arquillian/arquillian-cube/blob/89bbab824658182dad9a3364cd1c97df0c86b88e/openshift/ftest-containerless/src/test/java/org/arquillian/cube/openshift/ftest/test/IndexTestCase.java

failing with: https://gist.github.com/iocanel/9c5de5eda14b4149c080b93b2eb90ef1

and

https://github.com/arqui

[2016-11-29 10:54] iocanel commented on #532
@jwendell: can you please have a look?

[2016-12-13 13:22] iocanel commented on #532
Any news on that? @jwendell, @rcernich?

I want to continue the work that has been done on #493 and I am pretty much blocked, since the tests fails and I need an indication that I didn't break something.

[2016-12-13 17:52] rcernich commented on #532
I'm not sure what the issue might be.  I'm not familiar with those tests, but it looks like it's doing a docker build on src/test/resources/wildfly/DockerfileTemplate and using the resulting image for the pod.  That said, the errors seem to indicate an issue with CDI (NPE on the CDIBeanTestCase).  Sorry I can't be of more help.

[2016-12-13 18:01] kintergration commented on #532
@rcernich: Thanks for the response. That's my understanding too. In one case it seems that its CDI related, and the other is that the default url resource provider returns null.

Maybe I should ask @aslakknutsen which seems to be the author.

[2016-12-17 17:26] iocanel commented on #527
@jamesnetherton: what's you @Deployment look like?

[2016-12-19 09:45] jamesnetherton commented on #527
@iocanel It was the simplest possible `@Deployment` method. Something like:

[code]

I guess that the problem lies with `CubeAuxiliaryArchiveAppender`. `ArquillianConditionalRunner` is not part of the generated archive, hence it's not available to tests running inside of containers. You can demonstrate this with:

[code]

[2016-12-19 12:58] dipak-pawar opened #536 "[Enhacement] Implement Reporter Integration"
Implementation of reporter integration.

User should be able to get report with configuration file & session status which include Pods, Services, Replication controller, namespace etc.

[2016-12-20 07:59] #536 closed

[2016-12-20 11:48] #530 closed

[2016-12-21 10:47] spec0p commented on #57
Has any decision been made on how to solve this? Are we dependent on some kind of action from the docker-java project, or is something that i could try to create pull request for?

[2016-12-21 10:52] lordofthejars commented on #57
It is something related to docker-java, we provided a PR to them that didn't use any jaxrs implementation, just plain java, but they discarded

[2016-12-21 14:06] foxlegend opened #538 "OutOfMemoryError when copying logs from docker container"
##### Issue Overview

Using the "log" directive into a "beforeStop" section results in an OutOfMemoryError exception.

[code]

##### Expected Behaviour

Logs should be copied into the specified target directory.

##### Current Behaviour

An OutOfMemoryError is raised (I'm sorry, I didn't used the details balise as it doesn't take into account indents, etc.) :

[code]

##### Steps To Reproduce
1. W

[2016-12-21 14:10] lordofthejars commented on #538
First of all thank you very much for using Arquillian Cube and reporting such a bug. When I implemented this it was more like a feature not really sure that would be used or not. Now it seems it has so sense and needs to be fixed.

So Absolutely for a PR!!!!

[2016-12-21 14:25] foxlegend commented on #322
Thinking about that: removing workaround would break Cube compatibility with older versions of Docker… Is this something wanted?

BTW the hijack problem was indeed fixed in the docker 1.12 release ;) I could have a try removing the workaround, and building a Docker container with Cube to confirm the resolution, if you're interested.

[2016-12-21 16:25] spec0p commented on #57
I have been using the workaround on this thread for some time and it actually worked until i had to place a dependency on resteasy-client.  I wouldn't mind to put some effort on at least trying solve this. What are the alternatives?

[2016-12-21 17:09] lordofthejars commented on #57
don't know, I would say wait until Java 9 modules comes. It is  a classloader problem because of transitive dependency of docker-java cc/ @bartoszmajsak

[2016-12-21 17:11] lordofthejars commented on #322
I would say first step let's see if it is fixed, if we are sure that now it works, let's discuss with @bartoszmajsak the best strategy

[2016-12-21 18:33] spec0p commented on #57
Good point about the Java 9 modules.

[2016-12-22 07:40] dipak-pawar opened #539 "[Enhancement] Add support to show multiple configuration files in reporter"
##### Issue Overview
All configuration files should be accessible from report.

[2016-12-22 12:34] foxlegend commented on #538
It seems I made a mistake… I was working against an older Arquillian Cube version which docker-java version was not updated (to be honest, I was working with the Alpha5… It took me some time to notice it).

With the latest version of cube, logs are fetched with a callback class, which writes directly in the outpustream without buffering issues (introduced in newer versions of docker-java)… Then, t

[2016-12-22 12:55] bartoszmajsak commented on #538
Hey @foxlegend no need for apologies. Thank you so much for effort investigating it and coming back with detailed feedback.

[2016-12-22 12:55] #538 closed

[2017-01-02 22:55] adriano-fonseca opened #541 "conteinerless in docker doesn't work"
I have some simple integrations tests running in this project.
https://github.com/adriano-fonseca/PlayWithJEE

Using chameleon to run a managed wildfly everything runs nicelly. But, when I try to run an docker wildfly conteinerless through the **wildfly-docker-image** maven profile, I got the error "Containerless container should be built using a Dockerfile, and no templatePath property found for

[2017-01-07 15:08] adriano-fonseca commented on #280
I am trying put arquilian-cube to run integration tests against wildfly 9 running in a container, follow your github project arquillian-example-cube-helloworld @aslakknutsen, and I got the same error when running the arquilian container wildfly-docker-image. Did you resolve that? I am using arquillian 1.1.8.Final and 1.0.0.Alpha15. Any help would be welcome. The project on github is https://github

[2017-01-07 15:18] lordofthejars commented on #280
The problem is that the image does not contains `ss` command installed. What you need to do is change the polling strategy to another one (for example `waitforit` http://arquillian.org/arquillian-cube/#_await) or create your own Docker image with `ss` comand installed. Notice that in Alpha16, not released yet, in case of not having `ss` command installed it will fallback automatically to waitforit

[2017-01-07 15:25] lordofthejars commented on #541
Yes it seems this problem you mention, but do you need containerless in this case? Usually containerless is for applications written in other language rather than Java or for CLI applications (Spring Boot for example) that you want to deploy a microdeployment.

I think that maybe if your test does not need to deploy anything, since Docker image already contains everything then you might use Arquil

[2017-01-07 15:28] lordofthejars commented on #527
Probably you are right, next week I'll try to reproduce it and find a solution.

[2017-01-07 16:18] adriano-fonseca commented on #541
Thank you for the feedback @lordofthejars, actually, this is a study case. I really intend to use this approach in a micro-services context. I just got this project to test, because it is simple. To Java projects that I have been working, I have used chameleon, but only because it is not running in containers.

You have the point the approach that you suggested me really fits to my case. You got o

[2017-01-07 16:55] adriano-fonseca commented on #280
@lordofthejars I follow your advice and created my own jboss image with iproute(which provides the ss command) and then the arquilian ran the tests. However, even the container have started (and I know that because I can see the wildfly welcome page on the host port that I bind on arquilian.xml) I got the follow error for each one of my tests:

Caused by: java.lang.IllegalStateException: Error lau

[2017-01-07 16:58] bartoszmajsak commented on #541
Hey @adriano-fonseca thanks a lot for all your feedback! We are really curious about your microservices study so don't hesitate to ping us with any question or idea. Either here or on http://discuss.arquillian.org/

[2017-01-07 17:10] adriano-fonseca commented on #541
Hello @bartoszmajsak,  very nice of you ASAP I will share with the community. That it is a really good place to started.

[2017-01-09 09:17] #539 closed

[2017-01-09 09:33] lordofthejars commented on #541
Hi, it seems that it should work. Just one thing are you in Linux? Also notice that you are trying to reach port 8082, but in your arquillian.xml there is no pot binding to that port https://github.com/adriano-fonseca/PlayWithJEE/blob/master/src/test/resources/arquillian.xml#L59

[2017-01-09 13:12] hemanik opened #544 "Alternative media format for UI videos."
##### Issue Overview

Currently recorded VNC session is in flash (.flv) format which is no longer supported by HTML hence rendering the video as non playable in reports.
Conversion from flv to another format like mp4 needed for video support in HTML reports.

##### Expected Behaviour

VNC session recording to have .mp4 media format that is supported by HTML.

##### Current Behaviour

VNC session r

[2017-01-10 00:02] adriano-fonseca commented on #541
@lordofthejars, Yes, I am on ubuntu 16.04. Actually, I had changed the port on arquillian.xml, but I forgot to push to github, now it is already pushed. I am really stuck on this point.

About your previous comment...

"I think that maybe if your test does not need to deploy anything, since Docker image already contains everything then you might use Arquillian Standalone. Something like "

I was t

[2017-01-10 09:18] #527 closed

[2017-01-10 14:46] #544 closed

[2017-01-10 17:00] lordofthejars commented on #541
I am just suggesting another way of doing this. I will need some time to investigate what it is happening to you in this case, I will try to isolate the problem and provides you a solution ASAP after current sprint.

[2017-01-10 17:02] lordofthejars commented on #541
Regarding

There is a bug somewhere in code, trying to find where and fixing it.

[2017-01-10 17:07] lordofthejars commented on #541
BTW have you tried in using Wildfly 8.1.0 instead of 9.0.0?

[2017-01-10 17:15] lordofthejars commented on #541
Ok for `IllegalArgumentException` you need to add next property in `arquillian.xml` `<property name="definitionFormat">CUBE</property>` to set format to CUBE.

[2017-01-10 20:49] adriano-fonseca commented on #541
Thank you again for attention @lordofthejars.

1. about the isse:

"java.lang.IllegalArgumentException: Containerless container should be built using a Dockerfile, and no templatePath property found for container."

That was  my mistake, I had inverted the file names in my configuration in some point, trying alternative configuration to address the problem with the conflict from jersey version.

2

[2017-01-11 09:54] lordofthejars commented on #541
One question do you have the problem when running in containerless way or chameleon or both?

[2017-01-11 12:56] adriano-fonseca commented on #541
All qualifiers with chameleonTarget run without problem. The error that I descibed up there is related to containerlessDocker qualifier. I could run against docker container using wildfly-docker. However, I have a need that I am not sure if the Cube addresses.  I need to stop and remove the cointeiner the my tests created and started on host where the tests are running, when the tests finished. I

[2017-01-11 12:59] lordofthejars commented on #541
Yes running same containers in same docker host makes  a conflict this error is not related to Cube but to Docker. You can fix this concurrency using http://arquillian.org/arquillian-cube/#_parallel_execution

[2017-01-11 13:03] lordofthejars commented on #541
So the thing that you cannot run (apart from Jenkins problem which is related on how Docker manages images), is in containerless right? But I am not seeing why you need containerless with WildFly. If you don't want to deploy anything you can use standalone mode and if you want to deploy something you can use exactly what you are doing with chameleon.

[2017-01-11 13:49] adriano-fonseca commented on #541
Yes, you are right. As I said before I got what I need  using  that container set.

<container qualifier="wildfly-docker" default="false">
	<configuration>
		<property name="chameleonTarget">wildfly:9.0.0.Final:remote</property>
		<property name="username">admin</property>
		<property name="password">Admin#70365</property>
	</configuration>
</container>

[2017-01-11 13:58] adriano-fonseca commented on #541
The Star Operator it is exactly what I need. But every time I will created a new container there and they will accumulate right? That is a waste of space in my view. One time that cube has created e started the container they should stop and removed this container at the and of the tests. There is a way to do that?

[2017-01-11 13:59] lordofthejars commented on #541
It is automatically removed (even the build one) using Alpha16.

[2017-01-11 14:00] adriano-fonseca commented on #541
About configure Cube here to debug it.
I am having the follow the dependencies error. On project arquilian-cube-ftest and On project arquilian-cube-docker. Follows my maven settings.xml:

<?xml version="1.0" encoding="UTF-8"?>
<settings
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
	xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:x

[2017-01-11 14:00] adriano-fonseca commented on #541
Alpha16 it is already available?

[2017-01-11 14:00] lordofthejars commented on #541
yes, it was released this morning :)

[2017-01-11 14:01] adriano-fonseca commented on #541
Awesome.

[2017-01-11 14:01] adriano-fonseca commented on #541
So I think that this containers remains there when I have some problem on my build.

[2017-01-11 14:05] lordofthejars commented on #541
yes, sometimes if there is a runtime exception, the image is not removed. It is a bug we are trying to address and we did some fixes but probably there are still some bits not considered.

[2017-01-11 14:21] adriano-fonseca commented on #541
Am I using the right repository to get snapshots version in order to build cube?

[2017-01-11 14:27] lordofthejars commented on #541
SNAPSHOTS are not released. You should clone the cube repository and import it in your IDE and it should works perfectly.

[2017-01-11 14:40] adriano-fonseca commented on #541
I did that and I am having problem with its dependencies.

[2017-01-11 15:13] lordofthejars commented on #541
But it is strange because now I am not sure why you get problems, maybe a proxy that does not download any required dependency. Can you tried `mvn install -DskipTests`? Maybe @bartoszmajsak has any idea about this.

[2017-01-11 15:33] jamesnetherton opened #547 "CubeController.create() does not pull the image if it's not present"
##### Issue Overview

When attempting to use `CubeController.create()`, if the image is not present then the operation fails.

Maybe this is the expected (or even desired?) behaviour. But having to manually pre-pull stuff is kinda painful, especially in CI scenario.

##### Expected Behaviour

` CubeController.create()` pulls the image if it's not present.

##### Current Behaviour

An exception is

[2017-01-11 17:11] adriano-fonseca commented on #541
With skip Tests worked. Thank you.

[2017-01-12 07:36] dipak-pawar opened #548 "docker-compose Functional tests are failing due to `Unsupported major.minor version 52.0`"
##### Issue Overview
docker-compose v1 /  docker-compose v2 Functional tests are failing due to `Unsupported major.minor version 52.0` for tomcat.

##### Expected Behaviour
All functional tests should pass.

##### Current Behaviour
functional tests are failing.

##### Steps To Reproduce
1. From the root of project run `mvn test -pl docker/ftest-docker-compose-v2`

[2017-01-12 12:56] #548 closed

[2017-01-17 21:41] lordofthejars opened #551 "Simplifies Graphene URL autoresolution"
##### Issue Overview

Need to simplify all autoresolution IP and Ports in Graphene autoresolution

##### Expected Behaviour

Remove all logic of autoresolving ports and absolute paths and make that if url starts with `dockerHost` then docker host ip, if it is an IP then no resolution and if it is an string then internally we resolve this as container name and internal IP is retrieved.

##### Curre

[2017-01-18 13:06] #551 closed

[2017-01-18 13:07] lordofthejars commented on #547
It is not easy to provide this in the sense that for Docker the operations are create, start and pull not `createAndStartAndPullIfNecessary` and we are trying to be Docker compliant in this sense, but maybe we could provide any helper or something but not clear idea right now. cc/ @bartoszmajsak

[2017-01-18 13:12] lordofthejars opened #553 "Provide URL enrichment for standalone mode"
##### Issue Overview

Currently when running Arquillian Cube in standalone mode, you have no way to inject a URL of kind `dockerhost:portbinding/context`, you need to construct yourself by enriching test with required data and then construct the URL.

##### Expected Behaviour

[code]

##### Current Behaviour

[code]

[2017-01-18 21:57] lordofthejars opened #554 "Refactor ftest-containerobject project"
##### Issue Overview

Refactor `ftest-containerobject` so instead of using Ping Pong container which is not a real example of when to use Container Objects pattern and change it to use an FTP server (https://github.com/m-creations/docker-openwrt-ftp) with Apache Commons (https://commons.apache.org/proper/commons-net/apidocs/org/apache/commons/net/ftp/FTPClient.html)

##### Expected Behaviour

Use

[2017-01-19 06:56] lordofthejars opened #555 "Create Environment variables for Container objects"
##### Issue Overview

If you want to set environment variables in containers defined in a container object you can only do it by creating a custom Dockerfile.

Create an `@Environment` annotation that can be repeated to set them.

##### Expected Behaviour

[code]

[2017-01-19 14:07] #553 closed

[2017-01-19 15:42] #555 closed

[2017-01-23 17:03] #554 closed

[2017-01-23 17:04] lordofthejars opened #559 "Create @Volumes in Container Object pattern"
##### Issue Overview

Create @Volumes in Container Object pattern so user can specify volumes to be used in Container Object pattern.

##### Expected Behaviour
Support volumes

##### Current Behaviour
Not supported for volumes

[2017-01-24 09:29] #559 closed

[2017-01-24 09:52] lordofthejars commented on #547
The strange thing is that after reviewing the code it seems it should work @jamesnetherton can you share the project so it can be debugged?

[2017-01-24 09:57] lordofthejars commented on #483
@jwendell @iocanel I have reviewed that there are several issues interrelated between them about integration of kubernetes/openshift (or even a PR https://github.com/arquillian/arquillian-cube/pull/493) how we can proceed about this?

[2017-01-24 14:26] jamesnetherton commented on #547
You're right. This does actually work fine so I'll close this issue.

I think the thing that is screwing this up for me is that I have CXF dependencies present on the classpath. These conflict with the docker java client and the jersey stuff. Thus I get unpredictable behaviour.

[2017-01-24 14:26] #547 closed

[2017-01-24 14:31] lordofthejars commented on #547
Nice to hear that, this is something that we are working with @bartoszmajsak to change from `docker-client` to `fabric8-docker` so we don't have JAXRS classpath problems.

[2017-01-25 09:10] iocanel commented on #483
My main issue is that currently there are tests that are broken in the openshift extension so I can't really do any kind of refactoring (I can't know if I broke something or not).

So we can either fix tests and refactor later, or ignore tests, refactor and fix later if needed.

[2017-01-25 15:18] iocanel commented on #483
@lordofthejars: fwiw i created #561 which for now seems to build / test with no issues.

[2017-01-27 18:07] rivasdiaz opened #562 "Support @CubeIp annotations in Container Objects"
##### Issue Overview

Currently (as of 1.0.0.Alpha16) a container object can get the ```@HostIp``` and ```@HostPort``` annotations enriched, but not ```@CubeIp``` annotations.

##### Expected Behaviour

If I have a container object with a field annotated with ```@CubeIp```, the field should be populated with the docker client IP, the same way test classes work

##### Current Behaviour

fields anno

[2017-01-29 20:02] #562 closed

[2017-01-29 20:32] rivasdiaz opened #564 "Allow creating cubes from container objects programatically"
##### Issue Overview

With CubeController we can create/destroy cubes that are pre-configured in arquillian.xml. There is no API to create/destroy cubes defined as container objects.

##### Expected Behaviour

I would like to be able to write code like this:

[code]
And have a docker container created and destroyed from the container object definition.

##### Current Behaviour

There is no API for

[2017-01-29 20:39] rivasdiaz commented on #564
I think I can work on implementing this feature, but I would like input on how to expose the API. Extending CubeController seems like the logical option for me, but this interface is also implemented by other Cube implementations (other than Docker), while container objects seems to be Docker only. And I haven't seen any public API specific to Container Objects.

[2017-01-31 10:41] lordofthejars commented on #483
I can close this issue since PR is merged isn't it?

[2017-01-31 10:42] lordofthejars commented on #494
I think this is done in PR right? https://github.com/arquillian/arquillian-cube/pull/561

[2017-01-31 10:48] lordofthejars commented on #474
I fixed this so I close the issue. Thanks.

[2017-01-31 10:48] #474 closed

[2017-01-31 14:12] lordofthejars commented on #564
Currently `CubeController` is only implemented in Docker, so the interface can be updated with methods:

[code]

There are two implementations because one is used when using as client test mode and the other one when it is used in a test running in container. But since container objects are only supported in client mode, in case of `ContainerCubeController` implementation you can just throw an `Un

[2017-01-31 15:08] lordofthejars opened #565 "Add @DockerUrl support for RestAssured enricher"
##### Issue Overview

Currently when using RestAssured integration you need to specify port information in `arquillian.xml`, or a default algorithm to find the exposed port is used.

[code]

But as user it might be easier to get all required information using `@DockerUrl` annotation.

[code]

##### Expected Behaviour

[code]

To set configuration.

##### Current Behaviour

[code]

[code]

[2017-01-31 15:13] rivasdiaz commented on #564
I was working on possible solution by defining a new interface like this:

[code]
Where:
```cubeId``` would allow (if not null) to specify/override the name of the container.
```containerObjectClass``` is the Container Object class; and
```containerObjectContainer``` (if not null) would allow registering the container to that class so if it is a test class, it can be stopped automatically at the e

[2017-01-31 15:25] rivasdiaz commented on #564
That package is definitely not the best name, ```org.arquillian.cube.docker.impl.client.containerobject``` name implies an implementation/internal package. I think all those annotations should probably be moved to a new ```org.arquillian.cube.docker.annotations.containerobject``` and/or ```org.arquillian.cube.docker.api.containerobject``` package similar to how it is in the kubernetes module. But

[2017-02-01 11:36] #565 closed

[2017-02-01 11:39] lordofthejars commented on #564
Hello, I like the idea you mention here, so instead of adding the method to `CubeController` you are creating a ContainerObjectFactory, I think it is a good point of start. Go ahead with this.

Thank you so much for your collaboration.

[2017-02-01 11:50] lordofthejars opened #567 "Move Ping strategy to use Awaitability"
##### Issue Overview

Move Ping strategy to use Awaitability https://github.com/awaitility/awaitility with Fibonacci approach using seconds

##### Expected Behaviour

Use Fibonacci approach provided by awaitability.

##### Current Behaviour

Simple polling is used.

[2017-02-02 15:05] lordofthejars commented on #494
@iocanel is this enricher provided both for K8s and OpenShift?

[2017-02-02 15:21] iocanel commented on #494
Yes

[2017-02-02 15:24] lordofthejars commented on #494
So I can close the issue right?

[2017-02-02 15:25] #494 closed

[2017-02-02 16:40] lordofthejars commented on #494
Ok now that this is merged, do we have a path to merge fabric8 arquillian thing into this in a safe way and just maintain one project?

[2017-02-02 17:22] iocanel commented on #494
I think that we pretty much need to merge new stuff and fixes that have gone in since October.

However, not all fixes are applicable since a lot of stuff have been fixed at the client level. We will have to selectively pick a project or two and migrate them.

[2017-02-02 17:23] iocanel commented on #494
... and see where we stand.

[2017-02-02 17:25] lordofthejars commented on #494
right. Thank you very much for effort in standardization this.

[2017-02-02 17:33] lordofthejars commented on #494
Maybe the idea would be that fabric8 project depends on this project. Then there will be only one code base

[2017-02-02 18:38] iocanel commented on #494
Interesting idea....

[2017-02-03 15:05] lordofthejars opened #568 "Port application server autoresolution fails"
##### Issue Overview

Port application server autoresolution fails in case the configuration object contains an attribute with substring `port` but not returning a type of integer.

##### Expected Behaviour

Properties with `port` substring and returning a none integer should not be considered eligible to autoresolution.

##### Current Behaviour

Class cast exception is thrown.

[2017-02-03 17:49] #568 closed

[2017-02-04 15:12] lordofthejars commented on #564
@rivasdiaz Just asking, no rush, how is going everything?

[2017-02-04 15:39] rivasdiaz commented on #564
@lordofthejars I have made a lot of progress. I had to refactor ```CubeContainerObjectTestEnricher``` so both the ```ContainerObjectFactory``` and the ```CubeContainerObjectTestEnricher``` create containers using the same code.

I have a question. The configuration is usually extracted from the container object class, and can be overridden by annotations on the field that points to the container o

[2017-02-04 17:29] lordofthejars commented on #564
No rush about this, just wanted to know if you find any blockee.

You are right about override, I think that for these cases it has sense.

El 4 feb. 2017 4:40 p. m., "Ramon Rivas" <notifications@github.com>
escribió:

[2017-02-06 06:36] lordofthejars opened #570 "Arquillian Cube and data populators"
##### Issue Overview

Arquillian Cube can be really interesting to be used for end to end tests, integration tests or contract tests, since you can setup your testing environment on a docker-compose file (for example databases required by the service or other services).

The important point here is that sometimes before executing a test you want to clean (or not) a database , then populate it with

[2017-02-06 07:12] lordofthejars opened #571 "Create an Arquillian Cube BOM"
##### Issue Overview

Create an Arquillian Cube BOM

[2017-02-06 07:28] lordofthejars opened #572 "Add AssertJ matcher for current running processes"
##### Issue Overview

Add AssertJ matcher for current running processes
Code of assertions is placed athttps://github.com/arquillian/arquillian-cube/tree/master/docker/assertj

##### Expected Behaviour

You can assert on current running processes doing `assertThat(docker).container("mycontainer").hasProcessRunning("name of process")`

##### Current Behaviour

[2017-02-06 16:34] dipak-pawar commented on #572
@lordofthejars Just wondering what will be the use case of this assertion scenario?

Does this name imply only name of process OR it also includes PID?

[2017-02-06 16:37] lordofthejars commented on #572
The idea is that user can validate its Dockerfile

[2017-02-06 16:42] dipak-pawar commented on #572
could you please give me some example where you can give process name in dockerfile which start the process by same name inside container?

[2017-02-06 16:44] lordofthejars commented on #572
well in Dockerfile you can do `CMD /usr/local/tomcat/catalina.sh start` then I want to validate that tomcat is really started. In this case it is pretty obvious but imagine that a container are running some daemon processes and you want to check that they are really working.

After that we should implement another assertion which is `canExecute` but this is another thing.

[2017-02-06 16:48] dipak-pawar commented on #572
I think instead of checking process running by it's name, we should check port is exposed by running telnet or some other networking tools.

I am not sure about process name & it's naming convention strategy. I have seen but I didn't find process name for any running process.

[2017-02-06 16:49] lordofthejars commented on #572
exposed port is already checked in assertj. The process in case of Tomcat is for example `java` right?

[2017-02-06 17:02] dipak-pawar commented on #572
sure. but it might be possible at the same time you will have two java process inside container. what about adding n with `withSize()` methos to it? Something like

`assertThat(docker).container("mycontainer").hasProcessRunning("name of process").withSize(2)`

[2017-02-06 17:04] lordofthejars commented on #572
yes in theory this should not happen since one container should be one process. But yes maybe you are right about doing in that way.

[2017-02-06 17:05] dipak-pawar commented on #572
nopes. theory is correct. I realize it later.

[2017-02-06 17:05] lordofthejars commented on #572
:)

[2017-02-06 17:45] dipak-pawar commented on #572
@lordofthejars above situation can be possible in the case of systemd. I mean if we are starting systemd  which is starting some other processes.

[2017-02-09 14:12] #571 closed

[2017-02-09 17:50] #572 closed

[2017-02-09 17:51] lordofthejars opened #577 "Improvements for Kubernetes and Openshift"
##### Issue Overview

* Upgrade to the latest kubernets-client.
* Remove the await logic from kubernetes module and use the clients waitUntilReady.
* Add Openshift specific implementation for the Namespace service.

[2017-02-09 17:52] #577 closed

[2017-02-10 10:34] lordofthejars opened #581 "Add resource providers for Deployments, ReplicaSet and DeploymentConf enrichers"
##### Issue Overview

Add resource providers for Deployments, ReplicaSet and DeploymentConf enrichers.

https://github.com/arquillian/arquillian-cube/pull/579

[2017-02-10 10:35] #581 closed

[2017-02-10 10:36] lordofthejars opened #582 "Deprecate and stop using redundant method"
##### Issue Overview
We only use NamespaceService.clean() method only before we destroy a namespace, which is so redundant.
Let's stop using it and deprecate it, before we completely wipe it.

https://github.com/arquillian/arquillian-cube/pull/580

[2017-02-10 10:49] #582 closed

[2017-02-17 12:15] cescoffier opened #585 "Could not run @AfterSuite when using OpenShift Online"
##### Issue Overview

Surefire failures when running Kubernetes test against an Openshift instance with limited permission (Openshift Online).

##### Expected Behaviour

The tests have been successfully executed. But the build fails, because in the @AfterSuite, it tries to modify the project (removing / adding a label ?).

I'm using the following ENV variables:

* NAMESPACE_USE_EXISTING=vertx-it
*

[2017-02-17 14:44] lordofthejars commented on #585
Probably cleaning resources like namespace created. @iocanel any workaround for this?

[2017-02-17 14:50] iocanel commented on #585
I think that this has been fixed as part of  https://github.com/arquillian/arquillian-cube/commit/b34e6c9209492424432a04cf1688dd73f04f00f0.

Will check when I get back home!

[2017-02-17 14:51] lordofthejars commented on #585
Ok then latest Alpha should contain the fix

[2017-02-17 14:59] cescoffier commented on #585
I'm using 1.0.0.Alpha18.

[2017-02-17 16:26] iocanel commented on #585
Ok, then I'll have a look during the weekend.

[2017-02-17 19:03] pwoelfle commented on #392
In which way it is possible to inject the host port or url to the Arquillian test?
I have tried following, but `hostPort` and `containerUrl` return `0` and `null`:
[code]
Did I missed something?

I think the problem is the equals-check in `org.arquillian.cube.impl.model.LocalCubeRegistry#getCube(java.lang.String)`. A simple solution could be something like:

[code]

A better solution in my opinion

[2017-02-17 19:49] lordofthejars commented on #392
You are totally right, you can contribute with PR or if you cannot, I am
going to work with a fix next week

Thank you very much for your help on improving Cube

Alex

El 17 feb. 2017 8:03 p. m., "Pascal Wölfle" <notifications@github.com>
escribió:

In which way it is possible to inject the host port or url to the
Arquillian test?
I have tried following, but hostPort and containerUrl return 0 and

[2017-02-17 20:08] pwoelfle commented on #392
Thank you Alex for your fast answer. I will create a PR in the next days.

[2017-02-17 23:43] pwoelfle commented on #392
@lordofthejars PR created: https://github.com/arquillian/arquillian-cube/pull/586

[2017-02-18 12:56] iocanel commented on #585
I think that the problem is that the OpenshiftNamespaceService does not override the annotate() method.
This results in `trying to annotate the namespace instead of the project` which causes a permission issue.

I'll fix the OpenshiftNamespaceService asap.

[2017-02-20 11:29] lordofthejars opened #590 "Allow creating immutable variations of the core kubernetes services"
##### Issue Overview

The kubernetes extension, is creating a shutdown hook, that it performs cleanup if the test is aborted.

This does not play nicely, mostly because all Instance.get() return null, during the shutdown hook (like the DI framework is unavailable).

The only possible solution is to create and use immutable variations of the services that are DI free.

[2017-02-20 11:29] lordofthejars commented on #590
https://github.com/arquillian/arquillian-cube/pull/584

[2017-02-20 11:29] #590 closed

[2017-02-20 11:30] lordofthejars opened #591 "Openshift configuration now extends the kubernetes configuration"
##### Issue Overview

Noways, the Openshift extension works on top of the Kubernetes extension.

However, their lifecycles are not aligned, so there is no synergy between them and also can be a source of issues.

This pull request further aligns the two extesions:

Aligns configuration and clients
Creates and starts auto containers within the environment created by the kubernetes extension.

#####

[2017-02-20 11:30] lordofthejars commented on #591
https://github.com/arquillian/arquillian-cube/pull/587

[2017-02-20 11:30] #591 closed

[2017-02-20 11:33] lordofthejars commented on #585
@cescoffier Fixed and this is going to be released in Alpha19 during this week. It would be awesome to have some screenrecording/blog post about this use case because I think it is really interesting for K8s + OpenShift users.

[2017-02-20 11:33] #585 closed

[2017-02-20 12:42] cescoffier commented on #585
Thanks @lordofthejars and @iocanel ! Awesome work. I will continue migrating my test suite to Cube Arquillian (and open issues if needed ;-)). I can write a blog post or do some screen recording when I've something that I would consider as "done".

I'm working on this test suite: https://github.com/cescoffier/vertx-openshift-it

[2017-02-21 07:02] dipak-pawar opened #592 "Functional tests are failing for Kubernetes"
##### Issue Overview
Arquillian Test Enricher is not working if used it like this.
 ` @Named("hello-world-service")
   @PortForward
    @ArquillianResource
    URL url;
`
Could not lookup value for field java.net.URL HelloWorldTest.url

##### Expected Behaviour
Test should enrich URL.

##### Current Behaviour
Getting exemption as `java.lang.RuntimeException: Could not lookup value for field java.n

[2017-02-21 08:22] lordofthejars opened #593 "Using star operator with @HostPort and @DockerUrl"
##### Issue Overview

`@HostPort` and `@DockerUrl` are not star-operator aware.

##### Expected Behaviour

[code]

##### Current Behaviour

[2017-02-21 08:23] lordofthejars commented on #593
https://github.com/arquillian/arquillian-cube/pull/586

[2017-02-21 08:23] #593 closed

[2017-02-21 12:21] lordofthejars opened #595 "OpenShift improvements broken during generalization to K8s"
##### Issue Overview

This pull requests fixes some things that have been broken in the openshift extension.

##### Expected Behaviour

* Re-enable image building in openshift.
* Kubernetes Service URL Provider now delegates to the next resource provider if target resource is not @Named, so that it doesn't mask other providers.
* Fix potential NPE when event doesn't contain a test class with packa

[2017-02-21 12:22] lordofthejars commented on #595
https://github.com/arquillian/arquillian-cube/pull/594

[2017-02-21 12:22] #595 closed

[2017-02-23 05:57] lordofthejars opened #597 "Automatic Resolution of Docker elements"
##### Issue Overview

Automatic Resolution of Docker files like `docker-compose` or `Dockerfile`

##### Expected Behaviour

If user *does not* set `dockerContainers` nor `dockerContainersFile/s` then it would be great that Arquillian Cube does next things:

1) search in `/docker-compose.y(a)ml` if found then it is used
2) if not then search in `/src/test/docker/docker-compose.y(a)ml`
3) if not `/s

[2017-02-23 06:08] dipak-pawar commented on #597
@lordofthejars Idea looks good. But I would look for following locations.
1. project's current dir.
2. test resources dir -> recursively look for docker-compose.yml OR Dockerfile in all directories inside test resources.
3. main resources -> recursively look for docker-compose.yml OR Dockerfile in all directories inside test resources.

In this way we are not forcing user to put docker file inside

[2017-02-23 06:16] lordofthejars opened #598 "Changing polling in case of polling strategy failing"
##### Issue Overview

Currently we are using `sscomand` and if not found then `waitforit` command. None of them works in Alpine based images. I would suggest to change the fallback so if `ss` or `waitforit` does not work then relay on ping command which is slower but at least it works automatically for Alpine users.

##### Expected Behaviour

Ping option for Alpine users.

##### Current Behaviour

[2017-02-23 06:18] lordofthejars commented on #597
@dipak-pawar I agree with you, the problem is that I have seen some people putting these files in `src/main/docker` which it is not a resources dir. SO we can do what you mention + `src/main(test)/docker`

[2017-02-23 06:20] dipak-pawar commented on #597
@lordofthejars I would assume priority for `src/main(test)/docker` as last.

[2017-02-23 06:24] lordofthejars commented on #597
Easy: https://twitter.com/alexsotob/status/834649977599193088

[2017-02-23 07:33] bartoszmajsak commented on #597
From my point of view we should look it up in the following way:

1. Project root folder
2. `src/{main,test}/docker`
3. `src/{main,test}/resources`

I doubt we will have files in more than one place listed above, but you never know, so in such a case I would report and suggest configuration (still taking precedence as a default).

[2017-02-23 08:05] MatousJobanek commented on #597
Well, from my point of view the directory `src/{main,test}/docker` is definitely not the correct place where you should keep our test resources. For this purpose, there is the `resources` directory and I would really avoid creating this new "dummy" directory for docker related things and I would keep the convention. In addition, the files are not connected to the java project anyhow - they're just

[2017-02-23 08:06] bartoszmajsak commented on #597
@MatousJobanek I saw it used quite a lot to be honest. Therefore if we find such a directory user does it by purpose. That's why my suggested order.

[2017-02-23 08:33] lordofthejars commented on #597
Also adding in src/main/resources means that goes inside JAR. What I have seen in a lot of places is the `src/main/docker` as well.

[2017-02-23 09:46] MatousJobanek commented on #597
Ok, I don't have the experience so I cannot judge.

yeah, in this case, I would expect a `docker` directory inside of the resources directory

For me the path `src/main/docker` looks just weird, but it is probably because I don't have enough experience with it...

[2017-02-23 10:09] bartoszmajsak commented on #597
We are not trying to promote anything, just handle locations where ppl put it.

[2017-02-23 10:11] lordofthejars commented on #597
@MatousJobanek neither do I I have the experience, but I think there is nothing clear in this sense. But for now of 30 votes (64% of people choose `src/main/docker`)

[2017-02-24 06:49] lordofthejars opened #599 "Add support for healthchecks in docker-compose"
##### Issue Overview

Add support for health checks in docker-compose. Currently `docker-java` dos not support health checks at docker image level https://github.com/docker-java/docker-java/pull/805 but we can add support for docker-compose. https://docs.docker.com/compose/compose-file/#healthcheck

##### Expected Behaviour

Add support for health checks. If Array of `test` does not start with `CM

[2017-02-26 23:44] eddumelendez opened #604 "Move tests from assertj-docker-java module from groovy to java"
##### Issue Overview

Tell us briefly what the problem is about.

##### Expected Behaviour

##### Current Behaviour

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Additional Information

Anything relevant to help us resolving the problem. For example if you are using `mvn` you can share output for `mvn --version` as well as dependencies in use `mvn dependency:tree`. OS as well as JDK ver

[2017-02-26 23:44] eddumelendez opened #605 "Support SoftAssertions in assertj-docker-java module"

[2017-02-27 06:52] bartoszmajsak commented on #605
Thanks for the suggestion. We've been discussing it several times and in fact some the assertions should have soft assertions in it. We should definitely unify this behaviour. Would you have a moment to implement it?

[2017-02-27 07:03] lordofthejars opened #606 "Add new Asserts for Docker version"
##### Issue Overview

Add new Asserts for Docker version

##### Expected Behaviour

[code]

[2017-02-27 07:03] lordofthejars commented on #606
https://github.com/arquillian/arquillian-cube/pull/602

[2017-02-27 07:03] #606 closed

[2017-02-27 07:07] lordofthejars opened #607 "Add new asserts for labels"
##### Issue Overview

Add new asserts for labels

##### Expected Behaviour

##### Current Behaviour

[code]

[2017-02-27 07:08] lordofthejars commented on #607
https://github.com/arquillian/arquillian-cube/pull/603

[2017-02-27 07:08] #607 closed

[2017-02-27 07:19] eddumelendez commented on #605
Yes, I will. Just adding for the record :)

[2017-02-27 07:24] bartoszmajsak commented on #605
Great!

[2017-02-27 07:46] lordofthejars commented on #597
Final results:

`src/main/docker` 53%
`src/main/resources/docker` 35%
`src/main/resources` 12%

And then we have other users using `/` and `src/distribution`

So my bets are:

1) `src/{test, main}/docker` (first test if not main)
2) `/`
3) `src/distribution`
4) `src/{test, main}/resources/docker`
5) `src/{test, main}/resources`

I have left the `resources` ones to latest because they can be consid

[2017-02-27 08:37] dipak-pawar opened #608 "Create standalone Hello-world ftest-example for cube-openshift."

[2017-02-27 09:39] #598 closed

[2017-02-27 17:34] rivasdiaz opened #610 "test case using a container object and @CubeIp annotated field in multiple methods fails to set the value of the field"
##### Issue Overview

If a test uses the same container object in multiple test methods and uses ```@CubeIp``` annotation (either inside the container object or on the test class), then only the first method call will have the cube ip set.

##### Expected Behaviour

fields annotated with ```@CubeIp``` should have the internal cube address injected before each test method is executed

##### Current

[2017-02-27 23:16] sylvermining commented on #604
Hi @eddumelendez ,
Please, could work on this.
Regards

[2017-02-28 15:59] dipak-pawar commented on #592
Now these tests are running fine. Maybe we did some enhancement #595 in this later. Now it's running fine. Hence closing this issue.

[2017-02-28 15:59] #592 closed

[2017-03-01 07:02] lordofthejars commented on #608
@dipak-pawar since there is already an ftest using standalone, has it sense to create another one?

[2017-03-01 07:03] dipak-pawar commented on #608
@lordofthejars we have it for kubernetes. not for openshift.

[2017-03-01 07:06] lordofthejars commented on #608
Ah Right sorry, I mixed this with another story. Thanks for the clarification.

[2017-03-01 07:07] bartoszmajsak commented on #608
Just wondering how we can set it up in the CI env to actually run such tests. Minishift?

[2017-03-01 07:08] lordofthejars commented on #608
I think that this could be an option, the other one would be use openshift origin

[2017-03-01 07:10] dipak-pawar commented on #608
@bartoszmajsak  minishift or `oc cluster up`

[2017-03-01 11:49] #564 closed

[2017-03-01 11:55] lordofthejars opened #614 "Migrate Recorder code to the new Reporter API"
##### Issue Overview

Migrate Recorder code to the new Reporter API

[2017-03-01 11:56] lordofthejars commented on #614
It implies modification of Cube, Docker and Kubernetes projects.

[2017-03-02 15:59] #597 closed

[2017-03-06 08:53] lordofthejars opened #619 "Defines new Cube using a DSL"
##### Issue Overview

Defines new Cube using a DSL, could be something like:

[code]

[2017-03-07 14:02] #608 closed

[2017-03-07 14:03] lordofthejars commented on #570
Moved to APE, so we can close this issue in Cube project.

[2017-03-07 14:03] #570 closed

[2017-03-07 15:38] acidowl opened #620 "Star operator not working with docker-compose file"
Hi,

as the title says: the star operator is not working with a docker-compose file.
My docker-compose.yaml:

[code]

Console output:
[code]

My dependencies:

[code]

docker --version: ```1.12.6 build 78d1802```
Java -version: ```java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)```
uname -a: ```Linux lt-

[2017-03-07 16:46] lordofthejars commented on #620
Thank you very much for using Arquillian Cube and sorry for this inconvenience. Tomorrow morning I will take a look and provide a fix and release a new version with the fix.

[2017-03-08 09:43] lordofthejars commented on #620
Hi I have written an `ftest` using star operator and docker compose and in my case it works.

So next questions are: have you tried the same without star operator? Just to discard where it is the problem if in the star operator or in another place. And also can you provide a full stack trace of the failure so we can detect where is the problem?

Thank you very much.

[2017-03-08 10:14] acidowl commented on #620
Hi, without the star operator it is working fine in sequential order.

Here's the full stacktrace:
[code]

Thank you for your help!

[2017-03-08 10:42] lordofthejars commented on #620
Finally can you also paste the arquillian.xml?

[2017-03-08 10:45] acidowl commented on #620
Sure, forgot to add it:
[code]

[2017-03-08 11:08] lordofthejars commented on #610
I think there is a major bug on this, I have tried with Alpha19 and what I get is that the cube container object is trying to get started N times, being N the number of test methods to be executed.

[2017-03-08 13:22] lordofthejars commented on #610
Hi, I have been investigating a bit and I created next test:

[code]

First problem I found and it was a bug was that second test that was executed throws an exception because the container were already started. This happens because in JUnit nullifies all fields after each test method execution, so it means that for each test method the enrichers are run, so the first time the `Cube` was started a

[2017-03-08 13:50] lordofthejars commented on #620
I have found the problem, you've found an error when putting custom properties in containers managed by star operator. :) Thank you very much.

[2017-03-08 15:12] lordofthejars commented on #620
Ok I have found that there is no bug, you need to change

[code]

to

[code]
Notice that you need to add star operator as well.

I have updated the example as well.

[2017-03-08 15:19] #620 closed

[2017-03-08 15:20] #610 closed

[2017-03-08 17:51] rivasdiaz commented on #610
I was expecting that the containers would be created before each method and destroyed after each method. I see a lot of potential problems in not doing it that way. For example if I'm using a container that runs a DB, and I store data on the container for one test method, then if the container is still the same in the next method, the data will be there and so affect the execution of other test me

[2017-03-08 18:00] lordofthejars commented on #610
Well about enrichers, now we have what we have hehehe, and it works as this, we should see if we can improve somehow, probably a solution would be injecting the cube things in BeforeEnrichment event instead of in Enrichment itself.

About stoping the container we can change it to be test method, it is really easy. The problem I see is a performance problem of starting and stopping container for ea

[2017-03-08 18:37] rivasdiaz commented on #610
About starting/stopping containers:
I think an annotation, or maybe just an additional parameter in @Cube would be perfect. Actually I see it as something similar to the connectionMode for the cube extension. For example STARTORCONNECTANDLEAVE would imply creating the container once and reusing it every time. Does STARTANDSTOP creates it per test class, per test method, or only at the beginning of

[2017-03-09 06:26] lordofthejars commented on #610
About enrichers I agree with you, let's wait because I am going to ask about ideas in next cabal to see if we can modify Arquilian core to adapt this feature, or just put something specific for Cube.

About second thing, Arquillian has two phases the one that only works if you configure Arquillian in embedded or managed way that is starting and stopping the application server. This operations happ

[2017-03-09 15:32] rivasdiaz commented on #610
Sounds good to me.

The way things are, the two issues we have been discussing should be additional enhancement requests instead, and agree with you that the default should be that containers will live for the whole time the test class is being executed.

About this particular bug, I just tested my sample test case (the one I mention in the initial report) and it still doesn't work with master, (i

[2017-03-09 17:00] lordofthejars commented on #610
I'll take a look or this evening or tomorrow morning. But I suspect that enricher is executed before CubeRegistry contains the container object registered.

[2017-03-09 21:10] rivasdiaz commented on #610
I just added a new test case to my example project. The new test case creates a new container object dynamically using ContainerObjectFactory on each method, and destroy is at the end of each method. The test passes OK with 1.0.0.Alpha19 but fails with current master.

[2017-03-10 06:59] lordofthejars commented on #610
I will try it but I suspect that when you stop a container you need to remember to remove it from cube registry. When a container object is created you add the definition in cube registry, so when you remove it you also need to remove from there. If not then (maybe) AfterClassContaierObject is trying to stop a none existing container, but I will need to see if my supposition is ok or not.

[2017-03-10 09:28] iocanel opened #626 "Problem overriding properties in the openshift extension."
`CubeOpenshfitConfiguration` is extending `DefaultConfiguration`. The first one is managed by the openshift extension, while the second one is managed by the kubernetes extension.

The problem is that some objects (e.g. `SessionManager`) may get injected with the `DefaultConfiguration` practically ignoring all configuration set by the openshift extension. For example, the snippet bellow has no eff

[2017-03-10 09:39] lordofthejars commented on #626
Yes overriding objects is something fully supported in Arquillian and we use this approach for example in Drone + Cube integration.

[2017-03-10 10:01] dipak-pawar commented on #626
@iocanel , we are injecting `DefaultConfiguration` object first, then we are injecting `OpenshiftConfiguration` object. But in the session manager we are using object of DefaultConfiguration which is weired.

If we are using openshift extension then we should use  OpenshiftConfiguration object inn SessionManager instead of using DefaultConfiguration object each time, then we won't have this proble

[2017-03-10 10:04] iocanel commented on #626
@dipak-pawar: exactly!

[2017-03-10 18:19] rivasdiaz commented on #610
In version 1.0.0.Alpha19, at least with container objects created dynamically with ContainerObjectFactory, I can create a container at the beginning of a test method, then stop and destroy it at the end of the method. If I do the same in all my test methods, it works as expected. That means that cube.destroy is probably cleaning up everything. Something in master is breaking that behavior.

[2017-03-10 19:25] lordofthejars commented on #610
The problem is that stop and remove operations does not remove instance
from cube registry. So the second execution fails because cube thinks that
container is still up and running.
By design you cannot mix start a container with cube automatic method and
then stopped manually. If you check the factory object you crested you'll
notice that when you are starting you are also registering in cube reg

[2017-03-11 09:37] iocanel opened #629 "Prepare for 1.0.0.Alpha20"
We have a lot of good stuff in the last couple of days, so it may be a good time for a new alpha release?

[2017-03-11 09:56] iocanel commented on #629
Ideally after #630 gets in :-)

[2017-03-11 16:08] lordofthejars commented on #629
Sure, they are free

El 11 mar. 2017 10:57 a. m., "Ioannis Canellos" <notifications@github.com>
escribió:

[2017-03-12 08:19] lordofthejars commented on #629
Let me review tomorrow with @bartoszmajsak https://github.com/arquillian/arquillian-cube/pull/628 and then we release it.

[2017-03-13 10:43] lordofthejars commented on #610
Look in master branch we have this https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/main/java/org/arquillian/cube/docker/impl/client/containerobject/DockerContainerObjectBuilder.java#L409 so since `stop` and `destroy` are not touching the cube registry, cube still thinks contaienrs are running. As I mention in previous comment, you cannot mix lifecycle managements. Or yo

[2017-03-14 13:45] RadekKoubsky opened #631 "[Arquillian Cube - OpenShift] Running IT tests within a temporary/separate project requires admin privileges"
##### Issue Overview
Hello,
we are working on integration tests for [Obsidian Toaster Quickstarts](https://github.com/obsidian-toaster-quickstarts), we want to use Arquillian Cube, the OpenShift extension.

Arquillian Cube requires admin privileges when running IT tests in a temporary/separate OpenShift project (e.g. create a new temporary project, run IT tests against it, delete the project). Our

[2017-03-14 14:01] #619 closed

[2017-03-14 15:20] #614 closed

[2017-03-14 15:20] lordofthejars commented on #629
Done

[2017-03-14 15:20] #629 closed

[2017-03-14 15:24] lordofthejars commented on #629
@iocanel With latest Misc PRs do you need to update something from documentation?

[2017-03-14 15:30] iocanel commented on #629
Yes, there are new stuff that we need to document. Mostly, the ability to use shell scripts from setting up the test namespace. I'll get on it ASAP.

[2017-03-14 15:35] lordofthejars commented on #629
Cool thank you, so when we have this we will be able to do the announcements with the what's new :D

[2017-03-15 08:57] mgparada opened #632 "Problems with Private Registry"
##### Issue Overview

I have an Arquillian Cube working building my own images, but some days ago I just config a private Registry (under ssl and with user&pass) and trying to pull the images from it, fails always.

PS: I can pull images from Registry manually ;-) So it's not a Registry misconfiguration or something like this.

##### Expected Behaviour

I expect that Arquillian downloads (pull) im

[2017-03-15 09:31] RadekKoubsky opened #633 "[Arquillian Cube - OpenShift] An example of use of the OpenShift extension that creates a new project for an integration test"
I am working on an integration test ([here is the code I use](https://github.com/RadekKoubsky/rest_springboot-tomcat/tree/arquillian-cube-integration-test-openshift)) that is executed in a separate project. I am using fabric8-maven-plugin (FMP) to deploy the infrastructure in OpenShift, the expected workflow is as follows:

1) mvn fabric8:resource + mvn fabric8:build
FMP creates required resources

[2017-03-15 09:46] dipak-pawar commented on #633
Thank you for Reporting this @RadekKoubsky.

We have recently added change for overriding all properties of k8s extension using openshift extension.

We are about to release new version of arquillian-cube.

If you want to give a try install snapshot dependency of arquillian-cube with latest master & use it in your project. Please have a look into https://github.com/arquillian/arquillian-cube/tree/

[2017-03-15 09:52] dipak-pawar commented on #632
Thank you for reporting this issue @mgparada. I'll take a look into this today.

[2017-03-15 09:54] RadekKoubsky commented on #633
There is another issue I ran into using the kubernetes extension (I didn't even get there with the openshift extension). When the integraion test creates its own project in OpenShift, it seems like Arquillian Cube creates (using Kubernetes Client) just empty project (which does not create required OpenShift resources) instead of making request for a new project (this tells OpenShift to create a ne

[2017-03-15 09:55] RadekKoubsky commented on #633
Thanks for your quick reply @dipak-pawar
I will try it with the latest snapshot.

[2017-03-15 10:12] lordofthejars commented on #633
Alpha20 was released yesterday, so when synced with maben central you can
grab it from there. It is already in public jboss nexus

El 15 mar. 2017 10:55 a. m., "Radek Koubsky" <notifications@github.com>
escribió:

[2017-03-15 10:35] mgparada commented on #632
Update:

As @lordofthejars said, I tried to Docker-Compose file but still failing. The error is a bit different, but seems that is ignoring the dockerRegistry property.
My arquillian.xml:

[code]

and the error is like that:

[code]

Starting with docker-compose works like a charm. I cannot figure out which could be the problem..

[2017-03-15 10:40] lordofthejars commented on #632
Dipak can you check if in DockerClientExecutor class in its constructor if
this property is set?

El 15 mar. 2017 11:35 a. m., "Mauro Gómez Parada" <notifications@github.com>
escribió:

[2017-03-15 10:50] dipak-pawar commented on #632
@lordofthejars We are setting it inside DcokerClientExecutor class in it's constructor.

[2017-03-15 10:54] lordofthejars commented on #632
Ok, then maybe it is an error in docker-java library.

El 15 mar. 2017 11:50 a. m., "Dipak Pawar" <notifications@github.com>
escribió:

[2017-03-15 11:05] iocanel commented on #633
Regarding configuration it shouldn't matter if the user passes the configuration via kubernetes or openshift extension. For example the two examples bellow are equivalent:

      <extension qualifier="kubernetes">
        <property name="env.config.url">file:${project.basedir}/target/classes/META-INF/fabric8/openshift.yml</property>
     </extension>

This is equivalent to:

      <extension quali

[2017-03-15 12:22] RadekKoubsky commented on #633
This is the problem, FMP generates `openshift.yml`, but also `my-project-is.yml` which contains image stream with the app image. I need to tell Arquillian Cube to read the `my-project-is.yml`, import the app image and then deploy it. I do not know any other way to build and deploy the app image (that is created using FMP) in context "create a separate project per integration test".

The example of

[2017-03-15 13:01] iocanel commented on #633
In theory fmp should do take care of building the image, creating image streams etc. This is something that should work file if we use an existing project, but it can be problematic if arquillian creates a random project.

It needs some thought.

[2017-03-15 19:27] eddumelendez commented on #604
@sylvermining any news on this? No rush :)

[2017-03-15 21:58] lordofthejars commented on #632
I have found the bug. It is in our code. As a workaround you can do this https://github.com/docker-java/docker-java#properties-docker-javaproperties

[2017-03-15 22:16] mgparada commented on #632
wops, thanks @lordofthejars. Tomorrow I'll check it out.

[2017-03-15 22:20] lordofthejars commented on #632
Tomorrow I will also try to provide a PR with the fix.

@bartoszmajsak We should release alpha21 when this fixed since it is an important bug.

[2017-03-16 07:56] bartoszmajsak commented on #632
Any time you feel like it @lordofthejars

[2017-03-16 10:07] RadekKoubsky opened #635 "[Arquillian Cube - OpenShift] arquillian.xml openshift extension ignores kubernetes properties"
Hello,
please take a look at the following [arquillian.xml](https://github.com/RadekKoubsky/rest_springboot-tomcat/blob/arquillian-cube-integration-test-openshift/src/test/resources/arquillian.xml#L8) file. I want to use an existing namespace for integration test, thus, I have kubernetes `<property name="env.init.enabled">false</property>` defined within my openshift extension element.

if you run

[2017-03-16 10:12] RadekKoubsky opened #636 "[Arquillian Cube - OpenShift] Could not set value on field io.fabric8.openshift.client.OpenShiftClient"
##### Issue Overview

When I want to use io.fabric8.openshift.client.OpenShiftClient within my [integration test](https://github.com/RadekKoubsky/rest_springboot-tomcat/blob/arquillian-cube-integration-test-openshift/src/test/java/org/obsidiantoaster/quickstart/OpenShiftIT.java#L33), it throws:
`java.lang.RuntimeException: Could not set value on field io.fabric8.openshift.client.OpenShiftClient or

[2017-03-16 10:31] dipak-pawar commented on #635
@RadekKoubsky

There is no need to use snapshot dependency as 1.0.0.Alpha20 is available in maven central.

If you are using k8s or openshift extension, If you have kubernetes.json file available in class path there is no need to provide env.config.url, it will take by default.

If you want to use different file e.g. with name(openshift.json) you have to use `env.config.resource.name
` property. i

[2017-03-16 11:23] cougil opened #637 "Arquillian template variables to populate kubernetes files"
It will be great to have the possibility to use some Arquillian cube variables inside Kubernetes files, like `config-maps.yaml` or `kubernetes.json`, in order to be populated dynamically.
It happens that due of some specific projects (ex: ribbon) it is required to define some specific values inside the yaml that holds all the configuration of the application. It will be great to have the possibili

[2017-03-16 12:24] RadekKoubsky commented on #635
Thanks for reply @dipak-pawar
I am running into several issues while playing with the arquillian cube configuration, I will try to make it clear.

My confusion comes from the following functionality:
1) `<property name="env.init.enabled">false</property>` in arquillian.xml
If I run `mvn verify -Popenshift-it -Dnamespace.use.existing=my-project`, I expect that runtime values are:
namespace.use.exis

[2017-03-17 08:45] lordofthejars commented on #632
@mgparada I have pushed a new version of cube at https://github.com/lordofthejars/arquillian-cube/tree/issue-632 But the funny thing is that I have created an example of using another docker registry https://bintray.com/lordofthejars/continuous_delivery/lordofthejars%3Acomposer And I have not configured anything. I have *not* set the `dockerRegistry` property and my docker-compose file just contai

[2017-03-17 08:55] mgparada commented on #632
Thanks @lordofthejars! I'll check it out and i'll use this snapshot while the new release not coming out.

[2017-03-17 09:02] lordofthejars commented on #632
Basically before merging PR to upstream I want to validate that this fixes
your problem since I have not been able to test exactly the same as your
case

El 17 mar. 2017 9:55 a. m., "Mauro Gómez Parada" <notifications@github.com>
escribió:

[2017-03-17 15:19] iocanel opened #639 "Implement a feedback mechanism when the Kubernetes/Openshift environment initialization timesout."
Sometimes a build may fail due to timeout. Looking at the console and seeing the pod, service etc that timed out doesn't really help.

It would be amazing if we could grab the logs and events of the pod that is responsible for the timeout.

[2017-03-20 09:12] mgparada commented on #632
Hi @lordofthejars, sorry for the delay!
I'm trying this new version but still fails. I just find a problem parsing the image key and creating the Image object.

In Image.java class, inside the valueOf function, you're setting the image properties (nam & tag), but the switch does not contemplate some options.. in my case: my image url is something like:
```registry.mauro.com:1234/my/custom/repo/myi

[2017-03-20 09:38] lordofthejars commented on #632
I have not seen any example like you mention before :) watching public docker repositories I have always seen the same pattern. Anyway, if it works on `docker-machine` it means we need to add support as well. So from your previous example `registry.mauro.com:1234` is the private host. `my/custom/repo` is the organization, `myimage` is the image name and `latest` the tag right?

[2017-03-20 09:56] mgparada commented on #632
uhm.. yep, i'm watching and you're right! may be i should change my namespaces format... :)

Yes, in my case I using this format:

- _domain_: registry.domain.xxx:port
- _namespace_: my/registry/namespace
- _image name_: myimage
- _version_: latest

but i guess that version could be ```latest``` or something like ```1.2.3```, right?

[2017-03-20 09:58] lordofthejars commented on #632
yes, this is not a problem. But this format works on docker-machine right?

[2017-03-20 10:03] mgparada commented on #632
yep, it's working. I test it in docker  > v1.12

[2017-03-20 10:04] lordofthejars commented on #632
ok, then we need to add this specific use case as well. Thank you so much.

[2017-03-20 10:07] mgparada commented on #632
Ok, perfect! Thank you so much for your work! ;-)

[2017-03-20 11:09] lordofthejars commented on #632
@mgparada At https://github.com/arquillian/arquillian-cube/pull/640 you've got a version that works with multiple levels in organization name. Can you give it a try please? Tests passes, but what I would like to see is working with private registry :)

[2017-03-20 14:27] mgparada commented on #632
Yay! it's working now! Thx! ;)

[2017-03-20 15:23] lordofthejars commented on #632
Thank you very much for your patience and reporting the bug. Now it is merged and shipped in next release.

[2017-03-20 15:23] #632 closed

[2017-03-20 15:24] lordofthejars commented on #632
https://github.com/arquillian/arquillian-cube/pull/640

[2017-03-20 16:17] RadekKoubsky commented on #633
@iocanel
I have discussed this with others in team. We agreed on that the following scenario of using FMP and Arquillian for creating a new it-test namespace is valid an should work from Arquillian perspective.

Lets assume we are not using OpenShift Online, thus we can have more than one project.

A user has two environments (projects), the first one is DEV, their regular workspace. The second on

[2017-03-21 09:47] cougil opened #641 "Request hangs calling 2 times with arquillian-cube-kubernetes with port forwarding in same test"
Bug report

##### Issue Overview

We are using Rest-assured with Arquillian-cube and Arquillian-cube-kubernetes in order to verify that our microservice deployed into k8s works as expected.

We have found that we are not able to run 2 different requests in the same test, may be because of the PortForwarding mechanism, after running the 1st request, the 2nd doest not work properly. Once the first r

[2017-03-22 22:57] iocanel commented on #641
@cougil: I modified https://github.com/arquillian/arquillian-cube/blob/6fef22f15073a58997db9ca436bdfc5dbc634926/kubernetes/ftest-kubernetes/src/test/java/HelloWorldTest.java#L48-L47 so that it does the call multiple times, but I wan't able to reproduce the issue. I even made sure that after each call I gracefully stop the client etc and don't see any issue.

[2017-03-23 08:43] lordofthejars commented on #639
https://github.com/arquillian/arquillian-cube/pull/642

[2017-03-23 08:44] #639 closed

[2017-03-23 08:50] lordofthejars commented on #641
@cougil Can you try to put a debug point at first line of the test, then execute manually using curl, Postman or any CLI tool the test (Exactly the same with same parameters and so on) and see if you get the same result or not. Just to try to find if the problem might be in using REST-Assured, or maybe in a JVM, or any other strange thing. This kind of errors usually are because there are a slight

[2017-03-23 11:23] lordofthejars commented on #637
+1 on this.

[2017-03-23 11:24] lordofthejars opened #645 "Add OpenShift Client Resource Provider"

[2017-03-23 11:24] lordofthejars commented on #645
https://github.com/arquillian/arquillian-cube/pull/644

[2017-03-23 11:25] #645 closed

[2017-03-23 14:55] jelmew opened #646 "Possibility for more custom strategies besides customAwaitStrategy. (E.G customBeforeStopStrategy)"
##### Issue Overview

BeforeStop events can be very restrictive at times. For integration with jacoco-agent, we would like to be able to send an request to the container (POST call) to shut down the jvm before we stop the container, so that some information is more complete.  There already is an AwaitStrategy that can be implemented, for custom AwaitStrategies. would something similar also be poss

[2017-03-23 15:09] lordofthejars commented on #646
Hi, first of all thank you very much for using Cube. So first of all please feel free to provide a PR, they are more than welcome, and we can help you in anything.

Second really nice use case, are you planning to write about it?

Finally notice that if you are using in-container approach (`@Deployment method`) (not standalone) you can use https://github.com/arquillian/arquillian-extension-jacoco

[2017-03-24 08:53] lordofthejars commented on #637
@iocanel do you want I take this issue?

[2017-03-24 09:07] iocanel commented on #637
@lordofthejars: if you have the cycles it would be nice.

Let me know if you need anything.

[2017-03-24 09:08] lordofthejars commented on #637
Sure thank you so much. Probably not something I could do right now but in the near future.

[2017-03-24 10:26] lordofthejars opened #647 "Port range is not supported in docker-compose"
##### Issue Overview

Port range is not supported in docker-compose

##### Expected Behaviour

[code]

Should resolve port range syntax

##### Current Behaviour

Integer Parse error is thrown.

[2017-03-24 15:54] lordofthejars opened #648 "Update to latest Arquillian Core"
Update to latest Arquillian Core 1.1.13

[2017-03-27 08:23] jelmew commented on #646
Hi,
I'll try try to make something for a PR, it seems like a nice exercise.

[2017-03-27 09:58] mahnkong opened #649 "Mounting a host path into a container does not work using docker-compose file"
##### Issue Overview

A configured host path mount in a docker-compose file is not mounted correctly when the container gets created using arquillian-cube.

Example docker-compose file looks as below:
[code]

##### Expected Behaviour
When the container is started, the content of the host directory '/tmp/www' should be available inside the container directory '/usr/share/nginx/html'. This works fin

[2017-03-27 10:01] lordofthejars opened #650 "Add possibility to ignore docker-compose location / (and default ones)"
Add possibility to ignore docker-compose location / (and default ones)

[2017-03-27 10:03] lordofthejars commented on #649
Hi, thank you very much for using Arquillian Cube and reporting this, can you send us the console output as well?

[2017-03-27 10:40] cougil commented on #641
Hi dudes!

We've checked that something weird is happening in our environment: the pods (we need 2 because one depends of a DB) already started correctly before the test launches. Also after we put a breakpoint in the first line of the test and we verified that we can call the microservice using another CLI tool (`curl` in our case) and the service works as expected. The problem again is if we con

[2017-03-27 10:41] mahnkong commented on #649
Please find the requested console output below:
[code]

[2017-03-27 14:22] cougil commented on #641
I think we found the issue: the problem was that there were some dependency problems with `Spring platform` (we are using _Athens-RELEASE_) &| `Spring-cloud` (we were using _Camden.SR3_) and some libraries were overrided by the ones provided by Spring. We were including this dependencies while running `Arquillian` tests:

[code]

also this configuration provoques to us to add the following exclusi

[2017-03-27 16:11] lordofthejars commented on #641
:) cool thank you very much for everything.  In fact I always suggest to maintain the independence of everything create a core module which only contains business code and unit tests and then create one new module for each kind of tests.

[2017-03-27 16:11] #641 closed

[2017-03-27 17:34] lordofthejars commented on #649
Thank you for reporting, tomorrow morning I will take a look and fixing it.

[2017-03-28 08:20] #648 closed

[2017-03-28 09:02] lordofthejars commented on #649
The problem is on binding things, when you create a volume, the docker API also requires you bind them. Working on this now.

[2017-03-28 12:29] #649 closed

[2017-03-28 15:40] #647 closed

[2017-03-29 05:41] dipak-pawar opened #653 "Getting Stackoverflow while running ftests k8s with .yaml extension"
##### Issue Overview

Tell us briefly what the problem is about.

##### Expected Behaviour
Ftests should run fine.

##### Current Behaviour
Getting Stackoverflow error while running ftests.

##### Steps To Reproduce
1.Run ftest

[2017-03-29 06:36] bartoszmajsak commented on #653
We need findbugs integrated... Thanks @dipak-pawar

[2017-03-29 07:41] #653 closed

[2017-03-30 07:40] lordofthejars opened #657 "Added condition to cover also a possible specification of the mount permission (i.e. /source:/target:ro)"

[2017-03-30 07:41] #657 closed

[2017-03-30 11:10] jelmew commented on #646
Hi, I made a rudimentary implementation. It is still WIP, but I wanted to check if the general idea is a good one.

[2017-03-31 14:42] #626 closed

[2017-04-03 16:47] jamesnetherton opened #660 "AbstractCliInternetAddressResolver attempts to execute commands that may not exist"
##### Issue Overview

I'm using Arquillian Cube in my testsuite together with the `@RequiresDocker` annotation. All seems to be well on *nix.

On Windows I hit a problem if no Docker client is available. `AbstractCliInternetAddressResolver.getIp()` is trying to execute `boot2docker`.

Should it not be checking that the target executable is available before attempting to execute it? It'd make more

[2017-04-03 22:42] dcdh opened #661 "Multiple service implementations found for interface org.jboss.arquillian.container.spi.client.container.DeployableContainer"
##### Issue Overview
Hello, I am unable to execute an arquillian cube container on my wildfly swarm project.

##### Expected Behaviour
My integration test are executed under docker containers.
##### Current Behaviour
When launching my test using *mvn integration-test* un exception is raised:

<details>
java.lang.RuntimeException: Could not create new instance of class org.jboss.arquillian.test.imp

[2017-04-04 08:17] jamesnetherton opened #662 "TLS verification is not configured correctly"
##### Issue Overview

I chose to run my test suite against a Docker daemon that's running within a VM. I have the following environment variables configured:

[code]

My expectation would be that Arquillian Cube uses HTTPs to talk to the Docker REST API. But it seems to be trying to use plain HTTP.

If I debug my way through `CubeDockerConfigurationResolver.resolveTlsVerification` it seems `DOCKER

[2017-04-04 08:34] bartoszmajsak commented on #660
Thanks a lot for yet another detailed issue. Would it be possible for you to help us fixing it on Windows?

[2017-04-04 09:01] jamesnetherton commented on #660
Yes, no problem. I'll work on a fix shortly.

[2017-04-04 09:01] bartoszmajsak commented on #660
Thanks a million! If you need anything just ping us.

[2017-04-04 11:34] lordofthejars commented on #661
Hi, the problem is that you are configuring Arquillian with two Deployable Containers. You need to choose one or another. In your case the two containers are wildfly swarm and cube containerless.

[code]

Since I suppose you want to run tests using Docker, then you'll need to remove `org.wildfly.swarm:arquillian`. Notice that if you want to develop both kind of tests, one possible approach would b

[2017-04-04 13:48] #660 closed

[2017-04-04 15:06] jamesnetherton opened #664 "Uncaught ExecutionException in CubeDockerConfigurator"
##### Issue Overview

Similar to #660. When cube initializes, it runs through [`CubeDockerConfigurator.configure`](https://github.com/arquillian/arquillian-cube/blob/8bcf1960df5be7b2536884e4d2d3513ae21e53cb/docker/docker/src/main/java/org/arquillian/cube/docker/impl/client/CubeDockerConfigurator.java#L63). The potential exists for executables like docker-machine or Boot2Docker to not be available.

[2017-04-05 12:17] #661 closed

[2017-04-05 12:17] #646 closed

[2017-04-05 12:36] lordofthejars commented on #662
Are you running the test in IDE or CLI?

[2017-04-05 12:43] #664 closed

[2017-04-05 12:45] jamesnetherton commented on #662
From the command line.

[2017-04-05 12:51] lordofthejars commented on #662
Ok, thanks I am going to try to reproduce with a JUnit test :)

[2017-04-05 12:57] lordofthejars commented on #662
your `arquillian.xml` is empty right? I mean you are not setting there any cert path

[2017-04-05 12:59] lordofthejars commented on #662
And you are running in Linux or Mac/Windows?

[2017-04-05 13:26] jamesnetherton commented on #662
Running on Linux. Here's my `arquillian.xml` config for the docker extension:

[code]

Then I have the following environment variables set:

[code]

Should also mention that the test is running in-container with WildFly.

[2017-04-05 15:24] lordofthejars commented on #662
Can you try if this version https://github.com/arquillian/arquillian-cube/pull/667 works for you? I have been able to reproduce in a unit test but I have no linux to test it.

[2017-04-05 15:37] jamesnetherton commented on #662
That seems to work much better. Thanks!

[2017-04-05 15:40] jamesnetherton commented on #662
Any chance of having a new release soon?

[2017-04-05 16:27] lordofthejars commented on #662
Let's see if we can do it this week. cc/ @bartoszmajsak

[2017-04-05 16:27] #662 closed

[2017-04-05 19:44] bartoszmajsak commented on #662
Whenever you say it's ready @lordofthejars

[2017-04-06 09:44] #650 closed

[2017-04-06 10:28] lordofthejars opened #669 "Add support for @HealthCheck annotation"
Add support for @Healthcheck annotation. It is an annotation way of configuring `await` (http://arquillian.org/arquillian-cube/#_await) http strategy.

This is really convenient for services such as Wildfly or Wildfly Swarm where port is opened before app is deployed.

`@Healthcheck("/myservice/healthcheck")`

But other options might be possible:

* schema (default http)
* container name
* port (d

[2017-04-06 18:12] lordofthejars commented on #650
https://github.com/arquillian/arquillian-cube/pull/668

[2017-04-07 05:13] lordofthejars commented on #664
http://arquillian.org/blog/2017/04/06/arquillian-cube-1-1-0/

[2017-04-07 05:20] #567 closed

[2017-04-07 10:15] lordofthejars commented on #669
https://github.com/arquillian/arquillian-cube/pull/670

[2017-04-07 11:10] jelmew opened #671 "Change containerId to a value type (only) for Injecting into custom strategies for easier implementation creation."
##### Issue Overview

The containerId as used through the code is an String. This is all fine and dandy,  but when the user implements his or her own BeforeStopAction, this can become a problem when the user adds more String fields.
##### Expected Behaviour

    public class Test implements BeforeStopAction {
        private final String somethingUsedInTheImplementation = "Something";
        priv

[2017-04-07 11:20] lordofthejars commented on #671
Yes what you can use is `CubeId ` as parameter and `https://github.com/arquillian/arquillian-cube/blob/master/core/src/main/java/org/arquillian/cube/impl/model/DefaultCubeId.java` as implementation.

[2017-04-07 11:33] jelmew commented on #671
If I had known that DefaultCubeId existed, I would have used that immediately. :P. I'll make a small pull request to improve this.

[2017-04-07 11:34] lordofthejars commented on #671
:) thank you so much.

[2017-04-10 07:33] jamesnetherton opened #673 "ClassNotFoundException: org.arquillian.cube.spi.CubeControlException"
##### Issue Overview

If you use CubeController in-container:

[code]

And an exception is thrown someone within any of the cubeController method calls, it's tricky to find out exactly what went wrong, because you end up with:

[code]

[2017-04-10 10:11] bartoszmajsak commented on #673
Just curious - why would you deploy cube to wildfly? What's your usecase?

[2017-04-10 10:26] jamesnetherton commented on #673
See [here](https://github.com/wildfly-extras/wildfly-camel/tree/master/itests/standalone/docker/src/main/java/org/wildfly/camel/test). Basically to test stuff that relies on some external resources being available.

[2017-04-10 21:55] mtau11 opened #674 "java.lang.UnsupportedClassVersionError: org/arquillian/cube/impl/client/container/remote/CubeRemoteExtension"
I'm trying the Basic Example in the documentation. The example is set up to run again tutum/tomcat:7.0 which is bundled with jdk7. Is there a distribution containing this class that is compatible with jdk7?

My test fails with:

Caused by: java.lang.UnsupportedClassVersionError: org/arquillian/cube/impl/client/container/remote/CubeRemoteExtension : Unsupported major.minor version 52.0 (unable to l

[2017-04-11 04:26] dipak-pawar commented on #674
arquillian-cube is already running using `jre8`. Can  you try to tomcat image bundled with `jre8`?

Look for example tests in [docker/ftest](https://github.com/arquillian/arquillian-cube/tree/master/docker/ftest
), [Dockerfile](https://github.com/arquillian/arquillian-cube/blob/master/docker/ftest/src/test/resources/tomcat/Dockerfile) for tomcat

[2017-04-11 08:12] #669 closed

[2017-04-12 09:22] #671 closed

[2017-04-13 14:33] adhesivee opened #676 "docker-compose command results in quoted command"
I have a docker-compose.yml configuration and the problem that I have is that the action in `command` gets quoted.
I have the following files:
docker-compose.yml
[code]
Dockerfile
[code]
arquillian.xml
[code]

When I run this with Cube, then I get error:
`Caused by: com.github.dockerjava.api.exception.NotFoundException: {"message":"oci runtime error: container_linux.go:247: starting container proc

[2017-04-13 15:29] lordofthejars commented on #676
Thank you very much for using Arquillian Cube. Currently I am not sure exactly adding quotes explicitly, so I think it is a deeper bug. Look at this class https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/main/java/org/arquillian/cube/docker/impl/docker/compose/ContainerBuilder.java#L388 is where the read string from yaml file is passed into our internal class. Andnotice

[2017-04-18 05:59] #676 closed

[2017-04-18 06:00] #674 closed

[2017-04-18 07:26] lordofthejars commented on #673
Just to start discarding things, have you tried to run https://github.com/arquillian/arquillian-cube/blob/master/docker/ftest/src/test/java/org/arquillian/cube/servlet/CubeControllerTest.java

[2017-04-18 07:28] lordofthejars opened #678 "Creates JUnit Rule for Container Object DSL approach"
Creates JUnit Rule for Container Object DSL approach so users don't need to use the runner nut a JUnit rule.

[2017-04-19 16:26] #678 closed

[2017-04-19 19:08] vinsguru opened #680 "Arquillian cube should wait for all the containers to be up and running"
Unable to use Arquillian Graphene page objects with Arquillian Cube. Even before containers are ready, Arquillian Graphene/drone tries inject the page objects.

---------------

My cube compose file is as shown below.

[code]
Arquillian.xml config for docker and drone.

[code]
TestNG test using selenium grid.
[code]
I get the exception as grid does to seem to have been yet ready!!

If I add some w

[2017-04-19 20:51] lordofthejars commented on #680
Hi currently Cube starts containers following next strategy: first all containers that have no links, then containers that depends on containers already started and so on so forth. So in your docker compose `firefox` and `chrome` and then `selenium-hub`. And how Cube knows that  a container is up and running? By checking that the binded port is opened in OS level and is able to receive requests.

[2017-04-19 22:05] vinsguru commented on #680
@lordofthejars ,

This is the order in which I see the containers are starting.

1. selenium-hub
2.chrome
3.firefox

The above order is perfectly fine. chrome and firefox containers once created, should register themselves to the selenium-hub. So that hub can route the request to chrome/firefox.

The issue seems to be happening within the gap between the chrome/firefox container creation and regis

[2017-04-19 22:41] vinsguru commented on #680
@lordofthejars ,

You guys seem to have considered all the possible combinations of issues one might face!
The below config solved the issue!!

  <property name="cubeSpecificProperties">
    chrome:
      await:
        strategy: sleeping
        sleepTime: 2 s
</property>

You guys ROCK!!
Thanks.

[2017-04-19 22:42] #680 closed

[2017-04-20 04:51] lordofthejars commented on #680
Thanks for using it :)

[2017-04-20 05:11] lordofthejars opened #681 "Adds annotation for sleeping before each test"
Adds annotation for sleeping before each test. As we are giving support to `@HealthCheck` annotation, we can also provide one for static sleep. This is useful for containers where there is no http healtheck.

[2017-04-20 05:46] lordofthejars opened #683 "Adds default http await for Container Objects DSL."

[2017-04-20 05:51] #681 closed

[2017-04-20 05:52] lordofthejars commented on #680
You might be interested on this https://github.com/arquillian/arquillian-cube/pull/682 to be released in 1.2.0 which will avoid you having to use `cubeSpecificProperties`

[2017-04-21 04:41] #683 closed

[2017-04-21 04:46] lordofthejars commented on #636
Ioannis did some changes on this can you try to update to cube 1.2.0 (released today) and check https://github.com/arquillian/arquillian-cube/blob/577b49e73fb6d6ff81f47b60b9cb51e20ab007b1/openshift/ftest-standalone/src/test/java/org/arquillian/cube/openshift/standalone/HelloWorldTest.java

Notice also this warning http://arquillian.org/arquillian-cube/#_dealing_with_version_conflicts if you look c

[2017-04-21 04:52] lordofthejars commented on #631
I think that this is a must for creating a new project in OpenShift, so from our perspective we cannot do much about this. The only think you can do is reuse an existing project, but that's all.

[2017-04-21 05:52] iocanel commented on #631
FWIW, it also works with just the self-provisioner role.

[2017-04-21 09:08] RadekKoubsky commented on #631
There is another problem with OSO (Free), a user is allowed to have only one project, thus no additional project for IT tests. OSO Free has a lot of limitations, I agree with using an existing project option (so we did in the quickstarts).

[2017-04-21 09:08] #631 closed

[2017-04-24 10:46] dipak-pawar commented on #673
@jamesnetherton Could you please share your tests for which you are getting this exception. In above [link](https://github.com/wildfly-extras/wildfly-camel/tree/master/itests/standalone/docker/src/main/java/org/wildfly/camel/test) you have shared all the tests.

We have ftests which are using

[2017-04-24 12:51] jamesnetherton commented on #673
@dipak-pawar I just hacked together a basic demo here:

https://github.com/jamesnetherton/arquillian-cube-demo

I've deliberately misconfigured the 'await' params in `arquillian.xml` so that the `CubeController` will throw a `CubeControlException`. Note the resulting `ClassNotFoundException`.

[2017-04-24 12:59] dipak-pawar commented on #673
thanks @jamesnetherton. I will take a look into it tomorrow.

[2017-04-26 05:42] lordofthejars opened #685 "Add helper operations in ContainerObjectDSL"
##### Issue Overview

Add helper operations in ContainerObjectDSL such as `exec` operation or `getLog`.

[2017-04-26 05:44] lordofthejars opened #686 "Add support for Dockerfile in Container Object DSL JUnit Rule"
##### Issue Overview

Add support for Dockerfile in Container Object DSL JUnit Rule

[2017-04-26 08:14] lordofthejars opened #688 "Add support for network in JUnit Rule"

[2017-04-26 08:25] #685 closed

[2017-04-26 09:27] #686 closed

[2017-04-26 13:57] #688 closed

[2017-05-02 11:25] lordofthejars commented on #637
@iocanel One question, does this issue implies jut creating `configmaps` from Cube right?

[2017-05-08 18:44] iocanel commented on #637
my understanding is that we need to allow placeholders inside kubernetes resources pretty much like openshift templates, no?

[2017-05-08 19:12] lordofthejars commented on #637
Or like we are doing in docker compose format. Ok I ll work on it

El 8 may. 2017 8:44 p. m., "Ioannis Canellos" <notifications@github.com>
escribió:

[2017-05-09 14:00] RadekKoubsky commented on #636
Thanks for the info @lordofthejars
I changed my arq cube version to [1.2.0](https://github.com/RadekKoubsky/rest_springboot-tomcat/blob/arquillian-cube-integration-test-openshift/pom.xml#L45) and updated my test to use OpenShift client from the shaded uber jar (v2.2.12), however, getting the same exception:
[code]

Where does the class in `@RunWith(ArquillianConditionalRunner.class)` and the requi

[2017-05-09 14:14] lordofthejars commented on #636
http://arquillian.org/arquillian-cube/#_requirements_module

[2017-05-09 16:11] RadekKoubsky commented on #636
Thanks, I added the requirement dependency which let me use `@RunWith(ArquillianConditionalRunner.class)`, but encountered other problems:

a) I have `arquillian-cube-bom` defined in my pom.xml, but if I do not specify `<version>1.2.0</version>` in the `arquillian-cube-requirement` dependency, maven complains:
[code]

I tried to delete .m2 cache, did not help. Is this a problem with the bom or am

[2017-05-10 05:19] lordofthejars commented on #636
Arquilliam bom contains the requirements module https://github.com/arquillian/arquillian-cube/blob/master/bom/pom.xml#L78. So it is strange it is happening this, we should see the whole pom to see what is happening. Regarding annotation, it is located at https://github.com/arquillian/arquillian-cube/blob/master/openshift/openshift/src/main/java/org/arquillian/cube/openshift/impl/requirement/Requir

[2017-05-10 05:36] dipak-pawar commented on #636
@RadekKoubsky Can you share your pom.xml?

[2017-05-10 07:43] RadekKoubsky commented on #636
Sure, here is [pom.xml](https://github.com/RadekKoubsky/rest_springboot-tomcat/blob/arquillian-cube-integration-test-openshift/pom.xml) within my repo, branch "arquillian-cube-integration-test-openshift".

I am verifying it using the steps from the fist comment.

[2017-05-10 08:10] lordofthejars commented on #636
https://github.com/RadekKoubsky/rest_springboot-tomcat/blob/arquillian-cube-integration-test-openshift/pom.xml#L116 this should not be pom type but the default one (jar)

[2017-05-10 11:13] RadekKoubsky commented on #636
When I remove the pom type from the openshift extension dependency, the jars disappear from classpath. On the other hand, the requirement dependency does not have pom type (but have version defined), but its jars exist in the project. I must be missing something (I really tried to follow documentation).

Btw the pom has defined jboss-parent as parent pom.

[2017-05-10 11:41] lordofthejars commented on #636
Ok then let's do another thing, try to avoid using bom and use directly the
jars as used in
https://github.com/arquillian/arquillian-cube/blob/master/openshift/ftest-standalone/pom.xml
but
adding the version of course-

El dc., 10 de maig 2017 a les 13:13, Radek Koubsky (<
notifications@github.com>) va escriure:

[2017-05-10 13:46] dipak-pawar opened #691 "Couldn't able to resolve dependency if using arquillian-cube-bom."
Provided the content of pom.xml
[code]

User should be able to use/resolve all classes from dependencies of pom.xml

e.g. in this case maven should be able to resolve `ArquillianConditionalRunner.java` which is from cube-requirement dependency.

[2017-05-10 13:50] dipak-pawar commented on #636
@RadekKoubsky Thank you. I have added fix for the issue which you are facing. If you are interested look #692

[2017-05-10 14:19] #691 closed

[2017-05-10 14:21] lordofthejars opened #693 "Add number of times log expression should be matched"
##### Issue Overview

Add number of times log expression should be matched. Sometimes some containers starts and stops the same service several times for configuring service correctly.

##### Expected Behaviour

Be able to set how many times some log line should be matched

##### Current Behaviour

The first time it is matched it returns.

[2017-05-10 15:17] RadekKoubsky commented on #636
@dipak-pawar Thanks for fixing it.

@lordofthejars I have been able to run integration test with dependencies you provided, thanks. However, there is still unexpected behavior regarding kubernetes client, I have created another branch [here](https://github.com/RadekKoubsky/rest_springboot-tomcat/blob/arquillian-cube-integration-test-2/pom.xml)

When I run the following command:
[code]
I get differ

[2017-05-10 16:05] lordofthejars commented on #636
@iocanel Do you know why this is happens ?

[2017-05-10 16:56] #693 closed

[2017-05-10 17:38] bartoszmajsak opened #695 "Update to assertj 3.7.0 is causing docker assertions to fail"
##### Issue Overview

When updating `assertj` to 3.7.0 spock tests of  `assertj-docker-java` are failing.

##### Expected Behaviour

Tests are passing.

##### Current Behaviour

Following failures during build:

[code]
##### Steps To Reproduce

1. Update `<version.assertj>` to `3.7.0` in parent `pom.xml`
2. Run `mvn clean install`

[2017-05-10 20:09] bbarke commented on #386
I think this would be a great addition to arquillian. Why won't consumers use Docker? In my case, the consumer is developed inside of a docker container where a complex configuration is already setup. Duplicating that setup/configuration for the JEE container just to shrink wrap a few classes has proven to be very difficult.

[2017-05-11 09:02] lordofthejars commented on #386
Cannot see exactly the use case. I mean Pact Stub Http server runs automatically you don't need any docker image. Then your consumer can be dockerized but the test needs to be fired.

So I suppose that what you mean is dealing with ShrinkWrap thing so everything is packaged automatically, which I think it is already done with Arquillian Algeron automatically : https://github.com/arquillian/arquill

[2017-05-15 12:05] jpechane opened #696 "Arquillian initialization ends in infinite loop when a test class has a parent"
As a reproducer please try this project - https://github.com/jpechane/arquillian-cube-standalone-example

The problem is located in Reflectionutil.isClassWithAnnotation. When this method is called there is a line in loop - `nextSource = source.getSuperclass()`. When the test class has a parent then the first iteration returns Parent2 class and subsequent iterations return the very same class! thus

[2017-05-15 12:14] bartoszmajsak commented on #696
Thanks for reporting and detailed analysis. Would you be interested in sending PR with these changes?

[2017-05-15 12:31] jpechane commented on #696
Done in #697

[2017-05-15 13:08] #696 closed

[2017-05-17 07:25] lordofthejars opened #698 "Allow star operator in Container Object DSL"
Allow star operator in Container Object DSL.

[2017-05-17 11:34] #698 closed

[2017-05-18 09:37] lordofthejars opened #700 "Copy new version of wait-for-it.sh"
##### Issue Overview

Copy new version of `wait-for-it.sh` from https://github.com/vishnubob/wait-for-it/blob/master/wait-for-it.sh to `/org/arquillian/cube/docker/impl/await/wait-for-it.sh`

[2017-05-19 08:32] #700 closed

[2017-05-21 11:33] davsclaus opened #702 "arguillian-cube-kubernetes - Document the time unit used if its millis, seconds, minutes"
See the docs at
http://arquillian.org/arquillian-cube/#_configuring_the_extension

The table has a number of options which are using time values such as timeout etc. But you cannot tell from the description if the value is in millis, seconds, minutes etc. So its hard to know what value to use if you want to set the timeout from the default 5 minutes to 90 seconds etc.

It would also have been good

[2017-05-22 08:24] iocanel opened #704 "Port remaining fixes from fabric8 to cube."
I think that its time to deprecate the `Fabric8 Arquillian` in favor of `Arquillian Cube Kubernetes/Openshift`.

However there are still a couple of fixes that went in `Fabric8 Arquillian` the last couple of months that need to be ported. As these fixes were not implemented by me, it would be fair to call the original authors for the migration.

The fixes are:
- OSFUSE-534
- OSFUSE-499
- OSFUSE-48

[2017-05-22 09:24] dipak-pawar opened #705 "Selecting first resource under META-INF/fabric8 , if we have multiple resources under META-INF/fabric8"
[code]
using this snippet we are finding resources, it's selecting `META-INF/fabric8/openshift.json` as first resource.
You can look ResourceLocator [here](https://github.com/arquillian/arquillian-cube/blob/master/kubernetes/kubernetes/src/main/java/org/arquillian/cube/kubernetes/impl/locator/DefaultKubernetesResourceLocator.java#L13).

Even if user is trying to access it using `env.config.resourc

[2017-05-22 09:57] lordofthejars commented on #704
+1 Thank you very much @iocanel for taking this.

[2017-05-22 10:20] astefanutti commented on #704
It may be that OSFUSE-175 and OSFUSE-499 (OpenShift basic user role permission issues) are actually already _contained_ in the current codeline (by having a quick look at it). I'll do an actual test ASAP to confirm.

[2017-05-22 10:21] iocanel commented on #704
@astefanutti: Thanks a lot!

[2017-05-23 05:52] #705 closed

[2017-05-23 17:59] RajAsapu opened #707 "Running with Cukespace class results in running the tests 4 times"
Environment:
    testCompile group: 'junit', name: 'junit', version: '4.11'
    compile group: 'org.hamcrest', name: 'hamcrest-core', version: '1.3'
    compile group: 'org.apache.commons', name: 'commons-lang3', version: '3.0'
    compile group: 'info.cukes', name: 'cucumber-java', version: '1.2.5'
    compile group: 'com.github.cukespace', name: 'cukespace-core', version: '1.6.3'
    compile gro

[2017-05-23 18:03] lordofthejars commented on #707
Strange, can you ping cukes guys too? We are not affecting the test
execution flow, but of course I might be wrong

El 23 may. 2017 7:59 p. m., "R@j $ekh@r" <notifications@github.com>
escribió:

[2017-05-23 18:19] RajAsapu commented on #707
It behaves in the same way even though i run with Arquillian.class . By the what does interceptors in the below code mean .. I am running my test on Intellij and when i debug it is iterating thru this multiple times(4 times instead of one).

class name : EventContextImpl.java

[code]

[2017-05-23 20:06] lordofthejars commented on #707
Can you share a full github project to check exactly what s happening?
Never saw this in cube before

El 23 may. 2017 8:19 p. m., "R@j $ekh@r" <notifications@github.com>
escribió:

[2017-05-23 21:01] RajAsapu commented on #707
I am getting the issue when i am running with cukespace 1.6.3 , on upgrading cukespace to 1.6.7 it got solved.

[2017-05-23 21:01] #707 closed

[2017-05-29 16:21] lordofthejars opened #708 "Set System Properties with Docker container information"
##### Issue Overview

Set System Properties with Cube info

##### Expected Behaviour

When running a test next System Properties should be available:

`arq.cube.docker.host` setting the docker host ip.
And for each docker container:

* `arq.cube.docker.<cubeid>.ip` with container ip.
* `arq.cube.docker.<cubeid>.internal.ip` with container internal ip.
* `arq.cube.docker.<cubeid>.port.<exposedport>

[2017-05-30 11:44] #708 closed

[2017-05-30 11:53] lordofthejars opened #710 "Use current namespace and fix Openshift resource locator"
* adds the ability to use the current namespace (without requiring us to be explicit)
* fixes a minor glitch that prevented the Openshift resource locator to be properly registered.

https://github.com/arquillian/arquillian-cube/pull/703

[2017-05-30 11:53] #710 closed

[2017-05-31 08:00] lordofthejars opened #712 "Improvements on Port Forwarder"
* Bind on localhost by default
* Make sure to exit if the number of arguments is wrong

https://github.com/arquillian/arquillian-cube/pull/711

[2017-05-31 08:00] #712 closed

[2017-05-31 14:40] adriano-fonseca commented on #274
@lordofthejars
I am having the same issue in a widows machine. I have tried to install the legacy docker toolbox, but even doing that I got:

Caused by: java.io.IOException: Cannot run program "boot2docker": CreateProcess error=2, O sistema nÒo pode encontrar o arquivo especificado
        at java.lang.ProcessBuilder.start(ProcessBuilder.java:1047)
        at org.arquillian.spacelift.task.os.Spawn

[2017-05-31 14:45] adriano-fonseca commented on #274
The boot2docker Windows Installer is officially deprecated in favor of the new Docker Toolbox.
And Docker Toolbox is depracate in favor of Docker for windows and Docker for Mac. On the future in this plataforms will be more and more rare to be boot2docker availiable.

[2017-05-31 15:50] lordofthejars commented on #274
Are you setting machine name as arquillian property? Is that docker machine
started manually?

El 31 may. 2017 4:45 p. m., "Adriano S. Fonseca" <notifications@github.com>
escribió:

[2017-05-31 20:34] adriano-fonseca commented on #274
My quilifier is like follows:

<container qualifier="wildfly-docker" default="true">
		<configuration>
			<property name="chameleonTarget">wildfly:9.0.0.Final:remote</property>
			<property name="username">admin</property>
			<property name="password">Admin#70365</property>
		</configuration>
	</container>

[2017-05-31 20:49] lordofthejars commented on #274
This is not about qualifier but simething relatef to cube conf/bug. Can you
paste your arquillian.xml?

El 31 may. 2017 10:34 p. m., "Adriano S. Fonseca" <notifications@github.com>
escribió:

[2017-06-02 08:28] lordofthejars opened #714 "Docker Machine CLI not found"
If you run a test with Arquillian Cube depending on Docker Machine but Docker-Machine is not started, instead of starting the machine next exception is thrown:

[code]

[2017-06-05 12:52] nicolaferraro opened #717 "Cannot do port-forward of spring-boot apps in Arquillian cube Kubernetes"
##### Issue Overview

I'm trying to do port-forward of a **spring-boot** (1.5.3.RELEASE) app using Arquillian cube kubernetes but I receive a `ClassNotFoundError`: `io/undertow/protocols/spdy/SpdyChannel`.

Arquillian Cube requires version 1.3 of undertow core, but spring-boot forces version 1.4 using its BOM: https://github.com/spring-projects/spring-boot/blob/master/spring-boot-dependencies/pom.

[2017-06-05 14:07] RajAsapu opened #718 "Can we configure arquillian to restart docker daemon before running containers?"
I have a scenario where i need to restart my docker daemon before starting up my containers . Do we have a way to do that using arquillian xml configuration.

[2017-06-06 15:25] lordofthejars commented on #718
Not sure if this should be implemented inside Cube or it so something so specific to your use case. Let me think about it.

Thank you very much for using Cube.

[2017-06-07 08:22] lordofthejars commented on #717
@iocanel should we do some to undertow the same we did for kubernetes client?

[2017-06-07 09:40] lordofthejars commented on #714
https://github.com/arquillian/arquillian-cube/pull/721

[2017-06-07 09:41] lordofthejars commented on #704
https://github.com/arquillian/arquillian-cube/pull/719

[2017-06-07 10:39] lordofthejars commented on #718
Hello, after thinking about it., for me this is more a build step or something related to before suite, since probably restarting the Docker daemon implies some OS calls.

For this reason I think that this is not something to be provided by Arquillian Cube core.

[2017-06-07 10:39] #718 closed

[2017-06-07 13:02] lordofthejars opened #722 "Cleanup logging related with kubernetes and openshift namespace/project creation"
Cleanup logging related with kubernetes and openshift namespace/project creation

https://github.com/arquillian/arquillian-cube/pull/715

[2017-06-07 13:02] #722 closed

[2017-06-07 13:03] lordofthejars opened #723 "Add a namespace visitor, so that resources don't escape the target namespace"
Add a namespace visitor, so that resources don't escape the target namespace

https://github.com/arquillian/arquillian-cube/pull/716

[2017-06-07 13:03] #723 closed

[2017-06-07 13:04] lordofthejars opened #724 "Improve events handling in the DefaultFeedbackProvider"
Improve events handling in the DefaultFeedbackProvider

https://github.com/arquillian/arquillian-cube/pull/720

[2017-06-07 13:04] #724 closed

[2017-06-07 13:16] #714 closed

[2017-06-07 20:39] iocanel opened #725 "Provide a way of passing environment variables to setup scripts"
At the moment, we pass the following environment variables to setup scripts (k8s & openshift):

- existing env variables.
- master url
- namespace
- docker registry
- domain

But we don't provide means of explicitly specifying passing env variables.

[2017-06-08 15:25] RajAsapu opened #726 "java.lang.ClassCastException: java.lang.String cannot be cast to java.util.Map"
[code]

Arquillian dependencies:
[code]
docker-compose yml file:

[code]

Arquillian.xml

`<?xml version="1.0"?>
<arquillian xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://jboss.org/schema/arquillian"
            xsi:schemaLocation="http://jboss.org/schema/arquillian
  http://jboss.org/schema/arquillian/arquillian_1_0.xsd">

    <extension qualifier="cube">

[2017-06-08 15:42] lordofthejars commented on #726
Can you paste the stacktrace?

[2017-06-08 18:47] bartoszmajsak commented on #704
Thanks for the joined effort guys! Awesome stuff.

Once we merge all the changes we should discuss next steps. I can think of

  * communication about what happened (both on arquillian and fabric8 channels: blogs, twitter etc)
  * update old repository to link to cube
  * review and update documentation

Anything else I missed?

[2017-06-09 09:45] lordofthejars commented on #726
Hi, I have find what is happening. You are mixing `cube` format and `compose` format. Notice that you are using `service` which is something from `compose` but then you use `ports` in `cube` format, so use or `cube` format or `docker-compose` format but not a mix of them.

[2017-06-09 09:45] #726 closed

[2017-06-09 10:48] pavolloffay opened #728 "Port forwarding for UDP"
Hello,

are there any plans to add port forwarding for UDP?

[2017-06-09 10:48] lordofthejars commented on #728
You mean for OpenShift/Kubernetes right?

[2017-06-09 10:52] pavolloffay commented on #728
yes

[2017-06-09 11:53] pavolloffay commented on #728
Or is there a way that test would run inside a cluster? I need to access services exposing TCP and UDP ports.

[2017-06-09 12:04] #695 closed

[2017-06-09 12:06] lordofthejars commented on #728
@pavolloffay Not inside the cluster, but @iocanel might help you on this

[2017-06-09 13:45] RajAsapu commented on #726
@lordofthejars : Thank you . I will correct it.

[2017-06-12 09:23] jstrachan opened #729 "should the kubernetes/openshift based testing stuff move to its own separate sub project, `arquillian-kube`?"
when I look at the docs:
http://arquillian.org/arquillian-cube/

the contents on the left is all about pure docker testing and much of it is of no relevance to users of kubernetes/openshift.

I wonder if we should split the docs into 2 so that for folks using kubernetes/openshift/minikube/minishift there's a set of docs aimed purely at their use case?

e.g. at http://arquillian.org/arquillian-kube

[2017-06-12 09:44] iocanel commented on #729
makes sense to me.
love the name btw :-)

[2017-06-12 10:20] lordofthejars commented on #729
Currently chapter 20 and 21 is just for Kubernetes and Openshift, so documentation reflects also this part.

But I understand also that we might change K8s and OpenShift to different project. Let me put @bartoszmajsak on the list, but in my opinion we can split it without much problem as we had Arquillian Cube Q.

[2017-06-12 10:37] jstrachan commented on #729
even if we just had 2 separate distros of the docs; one without all the vanilla docker stuff which is of little value to folks on kubernetes/openshift - then had 2 URLs so folks using k8s don't see all the noise about boot2docker etc

[2017-06-12 10:40] lordofthejars commented on #729
Sure,

[2017-06-12 11:18] bartoszmajsak commented on #729
Is it only about splittings the docs or also the project as such?

[2017-06-12 11:23] jstrachan commented on #729
I don't know enough about the code to know how best to organise it; but docker and kubernetes are very different.

With docker there's single node stuff, there's compose and swarm.  With kubernetes/openshift its all very different (e.g. starting with minikube/minishift, no need to even install docker tooling) - so it feels like they should be 2 separate projects and focusses to me. Am sure there'l

[2017-06-12 11:33] bartoszmajsak commented on #729
So maybe we can think about re-organizing the docs instead? The overall idea with the move of fabric8 bits (as discussed with @iocanel back in the days) to this repository was to have one tool for testing "anything containers".

[2017-06-12 18:49] RajAsapu opened #730 "How to access environment variables using CUBE definition format?"
I am having my docker-compose file and i have configured it to be in CUBE format , i need to access the tag names of images from the environment variables which i was not able to do when i use CUBE format.I was able to get the values when i use COMPOSE format.Please let  me know how we could access environment variables up on using CUBE format.

Arquillian.xml
`<?xml version="1.0"?>
<arquillian xm

[2017-06-13 09:18] lordofthejars commented on #730
I suppose that you change to COMPOSE and also adapt the format right? Notice that if you are using compose format you don't need to add specific cube properties, you can put them directly on that file.

I think that in Cube format environment variable is not implemented. I am going to check, and if not then implement it.

Also it is really important to identify the cause if you can paste the whole

[2017-06-13 10:22] lordofthejars commented on #730
Ok, this is a bug we are going to fix ASAP. As a workaround you can use compose format.

[2017-06-13 13:33] astefanutti commented on #704
I've just created #731 that should cover OSFUSE-175. I've just tested OSFUSE-499 is already covered.

[2017-06-13 13:40] RajAsapu commented on #730
@lordofthejars : Sure , i will make sure i paste stack trace from now on.Thank you.Let me know if you need further information.

[2017-06-13 13:40] lordofthejars commented on #730
Not for this issue :) but just because with stack trace it is easy to go directly to the line where the exception occurred and start working on fix quickly :)

[2017-06-13 13:50] RajAsapu commented on #673
I imported '
[code]
which solved the issue for me.This repo has the CubeControlException class.

[2017-06-13 13:53] lordofthejars commented on #673
But this dep should be automatically imported, hummm can you share you pom
with arquilian deps?

El dt., 13 de juny 2017 a les 15:50, R@j $ekh@r (<notifications@github.com>)
va escriure:

[2017-06-13 13:56] astefanutti opened #732 "Cannot inject OpenShiftClient resource with user client library"
##### Steps To Reproduce

1. Any containerless OpenShift test with user OpenShift client

##### Additional Information

Exception stack trace:

<details>

[code]

</details>

[2017-06-13 13:58] lordofthejars commented on #732
You mean containerless or standalone? I think that containerless should not be used at all. This containerless thing was for OpenShift v2, now un K8s/OpenShift you need standalone (https://github.com/arquillian/arquillian-cube/blob/master/openshift/ftest-standalone/src/test/java/org/arquillian/cube/openshift/standalone/HelloWorldTest.java)

[2017-06-13 14:04] astefanutti commented on #732
I faced this issue in containerless mode. I followed my understanding of http://arquillian.org/arquillian-cube/#_containerless_server_and_docker as I tested a Spring Boot app.

I haven't tried the standalone mode.

[2017-06-13 14:07] jamesnetherton commented on #673
This issue is about `CubeControlException` not being available when the test runs in-container, so the Maven dependencies aren't really so relevant.

I tried adding the `arquillian-cube-spi ` dependency to my [sample project](https://github.com/jamesnetherton/arquillian-cube-demo) and as expected it makes no difference.

[2017-06-13 15:30] lordofthejars commented on #673
Are you using ShrinkWrap right? Then try to add there by using Maven resolver.

[2017-06-13 15:38] jamesnetherton commented on #673
Or we just add `CubeControlException` to the archive generated by `CubeAuxiliaryArchiveAppender`. It works, I just tested it.

If you're happy with that solution I'll submit a PR.

[2017-06-13 15:49] lordofthejars commented on #673
Sure, PR are more than welcome. Thank you so much.

[2017-06-13 17:16] #673 closed

[2017-06-14 08:46] #730 closed

[2017-06-14 09:12] #704 closed

[2017-06-14 13:36] RajAsapu commented on #730
@lordofthejars : When can i expect this release 1.6.0 in maven ?

[2017-06-14 13:38] lordofthejars commented on #730
It is already there 💃

[2017-06-15 13:06] RajAsapu commented on #730
@lordofthejars Sorry to bother you again . I am referring to this maven link [https://mvnrepository.com/artifact/org.arquillian.cube/arquillian-cube-docker](url) and i couldnt see 1.6.0.Please let me the maven url if possible.

[2017-06-15 13:56] jollytoad opened #736 "Docker drone is expecting the wrong responseCode for Selenium 3.4.0"
Docker-Drone fails to detect that selenium-chrome-debug has started with Selenium 3.4.0.
In https://github.com/arquillian/arquillian-cube/blob/8bcf1960df5be7b2536884e4d2d3513ae21e53cb/docker/drone/src/main/java/org/arquillian/cube/docker/drone/SeleniumContainers.java#L163 the await is set to expect a response code of 403, but it seems that may no longer be the case in 3.4.0, instead you get a 200.

[2017-06-15 14:23] lordofthejars commented on #730
No worries, we are here to help. http://search.maven.org/#artifactdetails%7Corg.arquillian.cube%7Carquillian-cube-docker%7C1.6.0%7Cjar

[2017-06-15 14:38] lordofthejars commented on #736
Thank you so much, yes in case of drone integration, you cannot configure it in `arquillian.xml`. PRs are more than welcome would you like to send a PR just fixing this? The thing is that should be something like if seleniumVersiion is < 3.5.0 then use 403 else 200.

[2017-06-16 07:42] jollytoad commented on #736
I'm not sure exactly which version of Selenium this changed in, and unfortunately don't have time to investigate atm.

I managed to override with an extension for the time being...

[code]

[code]

[2017-06-16 15:56] lordofthejars commented on #635
Two things about this
1) can you update to 1.6.0
2) if you want to use system properties in `arquillian.xml` you need to do it like:

`<property name="env.init.enabled">${init.enabled:true}</property>`

and then in Maven `-Dinit.enabled=false`

[2017-06-16 17:55] RajAsapu opened #737 "Can we configure insecure registries in arquillian"
Hi ,
I have a scenario where i have to implement pulling from internal registry.But it is not allowing me to pull images because of certificate issue.Using docker i set a registry to be insecure registry and pull the images using docker pull command.I would like to know if we have such option in arquillian.

[2017-06-16 18:37] lordofthejars commented on #737
This relay on docker-java support, I ll need to check its page

El 16 jun. 2017 7:55 p. m., "R@j $ekh@r" <notifications@github.com>
escribió:

[2017-06-16 19:19] RajAsapu opened #738 "Could not override docker registry thru arquillian.xml"
I am using arquillian to pull the images from my private repository but its always referring to registry-1.docker.io even though i tried to override it using the dockerRegistry flag.

**docker-compose.yml**
[code]

**arquillian.xml**

[code]

**Docker daemon log:**
[code]

**Stack Trace:**

`CubeDockerConfiguration:
  serverUri = unix:///var/run/docker.sock
  dockerRegistry = https://docker-dev-lo

[2017-06-19 13:56] lordofthejars commented on #737
I have not seen any property in `docker-java`. Can you ask at https://github.com/docker-java/docker-java how `docker-java` can connect in an  insecure way?

[2017-06-20 10:05] mnuttall opened #739 "Link to javadoc for io.fabric8.kubernetes.api.model.v2_2.* etc"
##### Issue Overview

I'd like to write my own Kubernetes integration tests using Arquillian Cube. The docs at http://arquillian.org/arquillian-cube/#_examples point to https://github.com/arquillian/arquillian-cube/blob/master/kubernetes/ftest-kubernetes/src/test/java/HelloWorldTest.java which includes,

[code]

However the javadoc for `io.fabric8.kubernetes.api.model.v2_2.Service` is not linked t

[2017-06-21 05:11] lordofthejars commented on #738
https://github.com/arquillian/arquillian-cube/issues/632

If IIRC you also need to set username and password

[2017-06-21 14:14] jwendell opened #740 "Openshift doesn't support annotations on project"
Currently Openshift doesn't support adding labels or annotations to a project (https://github.com/openshift/origin/issues/10315 https://github.com/openshift/origin/issues/3819).

That's why the tests logs are full of warnings like this:
`Could not annotate namespace: [xyz] with status: [PASSED].`

I'm wondering if we should change [`annotate()`](https://github.com/arquillian/arquillian-cube/blob/3

[2017-06-21 14:39] RadekKoubsky commented on #635
After updating to 1.6.0, works like a charm! Properties from arquillian.xml are not ignored anymore, the openshift extension scans the openshift.json file, and test run with success, thanks a lot.

I have two notes:

1) Warnings in logs
Is it posible to get rid of the warning and "could not annotate" logs? I suppose the second one is due to permissons, see log from test:
[code]
2) Openshift client

[2017-06-21 17:42] RajAsapu commented on #738
@lordofthejars : tried with that as well but no luck.

[2017-06-21 19:42] jwendell opened #741 "Deprecate Openshift's definitionsFile?"
Given that we can pass a resource file via `env.config.url` or `env.config.resource.name`; Or even have a file named `kubernetes.json|yml` or `openshift.json|yml` in resources folder, is there a need for such `definitionsFile` configuration parameter for openshift?

Should we deprecate it for now and drop it in a later version?

[2017-06-22 05:03] lordofthejars commented on #740
yes, at least to not confuse users.

[2017-06-22 05:05] lordofthejars commented on #741
Yes it seems that there is no need for it. Let's deprecate and remove in the feature.

[2017-06-22 13:48] lordofthejars commented on #738
can you paste the new arquillian.xml, I have several working examples that runs on private Docker repositories, so it seems there is something wrong on configuration.

[2017-06-23 13:35] RajAsapu commented on #737
Okay sure @lordofthejars will talk to them Thanks

[2017-06-23 13:35] #737 closed

[2017-06-23 13:36] RajAsapu commented on #738
@lordofthejars : Please take a look at the above description , it has the arquillian file and the docker log as well. Let me know if you need any further information.

[2017-06-26 13:49] RadekKoubsky opened #743 "[Arquillian Cube OpenShift] namespace.use.existing + env.init.enabled=true fails to create test resources"
##### Issue Overview

I have my existing openshift project which si empty. I want arquillian cube to deploy test resources (e.g. openshift.yml) generated by FMP during resource goal. When running integration tests, arquillian cube throws the following exception about non-existing image stream:

[code]

When I run:
[code]
It works fine.

##### Expected Behaviour
Integration test deploys its resourc

[2017-06-26 13:55] lordofthejars commented on #738
I think that Docker mandates that image name should contain the docker registry url in case of not using the docker hub.

[2017-06-26 14:05] RajAsapu commented on #738
@lordofthejars May be , are you using docker registry url in your docker compose file for your working examples !

[2017-06-26 14:13] lordofthejars commented on #738
IIRC yes. Another thing we can do is just prepare an example that works
with bintray so you can share the project and we can debug exactly what is
the missing pieces. See the example here how the image contains the host
https://blog.docker.com/2013/07/how-to-use-your-own-registry/

El dl., 26 de juny 2017 a les 16:05, R@j $ekh@r (<notifications@github.com>)
va escriure:

[2017-06-27 15:22] RadekKoubsky opened #744 "[Arquillian Cube OpenShift] Implement resource provider for the OpenShift route"
It would be nice to have a resource provider for the OpenShift routes to inject them into a test class.

An example of such solution:
[code]

instead of getting a route using the openshift client:
[code]

[2017-06-27 16:19] RajAsapu commented on #738
@lordofthejars : Could you please try with registry in docker compose and remove the docker registry override in the arquillian.xml and check if its still pulling images from the private registry!

[2017-06-28 11:52] lordofthejars opened #746 "Consider the cleanup flag when destroying pods/services"
Consider the cleanup flag when destroying pods/services

https://github.com/arquillian/arquillian-cube/pull/745

[2017-06-28 11:52] #746 closed

[2017-06-28 13:13] jwendell opened #747 ""namespace.cleanup.enabled" is not always true as the doc states"
Currently cube defaults it to false when the namespace is going to be destroyed. There are two issues with this approach:
1. It's different than docs
2. Projects that use arq-cube can rely on `configuration.isNamespaceCleanupEnabled()` to cleanup their own stuff, and thus they can get the (wrong) value false when the user explicitly didn't set the value true for this property.

[2017-06-29 07:41] bartoszmajsak commented on #744
Hey @RadekKoubsky. Thanks for suggesting this improvement. Would you be interested in providing PR for that?

If you need some help discussing details of the implementation just ping me or @lordofthejars.

[2017-07-06 08:08] dipak-pawar opened #749 "[Enhancement] Provide a way to configure port range in ContainerBuilder"
Currently we can't provide a port range using annotation having property
[code]

I think it's not supported using normal configuration as well. Look at [Portbinding](https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/main/java/org/arquillian/cube/docker/impl/client/config/PortBinding.java#L19)

[2017-07-06 08:21] dipak-pawar opened #750 "FTPClientTest are failing on Fedora"

[2017-07-06 12:11] spolti opened #752 "Hanging connections on PortForwarder"
##### Issue Overview

Arquillian-cube's port forwarder has a little problem when the connection has issues.
there is a CountDownLatch that is not counted down in case of issues in the connection leading the pf thread to wait indefinitely:
`
"PortForwarding for ddd-239f034c-436b-40c2-a86e-516c30c67bf6/testrunner task-3" #266 prio=5 os_prio=0 tid=0x00007f28f8001800 nid=0x5ddd waiting on condition [0

[2017-07-06 12:13] spolti commented on #752
@lordofthejars if you are planning to make a new release of arquillian-cube please wait until I send a fix for this, I just doing a couple of more tests (trying to reproduce again, since I couldn't find a exact step to reproduce it) to make sure it is fixed.

[2017-07-06 12:21] lordofthejars commented on #752
Sure :)

[2017-07-06 12:22] lordofthejars commented on #749
No, it is not supported but in Cube it is supported (because Docker Compose supports it) so logic should be there to be reused.

[2017-07-06 12:26] dipak-pawar commented on #749
@alex Can you point me to correct class for docker compose as I couldn't find it?

[2017-07-06 12:29] lordofthejars commented on #749
Actually a method, could be extracted to class https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/main/java/org/arquillian/cube/docker/impl/docker/compose/ContainerBuilder.java#L479

[2017-07-07 18:20] pavolloffay commented on #728
Related issue in k8s: https://github.com/kubernetes/kubernetes/issues/47862

[2017-07-10 07:46] #752 closed

[2017-07-10 11:16] RadekKoubsky commented on #744
@bartoszmajsak Hi, I would love to work on Arquillian Cube. However, I have lot of prioritized items for our target release which is not focused on using Arquillian Cube (that is supposed to be for the future release, 1.1.0.Next in Jira). I will come back to this later on.

[2017-07-10 18:53] spolti commented on #744
I think we have this option on ce-arq (an extension of arquillian-cube).
Instead to use arquillianResource we use this to obtain the route based on the application name:
`
@RouteURL("eap-app")
private URL url;`

https://github.com/jboss-openshift/ce-arq/blob/master/cube/src/main/java/org/jboss/arquillian/ce/cube/RouteURL.java

[2017-07-10 19:20] lordofthejars commented on #744
Then maybe we can try to reuse this inside cube

El 10 jul. 2017 8:53 p. m., "Spolti" <notifications@github.com> escribió:

[2017-07-11 14:41] spolti commented on #744
@lordofthejars I'll try to do that, I just have to finish some some priorities.

[2017-07-11 18:08] RajAsapu opened #754 "Error : Network has active end points"
I created below issue in docker java but no one commented on this. Is this something you guys can resolve ?

https://github.com/docker-java/docker-java/issues/871

[2017-07-11 18:12] lordofthejars commented on #754
Well the error message comes from Docker Host, I will suggest to see why docker sending this message.

[2017-07-11 18:16] RajAsapu commented on #754
@lordofthejars : I am not sure of that , but i am using arquillian + docker-compose and as the arquillian is unable to remove the network it throws an error which fails my tests because of post run tasks. Is this some thing you could handle from arquillian ? please take a look at the issue for the stack trace and other details.

[2017-07-11 18:20] lordofthejars commented on #754
We will take a look when we have time, but the errors comes from Docker
host for sure, maybe because something wrong in Arquillian Cube (although
we have a lot of tests about networking)

El dt., 11 de jul. 2017 a les 20:16, R@j $ekh@r (<notifications@github.com>)
va escriure:

[2017-07-11 18:21] lordofthejars commented on #754
@dipak-pawar when you have 5 minutes can you take a look at this?

@RajAsapu can you manually delete any network created previously and try it again?

[2017-07-11 18:24] RajAsapu commented on #754
@lordofthejars  I am able to delete the network connections manually after couple of retries and i am able to run the tests. I am assuming if at all we have a loop to check whether the network is deleted at teardown process and retry it for some x number of times it should help . I might be wrong.

[2017-07-11 18:39] lordofthejars commented on #754
Now it works all the time? What I suspect is that network was started
manually before or jvm crashed during tests and network was there

El 11 jul. 2017 8:24 p. m., "R@j $ekh@r" <notifications@github.com>
escribió:

[2017-07-11 19:15] RajAsapu commented on #754
@lordofthejars : No , it doesn't .Below is the sequence of it

-  Run test runner (Arquillian + cucumber)
-  Creates docker containers assigns ip addresses defined in the network.
-  Runs the tests
-  Shutsdown all the containers
-  Fails while removing the custom network
-  I am able to rerun the tests after manually removing the network after trying couple of times.
-  But when i rerun again it

[2017-07-12 05:35] dipak-pawar commented on #754
@RajAsapu By looking into following docker-compose.yml & stacktrace looks like cube is trying to remove `price_network` which is not present in docker-compose.yml. I am wondering why cube is trying to remove `price_network` as a part of test life cycle. Is it configured somewhere?

[code]

[2017-07-12 12:09] pavolloffay opened #755 "Bump version of kubernetes-client to >= 2.5"
Thanks for this nice library it's very useful!

Would you accept a PR which would bump `kubernes-client` version to > `2.5`. I need this
https://github.com/fabric8io/kubernetes-client/pull/814 change to be able to test templates using `StatefulSet`s.

[2017-07-12 12:24] pavolloffay commented on #755
cc @iocanel @lordofthejars

[2017-07-12 13:15] RajAsapu commented on #754
@dipak-pawar : Hello deepak , i changed that name while pasting the docker -compose so that it wont have my actual project name .. but i missed that i cannot change stack trace .. So the above docker-compose file is having price_network instead of mynetwork,please consider and take a look at stack trace.

[2017-07-12 13:37] jwendell commented on #744
dupe of #465?

[2017-07-13 04:07] dipak-pawar commented on #754
@RajAsapu Can you share sample project where I can try to reproduce this issue? So I can take a closer look into it.

[2017-07-13 08:20] #755 closed

[2017-07-14 07:43] #750 closed

[2017-07-14 09:48] lordofthejars opened #757 "[Openshift]: Consider the cleanup flag when destroying pods/services"

[2017-07-14 09:48] lordofthejars commented on #757
https://github.com/arquillian/arquillian-cube/pull/745

[2017-07-14 09:48] #757 closed

[2017-07-14 09:49] lordofthejars opened #758 "Bump k8s-client to 2.5"
Bump k8s-client to 2.5

[2017-07-14 09:49] lordofthejars commented on #758
https://github.com/arquillian/arquillian-cube/pull/756

[2017-07-14 09:49] #758 closed

[2017-07-18 12:30] iocanel commented on #747
@jwendell: I don't see how `configuration.isNamespaceCleanupEnabled()` will return a wrong value (if we change the default/fallback value to something conditional).

Only exception being when both `configuration.isDestroyNamespaceEnabled()` and `configuration.isNamespaceCleanupEnabled()` return true but we only delete the namespace as it doesn't make sense to cleanup a deleted namespace :-).

Do I

[2017-07-18 13:15] georgwolf commented on #736
The behaviour has been changed with Selenium 3.x.
I created pull request #760 for fixing this.

[2017-07-18 16:18] #736 closed

[2017-07-18 17:02] jwendell commented on #747
A user of this library might rely on `configuration.isNamespaceCleanupEnabled()` in order to cleanup their own stuff.

We were using our own flag to control this behavior, but we dropped it in favor of using arq-cube one. It doesn't make sense to reinvent the wheel for such behavior.

So, we create our stuff and, in the end, we check for that flag to decide whether or not to cleanup the stuff we c

[2017-07-18 18:23] iocanel commented on #747
The behavior before this change was:

- When a project is generated, don't clean it, but delete it, unless the user thinks otherwise.

- When an existing project is specified, clean it up and don't delete.

In other words: `By default only delete projects/resources you created`.

After your change, cleanup is true by default. While I don't see a problem with that (other than being redundant, in so

[2017-07-19 13:14] georgwolf opened #761 "[Arquillian Cube - Drone] FileSystemException when using vnc recording under Windows"
##### Issue Overview

Exception when trying to move the vnc recording file from the tmp directory to the target directory under Windows as it is still in use by the vnc container.

##### Steps To Reproduce
1. Run any test using Cube-Drone under windows (boot2docker) with vnc recording enabled.

##### Additional Information

Stacktrace

[code]

[2017-07-19 14:48] georgwolf opened #762 "[Arquillian Cube - Drone] Invalid bind for vnc / flv2mp4 containers running under Windows"
##### Issue Overview

Vnc and flv2mp4 containers are configured with invalid binds when runnig Cube-Drone under Windows using docker-machine.

Configured binding is looking like 'C:\Users\...\.tmp1500472847216:/recording:rw but should be something like '/c/Users/.../.tmp1500472847216:/recording:rw to match the default shared path inside the docker-machine.

##### Steps To Reproduce
1. Run any test

[2017-07-20 18:29] RajAsapu commented on #738
@lordofthejars When ever you have some time please try the above case . I believe overriding of the registry from arquillian cube is not working lets see.

[2017-07-20 20:04] RajAsapu commented on #754
@dipak-pawar : Here is the sample project . I didnt include cucumber tests as the issue is with docker network. Try rerunning the RunTest file multiple times, you should see the issue.

[](https://github.com/RajAsapu/ArquillianCube_DemoImplPrjct)

[2017-07-21 05:25] lordofthejars commented on #762
Thank you so much for this input. Well actually what I would do is put this on the construction phase  of `vncContainer` and `videoConverter` so all configuration things are at the same page https://github.com/arquillian/arquillian-cube/blob/master/docker/drone/src/main/java/org/arquillian/cube/docker/drone/SeleniumContainers.java#L15

Would you like to submit a PR with these changes?

[2017-07-25 07:52] georgwolf commented on #762
Sure, the work around was more from an enduser perspective. I'll see if I can come up with a generic solution.

[2017-07-25 14:54] jwendell opened #763 "KS8/Openshift: Session ID is too big"
Having the whole UUID as the session id can lead to errors like having a too big URL for a route, considering the default algorithm to build a URL, which is: <routeName-projectName-routerSuffix>.

As the project/namespace name is built upon the session id, it can sometimes generate a big URL.

[2017-07-26 16:29] #740 closed

[2017-07-26 17:33] #761 closed

[2017-07-26 17:35] #762 closed

[2017-07-27 13:29] georgwolf opened #768 "[Cube-Docker] Add support for building images that reference an image from a private registry"
##### Issue Overview

Building Docker images based on an image from a private registry fails with
`com.github.dockerjava.api.exception.DockerClientException: Could not build image: Get https://[...]/manifests/latest: no basic auth credentials`

##### Expected Behaviour
Registry settings from arquillian.xml docker extension are used for build too.

##### Steps To Reproduce
1. Build an image with a

[2017-07-27 13:34] lordofthejars commented on #768
Have you tried to configure all credential things in `arquillian.xml`, in theory same mechanism should be used

[2017-07-27 13:49] georgwolf commented on #768
Yes, pulling that same image works but building from it does not.
I checked with the debugger and the java-docker lib does use the registry settings from the DockerClientConfig for pulling and pushing images by default but it doesn't use them for building.
This requires explicitly setting them via BuildImageCmd#withBuildAuthConfigs.

I'll create a PR for this.

[2017-07-27 13:53] lordofthejars commented on #768
Great!!! Thank you very much for your investigations.

[2017-07-27 14:33] georgwolf opened #770 "Tests for arquillian-cube-docker are failing on Windows"
##### Issue Overview
1. org.arquillian.cube.docker.impl.client.CubeConfiguratorTest is failing due to wrong path separator (e.g.
`Expected: map containing [is "certPath"->a string containing ".boot2docker/certs"]
     but: map was [<serverUri=tcp://192.168.0.2:22222>, <certPath=[...]\.boot2docker\certs\boot2docker-vm>...`

2. org.arquillian.cube.docker.impl.requirement.DockerRequirementTest is han

[2017-07-27 15:31] #768 closed

[2017-08-04 07:12] lordofthejars opened #778 "PortForwarder: Make sure to release the error channel latch"
https://github.com/arquillian/arquillian-cube/pull/771

[2017-08-04 07:13] lordofthejars opened #779 "Move the PortFowarder tests to kubernets module"
Move the PortFowarder tests to kubernets module

https://github.com/arquillian/arquillian-cube/pull/773

[2017-08-04 07:13] lordofthejars opened #780 "Openshift: Fix @Observer parameter"
Openshift: Fix @Observer parameter

It's the Configuration class that gets injected, not
CubeOpenShiftConfiguration, so, this second parameter will
never be resolved and thus the method will never be invoked.

This suppresses the following warning:

WARNING: Argument 1 for OpenShiftSuiteLifecycleController.startAutoContainers is null. It won't be invoked.

https://github.com/arquillian/arquillian-

[2017-08-04 07:14] lordofthejars opened #781 "Bump kubernetes-client to 2.5.8"
Bump kubernetes-client to 2.5.8

https://github.com/arquillian/arquillian-cube/pull/775

[2017-08-04 07:16] lordofthejars opened #782 "Introduce @UseDns annotation to allow injection of URLs for service that make use of the service dns."
Introduce @UseDns annotation to allow injection of URLs for service that make use of the service dns.

https://github.com/arquillian/arquillian-cube/pull/777

[2017-08-04 07:16] #782 closed

[2017-08-04 07:18] #744 closed

[2017-08-04 07:18] #781 closed

[2017-08-04 07:18] #780 closed

[2017-08-04 07:18] #779 closed

[2017-08-04 07:18] #778 closed

[2017-08-04 08:20] lordofthejars opened #783 "Add env.script.env property to allow passing custom env variables to env scripts"
Add env.script.env property to allow passing custom env variables to env scripts

https://github.com/arquillian/arquillian-cube/pull/759

[2017-08-04 08:21] #783 closed

[2017-08-04 18:28] spolti commented on #465
Partially fixed by https://github.com/arquillian/arquillian-cube/pull/776
I'll also be porting the dns service to arquillian-cube soon.

[2017-08-04 19:38] spolti commented on #465
@lordofthejars I believe our implementation have a different purpose.
We add dns entries in the jvm's name service with the openshift router ip and the route to the app and make it resolvable for tests annotated with @RunAsClient.

[2017-08-05 10:42] lordofthejars commented on #465
Ah nice, then I wait for the PR. Also it would be good to document your use case and @iocanel use case clearly so users don't get confused.

[2017-08-07 14:37] RajAsapu commented on #770
@georgwolf : I had a similar issue and it worked as i replaced the relative path with absolute path . Could you please give it a try.

[2017-08-07 14:38] RajAsapu commented on #754
@dipak-pawar : Let me know if you need any further information to debug this issue

[2017-08-10 12:32] RadekKoubsky commented on #635
I have verified the latest comment with Arquillian Cube 1.8.0. Warning logs disappeared, I assume explicit declaration of openshift/kubernetes-client is recommended. Thanks for fixing it!

[2017-08-10 12:32] #635 closed

[2017-08-10 12:42] RadekKoubsky commented on #636
This has been verified as a part of #635 Solution: explicitly declare openshift/kubernetes-client within your pom to have control what version you use

[2017-08-10 12:42] #636 closed

[2017-08-10 12:48] RadekKoubsky commented on #743
I have tried the code with Arquillian Cube 1.8.0, the issue with image stream is still present.

[2017-08-31 14:03] jensstn opened #789 "NPE when getting default admin port"
core/src/main/java/org/arquillian/cube/impl/client/container/ContainerConfigurationController.java:getDefaultPortFromConfigurationInstance can throw a NullPointerException when calling invoke on the Method returned by ```fieldName.getReadMethod()``` (L.105).
This has been observed running against a glassfish-remote-container.

[2017-08-31 18:19] bartoszmajsak commented on #789
Any idea why it throws `NPE`?

[2017-09-01 06:46] jensstn commented on #789
i didn't have time to dig a lot deeper and it's been a few days, but as far as i remember it happens because it finds a PropertyDescriptor which only has a write method.
do you want me to dig further?

[2017-09-01 06:56] bartoszmajsak commented on #789
If you could afford some time for figuring it out that would be awesome. Thanks a lot for your contribution!

[2017-09-06 06:55] georgwolf opened #791 "Support for parallel tests with Cube Drone extension"
##### Issue Overview
Cube drone uses a static name for browser/vnc/flv2mp4 containers thus blocking running tests in parallel.

##### Expected Behaviour
Option to generate unique container names.

I'll submit a PR for this.

[2017-09-06 07:35] lordofthejars commented on #789
I close the issue because I have merged the PR, but of course if you have time it is still interesting to know why this was null. I just merge the PR so we can release a new version with this fix.

[2017-09-06 07:35] #789 closed

[2017-09-06 08:55] georgwolf opened #793 "Add support for network aliases"
##### Issue Overview
Cube Docker is lacking support for configuring network scoped aliases (https://docs.docker.com/compose/compose-file/#aliases)

##### Expected Behaviour
Support Compose syntax for defining network aliases:

[code]

[2017-09-06 09:43] lordofthejars commented on #743
@RadekKoubsky I have started working on this. Any thought where the error could happen? I am asking just to not going completely blind.

[2017-09-06 13:25] #793 closed

[2017-09-06 14:23] #791 closed

[2017-09-06 14:53] lordofthejars commented on #743
@RadekKoubsky I have been reading the issue and running the example and I have noticed that I am not sure if an error on Cube or if you have another scenario in mind but look when you do:

[code]

It works. And it works because `fabric8:deploy` generates the kubernetes resource and deploy it to OpenShift and then test is run, and since everything is deployed it works.

Then you say that using just

[2017-09-06 15:07] Ladicek commented on #743
@lordofthejars The correct one to speak to is @spisiakm, as @RadekKoubsky is leaving Red Hat.

Actually the 1st scenario, the one with 2 Maven invocations, is something we don't want. We want the second one to work, the one with a single Maven invocation.

[2017-09-06 15:09] lordofthejars commented on #743
Ok great, welcome @spisiakm, but what is the benefit of the second one if you still need one manual step?

[2017-09-06 15:31] Ladicek commented on #743
Sorry, not sure I'm following. Here's a somewhat more recent description of the issue: https://github.com/openshiftio/appdev-planning/issues/43#issuecomment-318640464

Basically, we need `mvn clean verify` to work, in an existing namespace. Are we doing something wrong?

[2017-09-06 15:33] lordofthejars commented on #743
but why not `mvn fabric8:deploy verify -D.....` ?

[2017-09-06 15:45] Ladicek commented on #743
Arquillian Cube is supposed to deploy the application, no? I'm pretty sure I'm missing something.

[2017-09-06 15:53] lordofthejars commented on #743
Yes when it is necessary (basically when you want to run your application from IDE or from CLI), basically when you create manually your `kubernetes.json` then it has sense to do it. But in this application you are not creating any `kubernetes.json` manually, you are letting fabric8 plugin to do it, so it means that you need to run at least one time (until you `clean` the project) the maven goal t

[2017-09-06 15:53] lordofthejars commented on #743
@Ladicek if you want we can move the conversation to BJN as well.

[2017-09-06 16:03] Ladicek commented on #743
So, in the linked repo, if I do `mvn clean verify -Popenshift,openshift-it -Dnamespace.use.existing=myproject -Denv.init.enabled=true`, the `fabric8:resource` and `fabric8:build` goals run and the `{kubernetes,openshift}.{json,yml}` files are created long before the test starts. So I expect Arquillian to take them, apply them, run the test, then cleanup.

You ask: why do you want to do this? Well

[2017-09-06 16:04] Ladicek commented on #743
Oh thanks for the BJN offer, but I'm not very familiar with this issue, so unless you are fine with making it a pair debugging session, it wouldn't work :-)

[2017-09-06 16:05] lordofthejars commented on #743
Exactly we can do this thing you mention but you could do `mvn clean fabric8:deploy verify -Popenshift,openshift-it -Dnamespace.use.existing=myproject -Denv.init.enabled=false` and you'll get the same, what I mean is why do you want that Arquillian deploys something generated by Maven plugin when the Maven plugin itself can do it.

[2017-09-06 17:10] Ladicek commented on #743
Well, at the very least, I don't want to force users to add more commands to the cmdline, when the traditional `mvn clean verify` obviously should work.

But out of curiosity, I tried `mvn clean fabric8:deploy verify -Popenshift,openshift-it -Dnamespace.use.existing=myproject -Denv.init.enabled=false` on the linked repo, and `fabric8:deploy` doesn't even get a chance to run, because tests are exec

[2017-09-06 17:22] lordofthejars commented on #743
humm ok then tomorrow morning I will take a look what you should do to make it work and provide you the CLI option to do it.

[2017-09-06 17:23] Ladicek commented on #743
Thank you!

[2017-09-07 10:14] bartoszmajsak commented on #743
We have discussed potential solutions for this functionality with @lordofthejars.

### Quick win

To let you guys use one mvn command to run everything we will fix Cube to scan for files generated by `fabric8-maven-plugin`. @lordofthejars is on it.

### Desired improvement

We have two options here if we consider use case when you run the test from the IDE. We need to have those ` {kubernetes,open

[2017-09-07 10:27] Ladicek commented on #743
Re "Quick win": my understanding from [this section](http://arquillian.org/arquillian-cube/#_how_to_run_kubernetes_with_multiple_configuration_files) of the documentation is that Arquillian Cube should already be able to find the FMP-generated files. Am I wrong here? I'd consider this a bugfix, not an improvement. Actually you're using the word "fix" too, so it seems we're on the same page :-)

Re

[2017-09-07 10:34] bartoszmajsak commented on #743
Ok, let's make the "Quick win" working then and we can discuss IDE experience when you will be focusing on it. I think we have a bug here which @lordofthejars is looking at.

Sure, our pleasure :)

[2017-09-08 10:09] lordofthejars commented on #743
We have found the root cause. Currently fabric8 plugin generate resources at `target/classes/META-INF/fabric8` classpath location. The problem is that `surefire` plugin does not add `target/classes` but `target/test-classes` (`"surefire.test.class.path" -> "/Users/alex/git/rest_springboot-tomcat/target/test-classes:/Users/alex/git/rest_springboot-tomcat/target/spring-boot-http-7-SNAPSHOT.jar:/User

[2017-09-08 10:23] Ladicek commented on #743
That sounds weird. Per http://maven.apache.org/surefire/maven-surefire-plugin/examples/configuring-classpath.html, the `target/classes` directory is on test classpath. Is that maybe a Surefire/Failsafe bug? Let me check.

[2017-09-08 10:23] lordofthejars commented on #743
Currently you are using `failsafe`

[2017-09-08 10:26] Ladicek commented on #743
Failsafe documentation is the same in this regard: http://maven.apache.org/components/surefire/maven-failsafe-plugin/examples/configuring-classpath.html

[2017-09-08 10:31] bartoszmajsak commented on #743
Documentation is apparently wrong. In the surefire classpath what you are getting is a jar file with your production code, but not `target/classes`

[2017-09-08 10:31] Ladicek commented on #743
Ah, I see! That's again the thing with Failsafe preferring to use the JAR instead of `target/classes`!

[2017-09-08 10:51] Ladicek commented on #743
OK, so if I downgrade to Failsafe 2.18.1, which still uses `target/classes`, I get further. The test fails when trying to apply `target/spring-boot-http-is.yml` with an error message of:

[code]

This image _did_ exist before the test started, as it was created by the Fabric8 Maven plugin. I can see it in the OpenShift web console. I don't know who deleted it -- was it Arquillian Cube?

(This find

[2017-09-08 11:26] lordofthejars commented on #743
The problem here is that fabric8 executes this `-is.yml` file, and then in cube we are rexecuting again and you get this failure. In fact if you use CLI you'll get the same error. Figuring out how to fix this.

[2017-09-08 11:31] Ladicek commented on #743
I think you can easily apply the same file twice. The issue seems to be that FMP creates the image, the image stream and the image stream tag, then someone deletes it all, and then Cube tries to apply the `-is.yml` file, which tries to create the image stream and the image stream tag, but the image is missing.

Anyway, great we're on the same page! :-)

[2017-09-08 11:36] lordofthejars commented on #743
exactly this is what is happening, now I have commented the code in cube that detects `-is.yml` files and it has been able to deploy everything. So this is a really good step forward, so I need to think a bit but maybe we will make this `-is.yml` detection code optional being default to false.

cc/ @bartoszmajsak @dipak-pawar

[2017-09-08 11:38] Ladicek commented on #743
Great! I'm just wondering, who and why deletes the image+imagestream+imagestreamtag? That shouldn't happen, should it?

[2017-09-08 11:52] Ladicek commented on #743
Also, instead of downgrading to Failsafe 2.18.1, adding this to the Failsafe plugin configuration seems to work:

[code]

[2017-09-08 12:38] lordofthejars commented on #743
Good news I have got a running version of the project. I will add a new flag, and release 1.9.0 version of cube which by default will ignore the `-is.yml` files.

[2017-09-08 12:40] Ladicek commented on #743
Cool! Any idea why the image gets deleted and applying the `-is.yml` file subsequently fails? I still don't quite understand why that happens.