[2014-10-28 07:38] lordofthejars opened #1 "Configuration parameters should be injectable as Arquillian Resource"
[code]

[2014-10-28 07:39] lordofthejars opened #2 "Create Docker container from Dockerfile"
[code]

[2014-10-28 07:40] lordofthejars opened #3 "Users should be able to orchestrate more than one Docker container"
[code]

[2014-10-29 19:27] aslakknutsen opened #4 "Handle Docker service not running with TCP enabled"
ConnectionRefusedException should be handled here;
https://github.com/arquillian/arquillian-cube/blob/master/docker/src/main/java/org/arquillian/cube/docker/DockerClientExecutor.java#L165

and user presented with a Exception message that explains possible causes;

e.g.
- Docker deamon not running
- Docker not running with TCP enabled

[2014-10-29 20:21] aslakknutsen opened #5 "Add support for "docker pull [image]""
If the defined Docker image is not already pulled locally docker will throw a 'no image found' exception.

The extension could attempt to run a docker pull if no image is found

[2014-10-31 19:09] lordofthejars opened #6 "Allow configure repository from where docker images are pulled"
Allow configure repository from where docker images are pulled. By default it uses the official docker repository, but it should be possible to configure a private repository as well.

[2014-10-31 19:27] #6 closed, assigned to lordofthejars

[2014-10-31 19:27] #5 closed, assigned to nobody

[2014-10-31 19:27] #4 closed, assigned to nobody

[2014-11-04 07:54] #2 closed, assigned to nobody

[2014-11-04 08:36] lordofthejars opened #7 "Adds log messages"
Adds log messages in actions not related with  _Docker_ itself.

[2014-11-07 07:41] #1 closed, assigned to nobody

[2014-11-07 13:31] aslakknutsen opened #8 "Fails to build ftest"
A simple 'mvn clean install -DskipTests' fail to build Cube.

ftest require some profile to be active to get the Servlet spec apis. Either activate a profile by default, or depend on the Servlet api.

[code]

[2014-11-07 20:59] aslakknutsen opened #10 "Cube is using wrong port when doing port await check when portforward is enabled"
Currently Cube use the ContainerIP and the Forwarded port when testing if the port is alive.

Docker sets up a forward from localhost:ForwardPort with a forward to ContainerIP:ExposedPort.

Change to use ContainerIP:ExposedPort.

[2014-11-08 17:48] aslakknutsen opened #12 "ProtocolMetaData returned by Container is wrong when using PortForwarding"
The Container it self only knows which ports it is bound to inside the Docker image, not which ports are opened from the outside via PortForward.

This effects the ServletProtocol when attempting to communicate with incontainer test cases and @ArquillianResource URL injection.

[2014-11-08 18:08] #10 closed, assigned to nobody

[2014-11-08 19:17] #12 closed, assigned to nobody

[2014-11-10 08:49] #3 closed, assigned to nobody

[2014-11-10 10:49] aslakknutsen opened #15 "Support Docker Containers that are controlled out side an Arquillian Container"
To give the user full control over the environment  we should support Docker Containers that are controllable outside of the Arquillian DeployableContainer lifecycle.
- Implement support for Suite scoped Containers

[2014-11-10 10:53] lordofthejars opened #16 "Change @Cube enricher to @ArquillianResource"
Instead of using `@Cube` enricher for injecting `DockerClient` in test, use `ResourceProvider` so `DockerClient` is injected by using `@ArquillianResource` annotation

[2014-11-10 11:21] aslakknutsen opened #17 "Automatically configure default ports of Container incase of port forward"
I think we should be able to remap the configured/default DeployableContainer values based on Docker Containers port forward mapping.

Steps
- Extract possible configuration options from active ContainerConfiguration
- Look for options named '*port'
- See if current configured 'port' value match a forwarded port, if so update it

[2014-11-10 11:28] aslakknutsen opened #18 "Create Cube Lifecycle SPI events"
Cube should expose SPI level Lifecycle events for extensibility.
- BeforeCubeStart
- AfterCubeStart
- BeforeCubeStop
- AfterCubeStop

[2014-11-10 11:32] aslakknutsen opened #19 "Create Cube Command SPI events"
Separate between binding to .e.g. Container Events like BeforeStart and actually performing the CubeStart action.

A binding to e.g. container.BeforeStart should only 'remap' to a StartCubeContainer event.

By doing this we encapsulate the behavior of starting a Cube 'behind' an event and allows other extensions easly to trigger our behavior.
- StartCubeContainer
- StopCubeContainer

[2014-11-10 12:49] aslakknutsen opened #21 "Update the ProtocolMetaData with the GateWay IP"

[2014-11-10 15:39] #21 closed, assigned to aslakknutsen

[2014-11-10 19:24] lordofthejars opened #23 "Change return type when creating a container."
Change return type when creating a container to String instead of docker-client CreateContainer class. In this way we will decouple Cube from underlying Docker library.

[2014-11-11 08:14] #19 closed, assigned to aslakknutsen

[2014-11-11 08:15] #8 closed, assigned to lordofthejars

[2014-11-11 08:15] #23 closed, assigned to lordofthejars

[2014-11-11 08:17] #7 closed, assigned to lordofthejars

[2014-11-11 08:26] aslakknutsen opened #25 "Rename groupIds to org.arquillian.extension"

[2014-11-11 09:52] #16 closed, assigned to lordofthejars

[2014-11-11 11:45] #25 closed, assigned to aslakknutsen

[2014-11-11 11:46] #18 closed, assigned to aslakknutsen

[2014-11-11 12:03] lordofthejars opened #28 "Create an enricher for injecting cube id in test"
Create an enricher for injectcing container id in test, so it can be used in conjunction with DockerClient.

[2014-11-12 10:29] aslakknutsen opened #29 "Create CubeController API"
Expose a simple user exposed API that can perform basic Cube operations:

.e.g

[code]

Should support as-client and in-container.

[2014-11-12 10:33] aslakknutsen opened #30 "Support Arquillian 'standalone' mode"
Arquillian test runners normally come in two forms, with or without container/deployment support, e.g. arquillian-junit-container, arquillian-junit-standalone.

While Cube has integration with Arquillian Container, it's features are still useful in a standalone mode.

Make the extension registry of the ...container.* observers optional and depend on the availability of the Container module. Mark c

[2014-11-13 09:14] #28 closed, assigned to aslakknutsen

[2014-11-13 14:36] aslakknutsen opened #32 "Support extension of Docker Image configuration"
When defining multiple similar Docker containers it would be useful to allow some form of extensions model where you can override only the few parameters that change.

e.g.

[code]

[2014-11-14 08:38] #15 closed, assigned to aslakknutsen

[2014-11-14 14:03] #32 closed, assigned to aslakknutsen

[2014-11-14 22:55] #17 closed, assigned to lordofthejars

[2014-11-15 14:18] aslakknutsen opened #39 "Support auto shutdown of manually created/started Cubes"
When using the CubeController the user is left to him self, for both starting and stopping the cubes in Suite scope.

Cube should provide some type of 'mode' similar to Arquillian Container that gives Cube a hint of what to do with the different started cubes to avoid leak between Test Classes.
- manual -> Cube auto stopped After Class
- custom > Cube does nothing, user has full control

[2014-11-15 17:44] #29 closed, assigned to aslakknutsen

[2014-11-16 20:58] aslakknutsen opened #40 "Separate Docker and Core"
Currently Cube-Docker function as Cube-Core and Docker since Docker is the only implementation.

OpenShift3 is next in line and parts of Cube-Docker can be reused.

[2014-11-17 06:51] aslakknutsen opened #41 "Support OpenShift 3/Kubernetes"
Add Cube provider that can control Docker images via OpenShift Origin

[2014-11-18 08:23] lordofthejars opened #42 "Change port binding configuration parameters"
Currently port binding is configured by using a list of objects in yaml.

[code]

To avoid user having to write many lines with redundant information, this will be changed to:

[code]

[2014-11-23 22:03] aslakknutsen opened #43 "Split configuration between implementations"
When we have more then 'docker server' as an implementation we need to split the configuration.

Probably in :

* Core
* Docker
* X

Core currently has options like:
* autoStartContainers

Docker has:
* serverVersion
* serverUri
* dockerContainers
* dockerContainersFile
* dockerRegistry

Assuming Cube is Docker focused, dockerContainers, dockerContainersFile and dockerRegistry might be reusable co

[2014-12-01 07:29] #42 closed, assigned to lordofthejars

[2014-12-04 07:52] aslakknutsen opened #44 "Allow connecting to started Docker image"
Currently Cube require to control the full life cycle of the Docker image.

We should allow connecting to a pre running image.

e.g. Start the dev Docker image in the morning and reuse the same instance all day.

[2014-12-04 14:00] aslakknutsen opened #45 "Allow to configure the Polling Strategy wait time"
When starting big containers on slow computers it might be required to wait more then 500ms for the ports to respond..

We should allow to configure the timeout of the PollingAwaitStrategy via arquillian.xml:
https://github.com/arquillian/arquillian-cube/blob/master/docker/src/main/java/org/arquillian/cube/impl/await/PollingAwaitStrategy.java#L32

[2014-12-07 17:09] #45 closed, assigned to lordofthejars

[2014-12-07 17:11] lordofthejars opened #46 "Polling sleep time units should be configurable."
Polling sleep time units should be configurable. It has not much sense for example days, hours or minutes, but for example ms (for milliseconds) or s (for seconds) would be desirable.

[2014-12-07 17:28] #46 closed, assigned to lordofthejars

[2014-12-08 07:31] aslakknutsen opened #47 "Update README with new config options"
Complete example in README is missing;
- sleepPollingTime
- iterations
- new port binding syntax

[2014-12-09 06:36] arun-gupta opened #48 "Running Simple Servlet Test gives ClassCastException"
Cube workspace is locally checked out and built. Running a simple servlet test using them gives:

Running org.javaee7.servlet.metadata.complete.SimpleServletTest
Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 1.712 sec <<< FAILURE! - in org.javaee7.servlet.metadata.complete.SimpleServletTest
org.javaee7.servlet.metadata.complete.SimpleServletTest  Time elapsed: 1.707 sec  <<< ERRO

[2014-12-09 08:31] #48 closed, assigned to nobody

[2014-12-10 07:59] arun-gupta opened #49 "Running test using boot2docker gives "Could not create wildfly-docker""
Following up from #48 ...

-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running org.javaee7.servlet.metadata.complete.SimpleServletTest
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBind

[2014-12-10 11:05] #47 closed, assigned to lordofthejars

[2014-12-10 14:17] aslakknutsen opened #50 "Infer exposedPorts from portBindings"
If user provides:

[code]

We should be able to infer that 8080/tcp and 9990/tcp should be exposed:

[code]

[2014-12-10 18:41] lordofthejars opened #51 "Add method to create Docker containers with CLI application"
Some applications like Spring Boot uses an embedded Jetty/Tomcat to run itself. So there is no server container to configure because it is embedded.
In this cases if we want to test this kind of applications we need to create a jar file and copy it inside Docker container. To copy the generated jar file is as simple as create a Dockerfile and call ADD command, and then finally execute the CMD like

[2014-12-14 16:41] dimitrichkhartishvili opened #52 "Execute Test On Remote Docker Host ConnectException: Connection timed out: connect"
My remote docker host installed on centos 7 in hyper-v vm. configured like in arquillian cube git documentation.
-H tcp://{hostIp}:2375 -H unix:///var/run/docker.sock (for remote connections)
firewalld disabled.
telnet works from windows hostIp:2375
started docker container ports exposed (8080,9990) works to.
everything works.

running tests from windows machine tests not executed.
Exception

.net

[2014-12-15 07:46] #50 closed, assigned to lordofthejars

[2014-12-16 12:04] kpiwko opened #53 "NPE in ping"
Hi,

I've just hit an NPE here:

https://github.com/arquillian/arquillian-cube/blob/master/docker/src/main/java/org/arquillian/cube/impl/docker/DockerClientExecutor.java#L351

I'll try to figure out what went wrong in PingCmd but in general it would help to make catch more robust.

[2014-12-23 08:39] lordofthejars opened #54 "Updates docker-java library to latest stable version"
Updates docker-java library to latest stable version

[2014-12-23 20:09] #44 closed, assigned to lordofthejars

[2014-12-23 20:27] #54 closed, assigned to lordofthejars

[2015-01-05 11:29] kpiwko commented on #53
Fixed by https://github.com/arquillian/arquillian-cube/pull/55

[2015-01-12 08:42] #53 closed

[2015-01-12 08:44] lordofthejars opened #56 "Support for unix Socket"
Currently Arquillian Cube uses TCP to communicate with Docker server, but Docker server can also run using unix sockets. Allow developers to use this mode instead of TCP.

This issue is related with https://github.com/docker-java/docker-java/pull/85

[2015-01-13 09:55] lordofthejars opened #57 "Fix transitive deps with jaxrs issues"
Fix transitive deps with jaxrs issues. Several users has found some issues when they were using RestEasy and docker cube, this is because docker-java uses Jersey as jaxrs provider and adds it as dependency on classpath so depending on the order of execution the test may fail.

It seems that docker-spotify project addresses this problem. For this reason we are going to move that library and see if

[2015-01-13 10:43] rmpestano commented on #57
Hi @lordofthejars, to reproduce the issue just add dependency below to [ftests project](https://github.com/arquillian/arquillian-cube/tree/master/ftest):

[code]
you should see the this error during test initialization:

[code]

[2015-01-13 10:55] lordofthejars commented on #57
Perfect thank you so much, have you fixed? One guy has found similar problem and he has fixed by adding docker-java explicitly as first dependency.

[2015-01-14 07:56] #51 closed

[2015-01-15 14:55] aslakknutsen opened #59 "Create profiles in containerless module to allow to test both Node and Undertow"

[2015-01-15 15:16] #59 closed

[2015-01-15 17:09] aslakknutsen opened #61 "Missing documentation of shouldAllowToConnectToRunningContainers"
Update README with shouldAllowToConnectToRunningContainers description

[2015-01-16 20:18] lordofthejars opened #62 "Create an static time await"
Create an static time await strategy so for example you can set to wait an specific amount of time without doing anything against an ip.

[2015-01-16 20:19] lordofthejars opened #63 "Create a nowait strategy"
Create a nowait strategy which simply do nothing. SImply pass the check.

[2015-01-18 12:44] rbattenfeld opened #64 "Execute tests over docker server address"
In case the docker container is not available remotely, execute the tests by using the ip address of the docker host instead of the ip address of the started docker container.

Perhaps this can be solved by adding a dedicated property which overrides the default behavior. This should then also update the injected ArquillianURL address.

[2015-01-19 07:41] #61 closed

[2015-01-19 07:41] aslakknutsen commented on #64
This is similar/duplicate to #52

[2015-01-19 07:59] rbattenfeld commented on #64
Correct. I didn't see this one.

[2015-01-19 08:55] lordofthejars commented on #64
No problem, nice to see that we are on the path. I close this issue then :).

[2015-01-19 08:55] #64 closed

[2015-01-19 13:24] rbattenfeld opened #65 "Allow to start the same container configuration concurrently"
My limited experience with Arquillian-cube showed my that cube doesn't allow to run the same container configuration twice. Maybe you have already foreseen this and I don't know how to configure this. Currently, I can't.

Use Case: It is necessarily to run multiple test runs of the same code base. A CI build triggers a test run and a official build triggers a test run. The first one wins an the la

[2015-01-19 13:32] lordofthejars commented on #65
hummm it is strange because the container is removed after it is not required any more, so next time start can be executed without any problem. But it is true that if you are trying to run in parallel you can find this problem. I think that @aslakknutsen has been worked on forking executions. Let's see if he found a workaround and if not we will need to do something.

Thanks for your incredibly fe

[2015-01-19 13:57] rbattenfeld commented on #65
This is true, the container is stopped and removed. My use case is that the same project with different code state is executed in parallel. A CI-Build is in our company a different task then release build. It is the same project, It uses the same container configuration and should run tests independent of each other.

[2015-01-19 14:00] lordofthejars commented on #65
Yes this use case sadly is not covered, we will need to see what we can do (probably adding some random suffix to the docker container name), but we must see how this can affect globally.

[2015-01-19 14:01] aslakknutsen commented on #65
I think there are atleast two different issues here;

* Docker Container Instance Name

In my test setup I've used the surefire.forkNumber system property as part of the Container key and Docker image key. This is a system property provided by surefire that will represent the current fork'ed vm number when using forkCount > 1. This will prevent two surefire Forks colliding on the image name, but i

[2015-01-19 14:07] lordofthejars commented on #65
Yes this is a good workaround, but maybe we could provide something more direct to cover this use case. I am not sure in both cases how (-1 in port binding is a good idea), but how about container name?

[2015-01-19 14:16] aslakknutsen commented on #65
@lordofthejars Why are we naming the images again?

[2015-01-19 14:20] lordofthejars commented on #65
@lordofthejars Well the approach used in the example for the names it seems the best one to avoid any collision.

[2015-01-19 14:26] aslakknutsen commented on #65
@lordofthejars I mean why are naming the images in Docker? Why are we purposely making them unique? With no name defined the only thing we need is a mapping between the 'arq.xml' name and the image id.

Not sure if not naming it will effect e.g. the caching etc?

[2015-01-19 14:31] lordofthejars commented on #65
mmm yes it is true, we could not give a name and internally manage the name only for starting a container. Yes we could close this issue and add two issues, one for removing the name from creation and create a new field to store the id so in every call to docker-server we set that id instead of the name. And another issue for adding portbinding -1 approach.

WDYT?

[2015-01-19 14:33] aslakknutsen commented on #65
Sounds good to me..  :)

[2015-01-19 14:52] rbattenfeld commented on #65
The port binding should be solved by the dynamic port binding feature docker already provides. -P assigns the exposed ports to a free port on the docker server. Cube just can pickup this. It allows then multiple runs.

Perhaps we mean the same (port binding -1) which docker already provides with -P instead of -p 8080:8080

[2015-01-19 14:57] lordofthejars commented on #65
Cool then we can use -1 as dynamic binding. Also we must see if this feature is supported by API, but yes it is a good point. Thanks for the info.

[2015-01-19 14:59] aslakknutsen commented on #65
@rbattenfeld Yeah, -1 was just a way to define it in arquillian.xml. If docker supports that out of the box that's even better..

Hopefully not knowing the port before start won't mess with the Arquillian Container configuration mapping.. or atleast we can look for another way around that.

[2015-01-20 15:32] lordofthejars opened #66 "Allow dynamic port binding"
Allow dynamic port binding so the bind port to an exposed port is assigned automatically from random port. In this way we will be able to run tests in parallel without having port collisions.

[2015-01-20 15:34] lordofthejars opened #67 "Don't set container name"
To allow developers run in parallel tests instead of naming the containers we should use the generated id  for referencing it. Name container will be only used by Arquillian Cube to know which container to start.

[2015-01-21 00:00] BrunoGilbertCrane opened #68 "Arquillian cube can't retrieve image id from docker server"
I try to run some tests with arquillian-cube-containerless 1.0.0.Alpha3.

I got the exception : org.arquillian.cube.spi.CubeControlException: Could not create mycube.
...
Caused by: java.lang.IllegalStateException: Docker server has not provided an imageId for image build from src/test/resources/docker/mondrian. Response from the server was:
Step 0 : FROM ubuntu:12.04 ---> f959d044ebdfStep 1 : MAI

[2015-01-21 00:05] rmpestano commented on #63
this will let us to start a docker container without connecting to it? eg: in my system  test (which runs in a "normal" arquillian container without docker)  i want to consume a rest endpoint  which is provided by a docker container but when I start this container i receive the error:

[code]
My test is passing cause i'm catching the exception, see [this image](http://i.imgur.com/2l0DTJ4.png).

ca

[2015-01-21 07:20] lordofthejars commented on #68
Strange that this happens just now. Probably it is something related with a docker version that has changed the way the instructions are executed or notified. Yes probably we will need to change to the regexp yo unoticed here.

BTW because of https://github.com/arquillian/arquillian-cube/issues/67 now the image id will be used everywhere internally so we will not need to do the matcher approach to

[2015-01-21 07:24] lordofthejars commented on #63
Not exactly, in your case I think you need to use the shouldAllowToConnectToRunningContainers. NoWait strategy is used when Arquillian Cube starts a container and don't want to wait to know if the container is already up or not, simply wants to skip this step.

[2015-01-21 07:29] lordofthejars commented on #68
Ok now that I have seen the PR I fully understand what you mean. Fixed :).

[2015-01-21 07:29] #68 closed

[2015-01-21 07:32] aslakknutsen commented on #65
#67 & #68 replace issue?

[2015-01-21 07:35] lordofthejars commented on #65
Yes it should do it, and I think it will allow exactly to do what is described in the issue. Not sure if we should close now, or just wait until we implement both issues and we try it.

[2015-01-21 08:56] aslakknutsen commented on #65
Label it with 'question' or 'verify' ?

[2015-01-21 08:58] lordofthejars commented on #65
verify.

[2015-01-21 09:59] aslakknutsen commented on #63
@rmpestano the Wait strategy is just a way to know when the Container has started. If you configure Cube to wait for the port that your car_service(rest endpoint) is running on, it 'should work' ?

[2015-01-21 11:14] rmpestano commented on #63
@lordofthejars the container is not running but now i understand this issue.

@aslakknutsen  autoStartContainers was my first attempt but i got this error:

[code]

It fails in this check on DockerCube#start():

[code]

thank you guys

[2015-01-21 11:15] lordofthejars commented on #63
Ok if it is not started then maybe it is true that you need the nowait strategy as well.

[2015-01-21 11:21] aslakknutsen commented on #63
@rmpestano If this is all localhost(meaning you're not running into any of the other open issues), then it sounds like "strategy: polling" combined with autoStartContainers should work (assuming you've configured the car_service image to expose ports etc )

[2015-01-21 11:23] lordofthejars commented on #63
Yes it should work. I think there is an example in ftest project. https://github.com/arquillian/arquillian-cube/blob/master/ftest/src/test/resources/arquillian.xml#L44

[2015-01-21 14:32] rmpestano commented on #63
I have posted more information in arquillian space at  jboss forums to not pollute this issue:

https://developer.jboss.org/message/916560

[2015-01-21 14:38] BrunoGilbertCrane commented on #68
You're welcome! Sorry for my english my native language is french :)

[2015-01-21 14:54] lordofthejars commented on #68
And mine Spanish :D

[2015-01-22 08:34] lordofthejars commented on #67
Not setting the name will have an impact on reconnecting feature. Currently we are using the name to know if the container is already running and reuse it. If we remove the name then we have the problem of identifying current running containers.

We cannot do it by id because we don't know it in another execution and if we use the container name for exapmle jboss/wildfly we can do it wrong because

[2015-01-24 08:30] lordofthejars opened #70 "Update docker client to v 0.10.5"
Update docker client to v 0.10.5 so we can use unix sockets and exec command.

[2015-01-24 09:29] lordofthejars commented on #66
Dynamic port binding is done by setting one property to true (`PublishAllPorts`).
To implement this feature we are going to add a new possible value in  `PortBinding` property. Instead of passing an array you can also pass a string with `dynamic`.

[code]

This means we should take care of having an `instanceof` when getting port binding between an array or an string.

[2015-01-24 11:13] rbattenfeld commented on #67
IMO, reusing a docker container instance is not an use case for cube. It should be taken as a simple remote connection, and this is already handled by the several arquillian remote containers. Of course, the docker container instance is started manually.

[2015-01-24 13:30] #62 closed

[2015-01-24 13:35] lordofthejars commented on #66
Thinking better because `PublishAllPorts`is a property that you can set in configuration file,  the developer is free to not specify any portbind and set this property to true.

[2015-01-24 13:47] #66 closed

[2015-01-24 15:30] lordofthejars commented on #67
Yes I thinking in this so much and I think that the best way is not touching anything about this. But maybe we can find a compromise solution.

[2015-01-24 16:35] rbattenfeld commented on #52
Ok, I am not sure now:-) #64 is closed but gives for this here some ideas... But to make progress, what is now open needs to be discussed?

[2015-01-24 21:36] lordofthejars commented on #52
Well we need to implement a call to ss inside container with a while to
know when port is ready to receive incoming messages
El ds., 24 de gen., 2015 a les 17.35 rbattenfeld <notifications@github.com>
va escriure:

[2015-01-25 11:34] lordofthejars opened #73 "ForkJoin autostart containers"
In case of autostart containers, which are containers that are used for the test but they are not the application server itself, (for example database, mail server. ...), they are started one by one sequentially.  If these containers don't have a relationship between them (that is no link section) then maybe we could start all of them in parallel.

This is something we may study to improve the per

[2015-01-25 11:49] aslakknutsen commented on #73
See org.jboss.arquillian.core.api.threading.ExecutionService

[2015-01-26 08:12] lordofthejars opened #74 "Add DockerDescription support"
In some days we will have a new ShrinkWrap descriptor for creating Dockerfile files using Shrinkwrap descriptors.  We can use it in containerless module to create the dockerfile inside test instead of using dockerfile.template file.

This implies changing the logic behind containerless so if a Dockerfile and a Dockerfile.template file are in same directory the Dockerfile.template file takes preced

[2015-01-26 22:06] lordofthejars opened #76 "Updates to Arquillian 1.1.6"
Updates to Arquillian 1.1.6

[2015-01-27 00:26] mgreau opened #77 "Allow to connect to running container is not working"
Hi,

I've a Docker container currently running, it was started by a docker command and when I want to execuate my tests with this container, I've the error below. I added the property shouldAllowToConnectToRunningContainers.

Maybe I forget to add some configuration ?
You can find all my informations below :

## Stacktrace :
[code]

## PC configuration:
[code]

## How to reproduce

[code]

## JSON

[2015-01-28 07:26] lordofthejars commented on #77
Are you running tests incontainer or as client?

[2015-01-28 08:29] mgreau commented on #77
As client with this configuration :

[code]

[2015-01-28 09:02] lordofthejars commented on #77
strange because I have tested as client and a tomcat and it worked. Probably I will need to download the code and debug to see what's happen. But I think the problem is here https://github.com/arquillian/arquillian-cube/blob/master/docker/src/main/java/org/arquillian/cube/impl/client/container/CubeContainerLifecycleController.java#L47 that we should change the status of the cube to STARTED because

[2015-01-28 09:07] lordofthejars commented on #77
Yes this is the problem, this afternoon I will fix it.

[2015-01-28 09:18] mgreau commented on #77
Cool ! you're the best :)

[2015-01-28 19:38] rbattenfeld commented on #52
Hi Alex, Aslak
I worked on this over the last couple of days. I worked mainly of wildfly execution over published ports. Today, I think I made also Tomcat executable. Here is the problem of the jmx stuff. But I think it works now; a new property solves this, I believe.

Here is the link the the repo: https://github.com/rbattenfeld/arquillian-cube/tree/dynamic-ports

I prepared the profiles in the

[2015-01-29 03:00] tnine opened #78 "boot2docker fails without additional configuration [workaround found]"
When using boot2docker additional configuration must be performed in order to allow the java client to successfully negotiate the tls protocol.  This was tested with 1.4.1.  Steps to reproduce failure.

1. Execute boot2docker start
1. Set the following properties in the configuration
[code]
1. Attempt to start a container, which will fail

Per the documentation of the client [outlined here](https:

[2015-01-29 03:18] tnine opened #79 "Unable to run a test more than once when using a dependent service"
I have the following arquillian.xml file.

[code]

When I run my trivial test below, it runs the first time

[code]

Subsequent invocation results in the following error.

[code]

I'm not sure where to start to resolve this issue.  I'm on version 1.0.0.Alpha3, Arquillian version 1.1.6.Final

[2015-01-29 07:33] lordofthejars commented on #78
It is important that you have been able to run Arquillian cube with boot2docker because we were not sure about this because we don't have a computer which requires boot2docker. About what you mention, we are rewriting some parts of the docker-client, when we finish it and we have full support for SSL then we will modify arquillian configuration file so you can set these parameters from that file i

[2015-01-29 08:46] lordofthejars commented on #79
Hi, well first thing to note is that `shouldAllowToConnectToRunningContainers` has a bug which makes to not work pretty well. So I will suggest you to not use it until we fix it :). Also let me explain that using `shouldAllowToConnectToRunningContainers` means that you have started the container by yourself not by arquillian cube.  I mean that what we expect is that you have started manually the c

[2015-01-29 09:49] aslakknutsen commented on #79
@lordofthejars destroying the container before start sounds a bit scary. A little miss config and stuff gets lost.

[2015-01-29 10:03] lordofthejars commented on #79
@aslakknutsen I totally agree with you, maybe it is better to leave as is, but maybe we could capture the exception and if the exception is that the container is already started we could or simply avoid the creation and start or we can destroy and recreate. As I said the best way would be leave as is, but we can think other alternatives as well.

[2015-01-29 15:44] tnine commented on #79
@aslakknutsen and @lordofthejars I would think  as a laymen user this would be an idempotent operation.  I would envision the following semantics to make it a bit more user friendly and declartive.

1) Does the container exist?  If so, simply use it.
2) If not pull it and start it.
3) If it already exists and is running, what then?  Maybe just throw an exception?  This can get tricky, it seems lik

[2015-01-29 15:55] tnine opened #80 "Remove requirement to specify URL in arquillian config if defined on the user's system"
As outlined in #78 to get cube to function with boot2docker you have to maintain the URL in 2 places.  I'm creating this issue as a tracking issue for easier configuration.  Currently I have to define my URL in the properties for the client, as well as arquillian.xml.  Ideally, I would like to only need to define it in a single location.

[2015-01-29 15:58] lordofthejars commented on #79
So we can do two things, document this and add in documentation the command that must be run to destroy the container, or we can create an attribute which tells if should connect to existing running container, throw an exception or remove it. Basically is changing shouldAllowToConnectToRunningContainers to a new name and new type instead of a boolean.

WDYT?

[2015-01-29 16:02] aslakknutsen commented on #79
This is slightly different tho. It's not allow to connect to, but allow to
use existing container with name..

If the container is running is a different concern.

On Thu, Jan 29, 2015, 16:59 Alex Soto <notifications@github.com> wrote:

[2015-01-29 16:08] aslakknutsen commented on #79
I'm a bit new on this.. But existing container could have a different state
then when created? Or would we need a commit step here for that to happen?

Basically we need to track, has our configuration for creating this
container changed? If not, then on to reuse. If it has, then.....

On Thu, Jan 29, 2015, 17:02 Aslak Knutsen <aslak@4fs.no> wrote:

This is slightly different tho. It's not allow t

[2015-01-29 16:37] tnine commented on #79
Hey guys, I'm working on a fix for this now.  It's actually a trivial fix and test.  However, there's no test for the DockerClientExecutor class.  I would like to get this set up a few tests with a small "hello world" type of docker image.  Is there an image you guys would prefer I use for this test?

[2015-01-29 17:58] tnine opened #81 "Binding polling does not correctly set host IP"
When choosing a polling strategy to ensure that startup is successful, it does not correctly discover the IP to ping.  It chooses the docker image IP, NOT the ip of the host where the port will be exposed.  As a result, the ping will never succeeded for users of boot2docker.   I propose the following change.

Make the ping strategy only ping opened ports on the host docker instance ip, not the ima

[2015-01-29 19:11] lordofthejars commented on #79
We don't have any predefined image, if you want you can use the docker-server-stub to create a test if you want to use a stub instead of a true docker server, but feel free.

https://github.com/arquillian/arquillian-cube/tree/master/docker-server-stub

[2015-01-29 19:18] lordofthejars commented on #81
Hi yes we know this issue, in fact is related with https://github.com/arquillian/arquillian-cube/issues/52

Let me explain the problem on doing in this way, When you do a port binding docker server just opens the port when the container is just started, this doesn't means that the exposed port (the port of server in our case) is available. So when you execute the ping it simply returns saying that

[2015-01-29 19:46] rbattenfeld commented on #67
Compromise is good. We need this feature really, so lets finding a compromise;-)
Is there are way to add a timestamp, say nanoseconds to the containername internally? Controlled by a configuration flag? It is then unique, ok almost unique:-) But the chance for a collision is very rare.

[2015-01-29 21:13] tnine commented on #81
@lordofthejars  I've looked at the strategy PollingAwaitStrategy and that makes sense.  I assumed that was the case, we've done a similar style for process forking tomcat, Cassandra and Elastic Search.  I was thinking of performing the following.

In the AwaitStrategyFactory, where we produce the PollingStrategy, modify the PollingStrategy to perform the following.

If the user has defined a http

[2015-01-29 21:29] tnine commented on #81
Actually, just reviewed the code in BindingUtil.binding(DockerClientExecutor executor, String cubeId)

It appears this strategy is already used, it's just checking the wrong ip.

[2015-01-29 21:39] tnine opened #83 "Container deploy does not work with boot2docker"
The incorrect IP is used when attempting to deploy to containers, in this case Tomcat.

[2015-01-29 21:53] tnine commented on #83
Ignore, user error.  Sorry for the incorrect bug.

[2015-01-29 21:53] #83 closed

[2015-01-29 23:00] tnine commented on #81
So in testing this further, I found another case that won't work with the current implementation. It's just a configuration change, but a change that's relevant to all users using either a remote or a virtual machin. Take [this blog post](http://ptmccarthy.github.io/2014/07/24/remote-jmx-with-docker/) for example, which is the issue I'm facing.  I was able to fix this by modifying the arquillian.x

[2015-01-30 09:49] lordofthejars commented on #80
docker.io.properties would not be required when we add support for ssl in arquillian.xmlm which is what we are currently focus, so all properties will be only placed in one place. Now you need to define twice because using docker.io.properties is required as a workaround.

[2015-01-30 09:52] lordofthejars commented on #81
What's happening with none http ports, and how we can know which ports are http are which aren't?

[2015-01-30 10:53] aslakknutsen commented on #79
On one hand we have the reconnect feature to allow reusing a running container to save startup time during development, but could also be used to connect to existing containers that are running/started by 3. party for what ever reason.

On the other we have crashed images.. Being able to clean up a existing container would be a nice feature, tho I don't think it should be default.

Take the build

[2015-01-30 15:48] lordofthejars commented on #79
After talking with @aslakknutsen we are going to close this issue because it is the same as https://github.com/arquillian/arquillian-cube/issues/67 in the sense that talks about reusing an existing running container. We are going to continue the discussing there.

@tnine Has it sense to you to talk on that issue about the problem of reusing containers?

[2015-01-30 16:19] tnine commented on #81
@lordofthejars

Sorry, I may not have been clear.  I'm not saying the ports are http.  What I'm saying is we know definitively this information.

The client url is an HTTL url.  The Client hostname/IP from http url will be used with with portBindings.  This could be localhost, or another machine.

We know these ports should be open on the target hostname/IP from the client's connection URL.  There

[2015-01-30 16:31] tnine commented on #67
I'd argue a Type1 time UUID would be best.  I'm working on making this work for boot2docker, as well as remote docker servers.  This means multiple clients could potentially get the same timestamp.  If it were a timeuuid, the odds of collision are nearly non-existent.  (In 6 years of using them in production with very high throughput systems, I have yet to have a collision)

[2015-01-30 18:10] lordofthejars commented on #81
yes that's true sorry to not understand you is there a way to get the hostname then from container?

[2015-01-30 18:45] lordofthejars commented on #67
Today I talked with Aslak about this problem. And I think we have arrived to a good compromise on this. Let me explain me.
The first thing is that when we create a container we are going to hash the configuration file and tag the container with that hash.
Then if ConflictException is thrown (which means that the server is already running) we inspect the container and we get the tag, if hash is exa

[2015-01-30 19:18] rbattenfeld commented on #67
Thanks Alex, I am not quite sure how the proposal solves the problem. Two identical configuration files would still clash, right? Meaning, delevopers with the same configuration file are not able to execute at the same time tests? I like the idea @tnine proposed. But if your proposal solves this as well, then I am happy either.

[2015-01-30 19:20] lordofthejars commented on #67
Well if hash is identical then we Can reconnect to that container for
example
El dv., 30 de gen., 2015 a les 20.18 rbattenfeld <notifications@github.com>
va escriure:

[2015-01-30 19:34] aslakknutsen commented on #67
Technically it doesn't solve the 'run multiple instances of the test suite' problem, tho it should to some extent address the concerns around recreating stale containers due to failure.

We would know that we created it and based on what. That to avoid stopping random other containers due to miss configuration. And since we created it and it's based on our current config it should be safe to recre

[2015-01-30 19:38] rbattenfeld commented on #67
If test runs cannot be executed in parallel, then the proposal is IMO not a solution. The great thing by using docker is the controlled isolation of resourses, tests etc. Isolation is the key word. Docker allows to run the same image as much as you like. Each test runs in an own container instance. THIS is the ultimated cube use case. I certainly have other opinions and requirements, which is fine

[2015-01-30 19:39] rbattenfeld commented on #67
Sorry typo:-)  --- you have certainly other opinions ---

[2015-01-30 20:17] tnine commented on #67
I know for us personally on UG, running in parallel is a must.  Without parallel, our tests take upwords of 40 minutes to run.  We do run method parallel, but we've found defining too many threads in a single JVM can cause issues.  We try to use a combination of 4 forked JVMS at 4 threads each.  If we followed any format of name + unique value per JVM, this means each JVM would have it's own isola

[2015-01-30 21:21] aslakknutsen commented on #67
@ralfbattenfeld Well, it's not like you can't run tests in parallel now, you just have to specify the name your self. E.g. via system property replacement in arquillian.xml. my_contianer_${unique.id}

This is was created as a 'wouldn't it be nice if Cube could do that automatically'... But it's hardly impossible as is.

[2015-01-30 22:59] mgreau commented on #80
@tnine have you try to use a Maven property in order to define the URL in a single location like below ?

[code]

[code]

[2015-01-31 12:23] rbattenfeld commented on #67
Is #85 a solution for this?

I am experimenting with this: http://stackoverflow.com/questions/3984794/generating-uuid-through-maven

It seems to work but it seems also to be difficult to setup for command line and Eclipse execution. As a non maven hero;-)

[2015-01-31 13:58] rbattenfeld commented on #67
It is probably not the nicest solution but the gmaven-plugin generating an UUID as described above is a compromise and should work.

[2015-01-31 19:26] rbattenfeld opened #87 "Add example to readme showing how to make a container name unique"
Enhance the ftest module with a dedicated test case (with profile) which allows to execute the same container name and configuration in parallel. The example is based on a maven plugin generating an UUID to the project properties.

[2015-02-01 08:17] #81 closed

[2015-02-01 08:19] lordofthejars opened #88 "Sets localhost URI when unix socket used"
Sets localhost URI when unix socket used. Currently the IP of the docker server is got from configuration file. If unix socket is used then we need to set to localhost.

[2015-02-01 09:30] lordofthejars commented on #77
Fixed, this afternoon I will push the code.

[2015-02-01 10:31] lordofthejars opened #89 "Add operation for getting files from container"
Adds operation in Cube interface for getting files from running container. With this devs will be able to get files from container in the test by using Cube interface.

Also adding anew property in configuration file so before container is stopped by Arquillian Cube a list of files can be copied in output local directory for manual inspection.

[2015-02-01 10:37] lordofthejars opened #90 "Add operation to get log from container"
Adds operation in Cube interface for getting log info from running container. With this devs will be able to get files from container in the test by using Cube interface.

Also adding anew property in configuration file so before container is stopped by Arquillian Cube logs will be copied in output local directory for manual inspection.

[2015-02-01 11:01] lordofthejars commented on #52
Ok I have the command for `ss` which looks like `ss -lntu | grep '8080' | grep LISTEN -c`. Now let's implement the await strategy with this.

[2015-02-01 14:21] aslakknutsen commented on #88
If you read back dockerClientConfig.getUri after calling DockerCmdExecFactoryImpl.init it will update that Uri to be the sanitized version of the unix socket uri, meaning localhost:80. The port number makes no sense, but..

Perhaps just as easy to just do if schema == unix:: as it would be to rely on a internal impl detail.. ;)

[2015-02-01 14:24] lordofthejars commented on #88
my idea was that something like if URI protocol is unix:// then localhost

[2015-02-01 14:25] aslakknutsen commented on #88
yea, just as well

[2015-02-01 19:19] #77 closed

[2015-02-01 19:20] #88 closed

[2015-02-01 19:21] lordofthejars commented on #52
I have just implemented using ss command. Now we only need to update the docker-java client and we are in.

[2015-02-01 19:23] lordofthejars commented on #49
I am going to close this issue because some users has done some work in this direction and they found a workaround. Anyway we are still working on this.

Workaround: https://github.com/arquillian/arquillian-cube/issues/78

[2015-02-01 19:23] #49 closed

[2015-02-01 19:27] #76 closed

[2015-02-01 19:33] lordofthejars commented on #63
To not overpopulate the project with await strategies, you can use nowait but setting sleepingawait strategy to 0. Because there is a easy way to do this I close this issue

[2015-02-01 19:33] #63 closed

[2015-02-01 21:12] aslakknutsen commented on #56
depends on #70

[2015-02-01 21:14] aslakknutsen commented on #74
depends onhttps://github.com/shrinkwrap/descriptors-docker/issues/5

[2015-02-01 21:18] aslakknutsen commented on #57
Rely on https://github.com/aslakknutsen/docker-java/tree/pure_httpc

Discussion https://github.com/docker-java/docker-java/issues/133

[2015-02-02 08:25] lordofthejars commented on #67
Finally we are going to document how to achive this using Maven plugin. Issue https://github.com/arquillian/arquillian-cube/issues/87

[2015-02-02 09:35] rbattenfeld commented on #87
I will submit a request for this in the next couple of days.

[2015-02-02 12:23] arun-gupta commented on #49
Workaround should only reduce the bug's priority as opposed to closing it?

[2015-02-02 12:30] lordofthejars commented on #49
Yes sorry, the issue that is fixing this problem is https://github.com/arquillian/arquillian-cube/issues/52 we understood this issue more like a question because issue #52 is more general in the sense that fixes the problem with boot2docker but also with remote docker servers.

[2015-02-02 16:52] tnine commented on #67
Hey guys,
  I'm working on a fix for this today.  I'm going to create a strategy for this, so the user can pick the implementation they want in the Arquillian configuration.  By default, I'll leave the current strategy.  I'll add a unique per instance strategy as well.

[2015-02-02 18:00] tnine commented on #67
So in thinking about this a bit more, do we want to support a scenario where we have both instances and container reuse?  This feels complicated, and I'm not sure it's something that should be supported, but I wanted to throw it out there.  Aside from a single reusable DB scenario with multiple clients, I can't envision a topology where this would be beneficial.  I would also argue for true test i

[2015-02-02 18:53] #70 closed

[2015-02-02 19:32] aslakknutsen commented on #67
@tnine Database related stuff would be the only thing that pops to mind here as well. I'd say start with the simple requirement. If a need comes up we can implement it then.

[2015-02-02 20:51] #30 closed

[2015-02-03 03:32] tnine commented on #80
@mgreau Yes. This issue is not using https in the url.  Rather, it is an issue with the client.  The client needs to know which directory your certificates are in to utilize them.  There's no mechanism to do this currently, so using the driver's native configuration options seems to be the only workaround.

[2015-02-03 06:36] lordofthejars commented on #80
I am working on this, in next release you will not require this anymore
El dt., 3 de febr., 2015 a les 4.33 Todd Nine <notifications@github.com> va
escriure:

[2015-02-03 08:20] lordofthejars commented on #56
I have tested and it works with unix sockets after upgrading to docker-client 10.5.

[2015-02-03 08:20] #56 closed

[2015-02-03 08:56] lordofthejars commented on #89
In this issue we can do it two things:

* The first one by adding `copyFileFromContainerCmd` method to DockerClient so it can be used by users.
* The second one by adding an attribute to arquillian.xml which you can set an array of files to be copied just before stopping the container and the where to copy in local disk, so it can be inspected after execution.

[2015-02-03 08:57] lordofthejars commented on #90
In this issue we can do it two things:

* The first one by adding `logContainerCmd` method to DockerClient so it can be used by users.

* The second one by adding an attribute to arquillian.xml which you can set where to copy the log in local disk, so it can be inspected after execution.

[2015-02-03 14:07] gastaldi commented on #74
ShrinkWrap Descriptors Docker 1.0.0-alpha-1 is now released

[2015-02-03 14:09] lordofthejars commented on #74
Cool now we can start working on this :)

[2015-02-04 08:53] aslakknutsen commented on #90
@lordofthejars by DockerClient you mean CubeController?

[2015-02-04 08:54] lordofthejars commented on #90
Sorry I mean by DockerClientExecutor

[2015-02-04 08:55] aslakknutsen commented on #90
I think a configuration option in arq.xml sounds like a good option.

I think we have two scenarios here;

* arquillian.xml; used to fetch complete logs for debug purpose
* programatically fetch log at a given time to e.g. assert on log state

[2015-02-04 08:56] aslakknutsen commented on #90
@lordofthejars see https://github.com/arquillian/arquillian-cube/pull/98#issuecomment-72810755

[2015-02-04 08:57] lordofthejars commented on #90
We need a way to set which container, all, a comma-separated value of which containers, so I decided to put them inside its own configuration.

This can be achieved by enriching test with DockerClient.

[2015-02-04 08:57] aslakknutsen commented on #89
@lordofthejars I think this follow the same logic as https://github.com/arquillian/arquillian-cube/issues/90#issuecomment-72811634

[2015-02-04 08:58] lordofthejars commented on #89
Yes exactly the same.

[2015-02-04 08:59] aslakknutsen commented on #90
I think this makes sense as a per container config. If you need to configure the same for multiple similar containers you can always use the extends option.

[2015-02-04 09:00] lordofthejars commented on #90
Yes for this reason I suggested to add them in yaml format.

[2015-02-04 09:02] aslakknutsen commented on #90
Agree on the general solution here, just not sure DockerClientExecutor is the right abstraction level to be exposing to the user.

[2015-02-04 09:52] lordofthejars commented on #90
yes in fact to the user we are going to expose only DockerClient by enricher. But we need DockerclientExecutor to implement this method to be used internally.

[2015-02-04 10:19] lordofthejars opened #99 "Add boot2docker URI"
Using Arquillian Cube requires that you set the URI of the docker server. In case of boot2docker it means that you need to run boot2docker CLI command and get the ip. And moreover because it runs in a VM it means that this IP is not static.
To avoid failures because a change on IP of the Docker server, we could create next "URI":

http://${boot2docker}:port

Then in Cube we can see that it is a bo

[2015-02-04 10:21] aslakknutsen commented on #99
boot2docker is not auto added to 'path' ?

[2015-02-04 10:24] aslakknutsen commented on #99
Wondering if "http://boot2docker" would be enough.

Thinking avoid using ${} to not confuse with property replacement in either Maven or Arquillian. Should be ok to set via command line -Ddocker.serverUri=http://boot2docker

The port should be auto fetchable as well.

[2015-02-04 10:30] lordofthejars commented on #99
yes probably better without the ${}

[2015-02-04 10:50] lordofthejars opened #100 "Automatic docker server URI resolution"
In order to simplify the configuration of docker server IP, Arquillian Cube could provide a default strategy for resolving it. In case no serverUri property is set, Cube will do next thing:

if Win or OSx then makes resolution of boot2docker ip (see #99 .
if linux uri will be unix://var/lib/docker/docker.sock

[2015-02-04 11:01] aslakknutsen commented on #100
Once that is resolved, one should be able to invoke url/version to auto set the api version to use as well.

[2015-02-04 18:43] #73 closed

[2015-02-04 19:21] rbattenfeld commented on #90
Cool, I see you have already discussed this. Today, I saw that the docker API supports getting the logs. I can't remember yet from heart exactly if that is a kind of a stream. May you know that already.

[2015-02-04 19:46] lordofthejars commented on #90
yes it is in binary docker raw type.

[2015-02-06 08:56] aslakknutsen commented on #74
During a prototype to support DockerDescriptors; https://gist.github.com/aslakknutsen/2fc3470cd72ba54e5901 we've come to the realization that we probably need a CubeDescriptor wrapper. There are many settings that are needed not described in the Dockerfile to setup a cube. We could support a very simple v of the 'pure' DockerDescriptor, but for more advanced setups we need a CubeDescriptor.

[code

[2015-02-06 09:21] lordofthejars commented on #74
yes that would be really helpful

[2015-02-07 16:53] johnament opened #102 "Cube fails to start if using Jersey 1.x"
Cube has a dependency on Docker-Java, which depends on Jersey 2.x APIs (JAX-RS 2.0).  If your app uses Jersey 1.x, Cube will fail to start with an error like this.

[code]

It's been noted that someone's already working on it, but wanted to make sure we didn't lose track of it.

[2015-02-07 17:29] #90 closed

[2015-02-07 17:30] #89 closed

[2015-02-09 11:04] lordofthejars commented on #102
It seems it is a duplicate of https://github.com/arquillian/arquillian-cube/issues/57

[2015-02-09 18:53] rbattenfeld commented on #87
I synced this with the last pushes. I recognized little changes and have to double check.

In the meantime, is there a 'better' solution is place? Meaning, is this update in the readme still useful?

[2015-02-09 19:27] lordofthejars commented on #87
Maybe not because there is a PR fixing this, so I will suggest to wait
El dl., 9 de febr., 2015 a les 19.53 rbattenfeld <notifications@github.com>
va escriure:

[2015-02-10 19:12] rbattenfeld commented on #87
I am ready to send a PR. I found that the solution with the groovy maven plugin is useful for other things as well. Say, if you need the local ip address, e.g. a mail server is started locally and the docker instance needs to know this address in order to connect to the mail server.

Let me know if you wish a PR.

[2015-02-11 21:32] aslakknutsen opened #104 "Upgrade to Arquillian Core 1.1.7.Final"
With 1.1.7 we can remove some hacks in the test suite. Nothing should be effected runtime.

[2015-02-12 01:49] #104 closed

[2015-02-12 11:15] rbattenfeld opened #106 "log feature causes out of memory exception on the client side"
The new log feature causes an out of memory exception on the client side. My log file was relatively small. Just 300 kBytes.

[2015-02-12 12:18] aslakknutsen commented on #106
Related to reading log into a string here:
https://github.com/arquillian/arquillian-cube/blob/master/docker/src/main/java/org/arquillian/cube/impl/docker/DockerClientExecutor.java#L550

[2015-02-12 18:55] rbattenfeld commented on #106
Maby this is important. I recognized that attaching jvisualvm to the surfire java instance and analyzing the heap memory, at the end of the test the heap memory consumption rises over 3 GB memory. That means, even I set more memory say 2GB, it was still not enough. The file itself was about 300kB. The test included several arquillian test cases. I am not sure if that is also helpful.

Once the str

[2015-02-12 19:30] lordofthejars commented on #106
Mmmm strange maybe it is related with two issues the first one is the log
itself that is not written directly and the second one that docker-Java
does not release connections. Let s see after fixing these issues how us
doing the memory.
Thank you so much for your work because it is really helpful
El dj., 12 de febr., 2015 a les 19.55 rbattenfeld <notifications@github.com>
va escriure:

[2015-02-16 12:39] #106 closed

[2015-02-16 12:39] #100 closed

[2015-02-16 12:40] #99 closed

[2015-02-16 12:40] #78 closed

[2015-02-16 12:41] #52 closed

[2015-02-16 12:41] #80 closed

[2015-02-18 15:59] lordofthejars opened #108 "Automatic resolution of cert path"
In case of running Arquillian Cube with boot2docker you need to set the path where certificates are copied by boot2docker.

By default this directory is `~/.boot2docker/certs`.

We can make this as default directory in case `certPath` attribute is null and the URI contains the `boot2docker` special URI.

So effectively if `certPath` is null and the serverUri is something like `https://boot2docker:

[2015-02-18 16:08] #108 closed

[2015-02-20 23:05] lordofthejars opened #110 "shouldAllowToConnectToRunningContainers stop containers"
shouldAllowToConnectToRunningContainers stop containers if container was not started previously. Current behavior is:

if container is already running then is reused, and not stopped at the end of the test execution.

if container is not running and shouldAllowToConnectToRunningContainers stop containers is true, then a container is started and stopped.

The correct behavior should be that if shou

[2015-02-22 07:55] lordofthejars commented on #110
After discussing the issue the expected behaviour will be next:

`shouldAllowToConnectToTunningContainers` is going to be an enum with three possible values:

*NO (default): start/stop all and fail if started. This is how it works when now the parameter is false.
* STARTORCONNECT: start or connect and stop if we started.
* STARTANDLEAVE: start and leave started for reuse.

[2015-02-22 12:45] lordofthejars commented on #110
Also `shouldAllowToConnectToRunningContainers` is renamed to `connectionMode`.

[2015-02-22 13:01] lordofthejars opened #112 "Allow to configure dockerContainers with Fig/DockerComposer format"
Allow to configure dockerContainers with Fig/DockerComposer format so if you are using them in production you can use them in Arquillian Cube for your tests as well.

Note that some elements are not required by Cube. When Cube found them simply they will be ignored. Other properties that are required by Cube like for example await strategy will be set as default, for example await strategy will be

[2015-02-22 13:04] lordofthejars opened #113 "Update documentation with latest changes"
Update documentation with latest issues tagged as 1.0.0.Alpha4.

[2015-02-23 11:26] #110 closed

[2015-02-23 19:04] lordofthejars opened #116 "Resolve ~ in certPath to home directory."
Resolve ~ in certPath attribute to home directory.

[2015-02-23 19:18] #116 closed

[2015-02-24 16:36] lordofthejars opened #119 "Automatic replacement of boot2docker in env and container"
Automatic replacement of boot2docker label in env section  and container's property to real boot2docker ip.

[2015-02-25 16:21] #119 closed

[2015-02-25 16:22] #65 closed

[2015-02-25 18:01] #113 closed

[2015-02-26 17:44] lordofthejars opened #123 "Add operations to CubeController"
Add operations to CubeController apart from create, destroy, ...

* get container log.
* get file from container.
* get processes running in container.
* inspect changes on container filesystem.

[2015-02-26 21:28] lordofthejars opened #124 "Autostart and close boot2docker"
Autostart and close boot2docker in case it is not running. For example creating a boolean property setting true means that before starting execute the test suite Cube will check if boot2docker is up and running and if not it takes care of opening it.

[2015-03-04 07:51] lordofthejars opened #125 "Set dockerServerIp automatically in container config"
Set dockerServerIp automatically in container config in case that container (of the Application Server) configuration doesn't set a property called *.host.* or .*address.* means that it will use the default one (which normally is localhost). But in case of boot2docker this is not true, so from Cube we can set automatically to dockerServerIp so developers may not worry about setting it manually.

[2015-03-04 15:51] mgreau opened #126 "The copy feature (before stop container) doesn't work with boot2docker"
The same arquillian.xml configuration works for Ubuntu but fails with boot2docker.
The arquillian.xml configuration is below :

[code]
In order to reproduce the problem :

* git clone https://github.com/asciidoctor/docker-asciidoctorj.git
* mvn clean test -Pwildfly82

The error log :

[code]

[2015-03-04 19:19] lordofthejars opened #127 "dockerContainers property could be avoided"
`dockerContainers` property could be avoided and not be mandatory. So instead of having to write a yaml format in `dockerContainers` property, we could find a file in root of classpath called `cube` in case `dockerContainers`is not set on arquillian.xml

[2015-03-05 13:02] lordofthejars commented on #126
I don't know what is your opinion but I think this is a bug of maybe JVM or in your system. Look that javadoc of `java.nio.file.Files.createDirectories`:

[code]

So in my mind comes next possibilities: the first one a bug on JVM and the second one that in your computer there is a file called `tmp`  in root that it is not a directory.

Don't know if you have any other idea.

[2015-03-05 13:15] aslakknutsen commented on #126
@mgreau You running boot2docker on Ubuntu? or Mac/Windows?

[2015-03-05 13:46] mgreau commented on #126
boot2docker on Mac

[2015-03-05 14:09] lordofthejars commented on #126
I will try it as well but watching the javadoc of the method it doesn't seems that it is something related with boot2docker

[2015-03-05 14:22] mgreau commented on #126
Ok I think that I found the problem.
It seems that boot2docker creates a symbolic link named tmp :

[code]

If I rename tmp to tmp2, boot2docker doesn't start so my /tmp example is not a good idea :)

[2015-03-05 14:33] aslakknutsen commented on #126
We could make a more controlled check there;

if file.exists() && file.isFile() throw IllegalArgumentException("some detailed reason why")

We should probably verify this up front and fail before everything runs.. (tho the state might have changed since we checked it in Before so we should check again to fail controlled right before we try to do it :))

[2015-03-05 14:41] lordofthejars commented on #126
hehe right then let's do what Aslak mention for avoiding this problem I only thought about alraedy existing directories but not that a directory could be a file. Ok I am going to fix it :)

Thank you both of you.

[2015-03-07 07:06] lordofthejars commented on #126
The same applies to copy from log

[2015-03-07 07:28] #126 closed

[2015-03-09 08:14] lordofthejars opened #129 "Change default await strategy"
Change default await strategy from native to polling `ss`. Currently it has no sense to use native by default when almost all examples that we are developing is using `ss` strategy, and it would be really common at least in all Java projects.

[2015-03-20 08:15] #127 closed

[2015-03-20 08:15] #123 closed

[2015-03-30 09:03] rhuss opened #132 ""boot2docker" serverUri hack doesn't work"
When using a `serverUri` like `https://boot2docker:2376`, I get a NPE here:

[code]

because the `boot2DockerInstance.get()` is still `null`. The reason is, that this method is called **before** the `Boot2DockerCreator` observer is notified with a `ManagerStarted` event where it creates the `boot2DockerInstance`:

[code]

[2015-03-30 10:14] lordofthejars commented on #132
I will need to check this with @aslakknutsen but I think that this is the first event that is sent by Arquillian, so we cannot inject this value before.

Can you explain what are you doing? I mean where are you trying to use boot2docker substitution? Maybe you have found a use case that we didn't contemplate it.

[2015-03-30 10:25] aslakknutsen commented on #132
@lordofthejars Are we listening to ArquillianDescriptor to update the config in the very beginning? If so, then ArquillianDesscriptor is produced in the ManagerStarted cycle so technically the observer on ArquillianDescriptor could be called before another ManagerStarted observer. Would need to set the @Observer.precedence on the Boot2DockerCreator to ensure it is started very early.

[2015-03-30 10:47] lordofthejars commented on #132
Well boot2Docker is resolved as:

[code]

And we are using in ArquillianDescriptor

[code]

[2015-03-30 11:36] rhuss commented on #132
I just player around @arun-gupta 's Docker integrations in [javaee-samples/javaee7-samples](https://github.com/javaee-samples/javaee7-samples) (branch: `docker`). The configuration looks like

[code]

I replaced the serverUri with `https://boot2docker:2376` and got this exception (shortened):

[code]

Changing `boot2docker` to the proper IP and specifying a `certPath` worked, though.

[2015-03-30 11:39] aslakknutsen commented on #132
@lordofthejars right, that's what I was wondering. So the ArquillianDescriptor is produced in a ManagerStarted event, so it's technically a sub event of ManagerStarted. So depending on the undefined order of Observers of ManagerStarted, ArquillianDescriptor may or may not be produced Before the Boot2DockerCreator. If you add a precedence to configure it should work predictable.

[code]

[2015-03-30 12:33] lordofthejars commented on #132
Cool I will fix it :)

[2015-03-31 19:08] #132 closed

[2015-04-02 17:25] #129 closed

[2015-04-02 17:25] #125 closed

[2015-05-26 11:36] #40 closed

[2015-05-26 11:36] #43 closed

[2015-06-01 15:17] lordofthejars opened #140 "Adds return type check for autobinding algorithm"
Adds return type check for autobinding algorithm. For example there are some adapters that uses a method called `exportConfiguration` which returns a boolean. Because it contains the substring port, we try to make a cast to integer and a classcastexception occurs.

[2015-06-01 15:28] aslakknutsen commented on #140
Possible tighten the regExp there as well. if starts with 'port' or ends with 'Port' ?

[2015-06-01 15:32] lordofthejars commented on #140
yes and no, if the property is called configurationExport it ends with port too. and what's happening if the property is called ajpPorts for example. I think that if we start with too restrictive reg exp. we are going end up by adding a lot of exceptions.  I have found this error in TomEE, and for now this fixes it.

[2015-06-01 17:39] aslakknutsen commented on #140
:+1:

[2015-06-04 07:53] #140 closed

[2015-06-05 20:28] lordofthejars opened #142 "Updates docker-java library"
Updates docker-java library to latest version since give support to docker API v.1.18

[2015-06-06 13:34] lordofthejars opened #143 "Adds TCP protocol as default port binding"
Adds TCP protocol as default port binding in case the port binding does not specify the protocol.

[2015-06-06 14:52] lordofthejars opened #144 "Adds entrypoint attribute"
Adds entrypoint attribute when creating a container.

[2015-06-09 10:55] #142 closed

[2015-06-09 11:37] #143 closed

[2015-06-09 11:49] #144 closed

[2015-06-16 10:39] lordofthejars opened #148 "Add support for Docker Machine"

[2015-06-16 13:40] lordofthejars opened #149 "Get Ip from DOCKER_HOST environment"
If you are using Boot2Docker or Docker Machine probably you will have in your environment DOCKER_HOST set to correct docker server. In case serverUri is not set currently we are executing a `boot2docker ip` command to get IP if tests are run in Windows or MACOS or we use the unix socket in case of Linux.
We could rework this part so if we are running inside Windows or MACOS and serverUri is not se

[2015-06-21 22:13] arun-gupta commented on #148
This need to be completed by Aug 25, so that it can be incorporated in docker-java lab.

[2015-06-21 22:25] lordofthejars commented on #148
Probably it will be possible because docker-compose support is almost finished and I will start with this issue.

[2015-06-21 22:27] arun-gupta commented on #148
Is there an issue for docker-compose?

[2015-06-21 22:29] lordofthejars commented on #148
No, it is implemented but need to write some tests. In fact it is support for docker-compose format, not docker-compose tool. So basically you can describe like you are doing with cube format but using docker-compose format. So developers that use docker-compose can write docker-compose files and reuse them for Cube.

[2015-06-21 22:39] arun-gupta commented on #148
Examples?

[2015-06-22 07:16] lordofthejars commented on #148
For example in Java EE samples Cube example you are using in arquillian.xml next format:

[code]

When we release docker compose format support you will be able to use it for describing your scenario. In case of previous example would be be something like:

[code]

Notice that you will be able to create an external docker compose file. Then you can run docker-compose script passing that file (for

[2015-06-22 09:27] arun-gupta commented on #148
Sweet, that would be really cool!

Now looking forward to it all the more :)

[2015-06-22 09:29] lordofthejars commented on #148
Everything is coded but before merging changes I want to create more tests :) But yes it is in my opinion the defacto format for Arquillian Cube in future.

[2015-06-25 13:26] #41 closed

[2015-07-01 06:15] #112 closed

[2015-07-02 17:06] lordofthejars opened #153 "Set dockerContainersFile as URI/URL too"
Set dockerContainersFile as URI/URL too so you can use as relative file or you can use URI/URL format. So for example you can store docker container definitions on remote sites.

[2015-07-02 17:06] #153 closed

[2015-07-02 18:17] #149 closed

[2015-07-08 10:50] lordofthejars opened #155 "Updates docker-java library to 2.0.0 stable version"

[2015-07-13 11:33] lordofthejars opened #156 "Add support for common Docker/Machine environment vars."
Add support for common Docker environment vars.

That is:

export DOCKER_CERT_PATH="/Users/<your username>/.docker/machine/machines/dev"
export DOCKER_MACHINE_NAME="dev"

`DOCKER_HOST` support is already implemented.

[2015-07-17 16:39] #156 closed

[2015-07-17 16:40] #148 closed

[2015-07-18 10:23] lordofthejars opened #158 "Creates bom file for Cube"
If you want to use containerless feature you need to import two dependencies one the cube-docker and another one the containerless dependency. To avoid users using different versions could be interesting to do like drone or shrinkwrap and create a bom file. Moreover when we start with Mesos, Marathon, Openshift, Kubernetes and so on, so it can be really useful to maintain all versions in one.

[2015-07-20 07:23] lordofthejars opened #159 "Makes embeddedPort and containerlessDocker properties optionals"
Makes embeddedPort and containerlessDocker propreties optionals. And then try to get from the current configuration.

For example if there is only one port binding or only one container defined, it is not necessary to set there since they can be retrieved from configuration.

[2015-07-22 06:56] #159 closed

[2015-07-22 23:26] aslakknutsen commented on #57
I came across this as a possible workaround that works in the case where you don't really use RestEasy but 'some' JBoss EE lib is on classpath that provide the service registration for RestEasy..

[code]

[2015-07-23 08:13] lordofthejars commented on #57
Could we add this information to documentation?

[2015-07-28 16:31] lordofthejars opened #161 "Make autoStartContainers regular expression aware"
autoStartContainers is a property where you specify which containers must be started before the application/main container is started. Currently it supports a comma-separated list, so if you need to start two containers you can do it as `A, B`. This is ok for a few containers but in cases you want to start more than once, for example one email server, one database server, one key-value server, the

[2015-07-28 17:10] aslakknutsen commented on #161
This sounds reasonable.

Another approach we could look into as well is:

* Auto start linked containers to 'managed' container

[2015-07-28 17:22] lordofthejars commented on #161
So true I will implement this in a separate issue and be the default
strategy to use.
El dt., 28 de jul., 2015 a les 19.10 Aslak Knutsen <notifications@github.com>
va escriure:

[2015-07-29 11:04] lordofthejars opened #162 "Auto start linked containers to 'managed' container"
In case that autostart property is not set, Arquillian Cube could start all containers that are required by the master container.

[2015-08-03 08:49] fstab opened #164 "Enable boot2docker in static wait strategy"
As pointed out in the documentation the static wait strategy is useful with boot2docker, because it allows polling for open ports on the docker host and not on the docker container.

However, there are some issues with the configuration of the ip address for static polling:

1) Although the configuration property is named ip, it has to be a hostname. Putting an actual ip address fails.
2) It is no

[2015-08-03 12:00] lordofthejars commented on #164
Hi first of all thank you very much for using Cube. As you said it may be really useful that you will be able to use dockerServerIp at static ip.

But also we have changed a lot in the last Arquillan cube release everything related to boot2docker/dockermachine and how to work with await. Currently yo don't need to set any await strategy specifically. The default ones works in all possible environm

[2015-08-04 14:00] #161 closed

[2015-08-06 22:05] lordofthejars opened #165 "Support for docker host URI starting with tcp://"
Support for docker host URI starting with tcp:// Currently we are only supporting unix sockets and http/s

[2015-08-13 06:49] lordofthejars opened #166 "Updates docker-compose support to 0.4"
https://github.com/docker/compose/releases/tag/1.4.2

[2015-08-14 15:30] lordofthejars opened #167 "Support for ContainerObject pattern"
Similar to PageObject pattern we could provide something that I call ContainerObject pattern which is an object representation of the container so you can interact with the container in a reusable way (as PageObject does with WebDriver)

[2015-08-14 15:31] lordofthejars opened #168 "Add fixture support"
We could add fixture support in the sense that instead of defining containers in arquillian.xml we could define them with annotation on ContainerObject pattern. See #167 for info about this pattern.

[2015-08-14 16:15] lordofthejars commented on #162
@aslakknutsen I have seen that autostart containers are started at BeforeSuite event. We talked that to fix this issue we need to split in two where autostart containers happening, the regexp and comma-separated at beforesuite event and in case of autostart linked containers of managed ones since we need to know which is the managed one at BeforeSetup event.

My question is do you think it has sen

[2015-08-14 16:37] lordofthejars opened #169 "Print final configuration variables"
Since Arquillian Cube autoresolve a lot of things related with docker like ports, ips, ... add a sysout of the final configuration.

[2015-08-14 17:15] lordofthejars commented on #155
Deep changes on the API but makes everything fits better.

[2015-08-15 01:24] aslakknutsen commented on #162
On top of my head I don't think it makes sense to have the linked containers follow the lifecycle of the managed container, e.g. started and stopped with the managed container.. So, possible we should turn it around; Figure out which are managed up front, then autostart the linked with the 'other autostart' ones in BeforeSuite.  Then later start the managed container in BeforeSetup.

?

[2015-08-15 01:28] aslakknutsen commented on #167
How is this different from the ContainerController?

Or are you simply thinking;

[code]

?

[2015-08-15 01:29] aslakknutsen commented on #168
This sounds similar to https://github.com/arquillian/arquillian-cube/issues/74 ?

[2015-08-15 07:53] lordofthejars commented on #167
Yes I am thinking in using the same concept of PageObjects of Graphene (more or less) I mean yo can do the same of Graphene (PageObject) with Drone, simple annotate with `@Drone` a test and that's all, you can start interacting with the browser, but for reusing you use PageObjects, this concept is exactly the same I want to inject a Cube and with an Id having there:

[code]

My idea behind this an

[2015-08-15 07:59] lordofthejars commented on #168
Now we have a containerobject that represents a operations that you can do to a container for a purpose (for example getting the dockerHostIp to communicate, ports, cube operations, ...) but to be self-contained it we would require that this containerobjects can be started automatically as well without any definition. For this reason I think that we need to add the fixtures feature.
For example:

[2015-08-15 08:02] lordofthejars commented on #162
I agree with you, the problem is that in BeforeSuite we don't have the information to get the managed container, we don't have the `event.getDeployableContainer()`.

Maybe I will need to create a common class and call it from different points to not replicate at least the code, but of course we will have two points of starting auto-start containers which I don't like it at all.

[2015-08-15 22:52] aslakknutsen commented on #162
True, but in BeforeSuite you would want to start all linked containers for all managed containers correct? So you don't need the individual events with getDeployableContainer. Inject and use the ContainerRegistry directly. If any of the names of the containers in the ContainerRegistry match the name of a Cube, then start the Cubes linked Containers.. Doesn't that work?

[2015-08-16 07:17] #165 closed

[2015-08-16 07:20] lordofthejars commented on #162
mmm yes, it is worth to try it. When I finish the integration with docker-java 2.0 I will implement this.

[2015-08-18 00:14] lucasweb78 opened #171 "Unable to start container using Docker Machine on OS X"
I currently have Docker Machine installed on OS X using Docker Toolbox

Docker version 1.8.1, build d12ea79
docker-machine version 0.4.0 (9d0dc7a)

I'm using Arquillian Cube 1.0.0.Alpha7, with wildfly-arquillian-container-remote 8.2.0.Final

I'm attempting to start a Docker Container with Wildfly, below is my arquillian.xml

[code]

When I run my tests I get the following exception:

[code]

[2015-08-18 01:03] aslakknutsen commented on #171
Sounds like you're running into this? https://github.com/arquillian/arquillian-cube/issues/165

Try to build Cube master branch locally and see if that helps :)

[2015-08-18 16:06] lucasweb78 commented on #171
@aslakknutsen, #165 solves my issue above. I'll fallback to specifying serverUri with a https URL in my arquillian.xml for now and wait for the next release.

Closing issue as it is a duplicate of #165

[2015-08-18 16:06] #171 closed

[2015-08-18 16:15] lucasweb78 opened #172 "PoolingHttpClientConnectionManager ClassNotFoundException"
I gett the following exception:

[code]

when using Arquillian Cube. I am able to work around the issue be explicitly adding

[code]

to my pom.xml

If I only have the following dependencies in my pom.xml I see the exception:

Dependency Management
[code]
Dependencies
[code]

[2015-08-18 19:40] lordofthejars commented on #172
So strange since we are using Cube and I have never found this exception.
It might be useful a dependency:tree output to see what s happening since
the missing dependency comes from a 3rd party and not Cube itself
El dt., 18 d’ag., 2015 a les 18.16 Rich Lucas <notifications@github.com> va
escriure:

[2015-08-19 20:00] lucasweb78 commented on #172
I've figured out this issue and it's specific to my dependencies.

I have a dependency which pulls in an older version of httpclient (4.2.6) which does not contain the PoolingHttpClientConnectionManager as this was introduced in 4.3.

Including httpclient 4.3 as a direct dependency in my pom solves this. I'm going to close this issue as it is not an Arquillian Cube problem.

[2015-08-19 20:00] #172 closed

[2015-08-19 20:31] lucasweb78 opened #173 "Using connectionMode 'STARTORCONNECT' and autoStartContainers"
I'm trying two support to use cases:

1. No containers are running and I want Arquillian Cube to start and stop the containers (continuous integration)
2. I have containers running and I want Arquillian Cube to use them. (developers running individual tests)

My arquillian.xml contains the following:

[code]
In order to satisfy use case 1 I need to specify that I want to auto-start mysql and activ

[2015-08-19 22:29] aslakknutsen commented on #173
This issue should address that problem:
https://github.com/arquillian/arquillian-cube/issues/162

Both use cases are legit, and to be honest STARTORCONNECT is support to cover it.. but it seems we have some 'flag soup' when combined with autoStart :)

[2015-08-20 08:09] lordofthejars commented on #172
Nice thank you very much, it was strange but well you know sometimes strange things happens :)

[2015-08-20 19:56] #155 closed

[2015-08-20 20:06] lordofthejars commented on #168
One question for fixing this issue I would like to scan the classpath searching for classes that are annotated with `@WithCubeFixture`. I know that to accomplish this in Apache TomEE, xbean library is used. Any other suggestion?

[2015-08-25 23:14] aslakknutsen opened #175 "Split README"
As we add more and more 'sub modules' to Cube, I think we should split the /README into subsection with links.

e.g.

Keep /README about the common stuff, e.g. CubeController, Containerless
Move Docker / Docker-Machine / Docker-Compose into /docker/README
'Move' OpenShift into /openshift/README

wdyt?

[2015-08-26 10:10] lordofthejars commented on #175
I think it has a lot of sense since the project is growing a lot. Moreover
it will help to organize the chapter of AIA
El dc., 26 d’ag., 2015 a les 1.14 Aslak Knutsen <notifications@github.com>
va escriure:

[2015-08-28 08:39] lordofthejars opened #176 "Create @DockerHostIP Test Enricher"
Create @DockerHostIP Test Enricher to inject the resolved IP of docker host. This is useful in case of arquillian cube standalone and docker machine/boot2docker.

[2015-09-02 10:06] #176 closed

[2015-09-02 10:06] lordofthejars opened #178 "Update to Arquillian 1.1.9"

[2015-09-16 08:36] #178 closed

[2015-09-21 07:53] lordofthejars commented on #167
I want to add some examples of how a Container Object would look like:

[code]
You can define a Cube using `@Image` to set the image to be used. And also `@ArquillianResource` for getting HostIp and binding ports of this cube.

[code]
Creates a Cube image from a directory that contains a Dockerfile.

[code]

Creates a cube from a Dockerfile located at root of genericarchive. This Dockerfile can be

[2015-09-21 10:27] aslakknutsen commented on #167
How about some form of 'Provider' API to programmatically register the Cubes instead of recreating the whole cube yaml format in Annotations?

e.g.

[code]

Technically we could use the same Descriptor as from #74, just a different use case/ registration process.

[2015-09-21 10:35] lordofthejars commented on #167
Does the Provider means creating a `META-INF/services` file or you named Provider because it is a Provider but not a JDK service provider? I like you approach anyway :)

:alien:

[2015-09-21 10:37] aslakknutsen commented on #167
Provider was just a name. How these are discovered is up to the impl :)

[2015-09-21 10:38] lordofthejars commented on #167
The port should be still possible to set in the `Cube` annotation as well as name. So it is possible to use same image in several instances for clustering testing. So in this case I am not sure how your solution might suite.

[2015-09-21 10:47] aslakknutsen commented on #167
Right, the @Cube in your example was the usage. I read that as a short-hand registration.

My solution would be a replacement to @Dockerfile on class/method level.

But how would @Cube(name = "mytomcat", ports="") work? Is each injection point a new instance of a Cube based on "mytomcat" as a template?

[2015-09-21 10:52] lordofthejars commented on #167
My idea is when I found `@Cube` annotation I use the class definition to know which image I need to start (or build prior to start), and then with `@Cube` I give the name and the ports. Nothing more, the idea is not to provide a full support of yaml, but only the basic things we may need (and if anyone opens an issue then add it).

Then with `@Cube` and the class create a container definition that

[2015-09-21 10:56] aslakknutsen commented on #167
How do you deal with the following code in the same run?

[code]

[2015-09-21 12:43] lordofthejars commented on #167
Docker Host will complain because it cannot create two instances with same name. You should do:

[code]

[2015-09-21 13:08] aslakknutsen commented on #167
Right, so each @Cube results in a CreateCube event?

And if you have multiple @Cube(id, port=[different ports]), Docker will complain eventually and the user is silly for trying?

[2015-09-21 13:13] lordofthejars commented on #167
Exactly

[2015-09-21 14:10] aslakknutsen commented on #167
In my mind that is very bad..

That would result in a test suite random failing due to order of TestClass execution... ?

[2015-09-21 14:21] lordofthejars commented on #167
why? I mean in BeforeSuite I will create everything and autostart will start all containers. After that everything will be as a standard Cube test.

[2015-09-21 16:04] aslakknutsen commented on #167
You want to scan all TestClasses in BeforeSuite then?

[2015-09-21 16:08] lordofthejars commented on #167
not all, only the ones defined in the test class under execution.

El dl., 21 set. 2015 a les 18:04, Aslak Knutsen (<notifications@github.com>)
va escriure:

[2015-09-21 18:16] lordofthejars commented on #167
Something like @Page of Graphene but for Cube
El dl, 21 set 2015 a les 18:07 Alex Soto <asotobu@gmail.com> va escriure:

[2015-09-21 18:55] aslakknutsen commented on #167
Right, but unless we do some custom classpath scanning in Cube, you won't know what test classes are to be executed in BeforeSuite. You will know them one by one in BeforeClass first.

[2015-09-22 06:00] lordofthejars commented on #167
humm Iso true I thought that I would be able to get test class in BeforeSuite. The problem with BeforeClass is that autostart has been already executed. Yes probably we will need to do what you mention. xbean-finder can help us a lot.

[2015-10-05 16:11] foxlegend opened #181 "PollingAwaitStrategy: polling problem with ss command on Windows"
Hi there,

When executing an Arquillian test case on Windows with the Cube extension I had a problem with the polling strategy: polling limit was reached and Cube raised an exception as it was unable to connect to my container.
I took a look at my docker daemon logs, and I found such lines:

    time="2015-10-05T14:38:39.352198042Z" level=debug msg="Calling POST /containers/{name:.*}/exec"
    tim

[2015-10-06 16:14] lordofthejars commented on #181
Hi first of all thank you so much for using Cube and more important using windows since we have not been able to test it in Windows. I think that the best way to proceed would be creating a constant  value and fix it as Linux/MACOs value and add a comment saying why this is with this value. Of course PR is more than welcome.

Again thank you so much for your help.

cc/ @aslakknutsen

@myfear: it s

[2015-10-09 11:28] #181 closed

[2015-10-09 11:49] lordofthejars commented on #167
After more discussions we agreed with next code:

[code]

[2015-10-09 11:51] lordofthejars commented on #167
[code]

[2015-10-09 11:52] lordofthejars commented on #167
It is going to be implemented as test enricher to start and afterclass to stop:

[code]

[2015-10-09 11:54] lordofthejars commented on #167
@Cube id is not mandatory and if is not provided  random one is chosen.

[2015-10-12 13:16] aslakknutsen opened #183 "connectionMode STARTORCONNECTANDLEAVE stops cubeManagedContainer"
Looking at this code it seems we will allow to Connect to a running Cube, but we will _always_ stop it.

Looking trough the execution path it seems like it goes like this:

* CreateCube
* StartCube
* PreRunningCube

The issue is in DockerCube, prerunningCube can only be set on a Cube with status DESTROYED:
https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/main/java/org/ar

[2015-10-12 16:09] lordofthejars opened #184 "Updates Docker-Java to 2.1.1"
Updates Docker-Java to 2.1.1

[2015-10-13 17:04] lordofthejars commented on #167
public class Test {

        @Cube("service1")
        Service service;

}

@CubeDockerFile('_class_path_resource')
public class Service {

}

[2015-10-19 13:37] lordofthejars opened #185 "Updates Arquillian Version to 1.1.10"

[2015-10-24 15:04] lordofthejars opened #186 "Add support for private repositories"

[2015-11-02 15:50] #184 closed

[2015-11-02 15:50] #185 closed

[2015-11-02 15:50] #169 closed

[2015-11-04 08:55] lordofthejars opened #188 "Add support for Variable Substitution in Docker Compose Format"
https://github.com/docker/compose/blob/8cc8e61/docs/compose-file.md#variable-substitution

[2015-11-04 08:59] lordofthejars opened #189 "Implement overriding files in Docker Compose Format"
http://docs.docker.com/compose/extends/#multiple-compose-files

[2015-11-04 09:06] lordofthejars opened #190 "Explore new network mode in Docker 1.9"
http://blog.docker.com/2015/11/docker-multi-host-networking-ga/

[2015-11-04 11:24] #162 closed

[2015-11-05 11:14] lordofthejars opened #191 "Autodownload Docker Machine"
It might be interesting that if some kind of flag like `checkDockerExistance` is true, the Arquillian Cube checks if `docker` CLI is on PATH, if not then Cube downloads latest Docker Machine, install it, creates a docker machine with the name specified in `machineName` property and then executes the test.

Probably using Arquillian Spacelift is the best way to achieve this since it has support for

[2015-11-08 20:55] lordofthejars opened #192 "Adding DockerCompose annotation"
Sometimes instead of defining a ContainerObject pattern you want to define a ServiceObject pattern. Basically it is an extension of ContainerObject which it might contain an aggregation of ContainerObjects.
One way to this is by using aggregation of ContainerObjects but if you are defining your services in docker-compose, then it would have more sense to use this file.

IMPORTANT: since docker-com

[2015-11-09 09:11] aslakknutsen opened #193 "Create Cube Arquillian.org Guide"

[2015-11-11 08:46] #168 closed

[2015-11-11 08:46] #167 closed

[2015-11-11 08:47] #74 closed

[2015-11-11 08:47] lordofthejars opened #195 "Adds support for detecting docker inside docker"

[2015-11-11 09:16] aslakknutsen opened #196 "Align ftest module naming"
Currently two different name patterns are used:

ftest-docker-containerobject
arquillian-cube-docker-ftest-standalone

Align to use the same structure.

[2015-11-11 12:34] aslakknutsen opened #197 "Support injection of boundPort in ContainerObject"
[code]

[code]

[2015-11-11 12:39] aslakknutsen opened #198 "Clean up configuration output"
[code]

Avoid printing null. Improve formatting.

[2015-11-11 13:28] aslakknutsen opened #199 "Containerless Container does not shutdown node when node property not given in config"
This works:
[code]

This does *not* works:
[code]

[2015-11-11 14:55] aslakknutsen opened #200 "Expand on CubeController documentation"
Explain;

* Usage Scenarios
* How to use / inject

[2015-11-11 15:26] #199 closed

[2015-11-12 11:26] lordofthejars commented on #198
And pretty printthe container configuration output.

[2015-11-14 18:39] lordofthejars commented on #188
Only supported the ${} syntax and in case of not resolving an environment it is not replaced by white space. Now it is a pure commons-lang usage.

[2015-11-14 18:40] lordofthejars commented on #189
To not break backward compatibility we have added the `dockerContainersFiles` property which is a CSV of files. In case of defining both `dockerContainersFile`, the plural ones take precedence.

[2015-11-17 11:22] lordofthejars opened #205 "DockerConfigurationTests fails in Windows"
DockerConfigurationTests fails when running in Windows due Windows path does not produce valid URI paths.

https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/test/java/org/arquillian/cube/docker/impl/client/CubeConfigurationTest.java#L112-L135

[2015-11-17 13:41] aslakknutsen opened #206 "Add support for autostart of configured docker-machine name if not running?"

[2015-11-17 14:02] lordofthejars commented on #206
we should. The question is and then should be closed? When?

[2015-11-17 14:04] aslakknutsen commented on #206
I guess following normal rules.. If we start it, we stop it.

On Tue, Nov 17, 2015, 14:02 Alex Soto <notifications@github.com> wrote:

[2015-11-18 08:51] lordofthejars opened #207 "Remove usage of MapUtils.verbose"
Remove the usage of MapUtils.verbose in CubeDockerConfiguration class to one created by us.

[2015-11-18 09:12] #186 closed

[2015-11-18 09:12] #205 closed

[2015-11-18 09:12] #198 closed

[2015-11-18 09:13] #189 closed

[2015-11-18 10:28] aslakknutsen opened #208 "PollingAwaitStrategy throws NPE when no portBinding is provided"
To my understanding you don't need to explicitly bind ports to reach a container inside docker it self, only if you need to reach it from the outside.

Since the polling strategy only needs the internal ports to operate anyway, it should inspect the InspectContainerResponse.ContainerConfig.ExposedPorts, not HostConfig to find the ports exposed.

[code]

[2015-11-18 11:52] aslakknutsen opened #209 "Add toString method to CommaSeparatedAutoStartParser for better Configuration print"

[2015-11-18 12:08] #209 closed

[2015-11-18 15:30] #208 closed

[2015-11-19 16:27] lordofthejars commented on #195
http://container-solutions.com/running-docker-in-jenkins-in-docker/

[2015-11-19 23:16] aslakknutsen commented on #158
I think we can say Cubes BOM is via the Universe BOM?

[2015-11-20 08:28] lordofthejars commented on #158
Yes

[2015-11-20 08:28] #158 closed

[2015-11-20 14:08] #197 closed

[2015-11-20 14:08] #188 closed

[2015-11-22 00:50] kubamarchwicki opened #212 "When using autoStartContainers with COMPOSE format exception is thrown"
An exception is thrown when containers are defined in docker-compose file and autoStartContainers is used. I'm working with the latest SNAPSHOT (but with previous releases problem was the same)

I'm getting nasty exception
[code]

with a following config
[code]

The compose is dead simple (and works with the docker-compose)
[code]

Switching to the CUBE format solves the problem
[code]

I my (inex

[2015-11-23 09:38] lordofthejars commented on #212
Hi @kubamarchwicki thanks for your feedback, in fact I was aware of this problem, I am going to push the code today, since I have the fix implemented locally.

[2015-11-23 09:40] lordofthejars opened #213 "Resolve DockerMachine name automatically"
In case that there is only one docker-machine registered, and that instance is up and running it would be not necessary to set it on arquillian.xml.

[2015-11-25 08:53] #212 closed

[2015-11-25 08:53] #207 closed

[2015-11-25 08:54] #183 closed

[2015-11-25 08:54] #173 closed

[2015-11-25 14:28] lordofthejars commented on #166
Some improvements has been done in this direction, but there are always more commands to integrate (some of them not supported yet by docker-java)

[2015-11-26 17:26] aslakknutsen opened #217 "Miss match between arquillian.xml configuration names and printed options"
The printed configuration, during startup, does not match the options the user should provide via arquillian.xml. In the print out we use the Java Bean names, while in the arquillian.xml we have another set of names:

dockerServerVersion -> serverVersion
dockerServerUri -> serverUri

We should display the names the _user_  will use, not our internal names.

[2015-11-26 17:51] aslakknutsen opened #218 "Update security Entropy Source for Tomcat in all ftest modules"
Tomcat rely heavily on SecureRandom, which by default use entropy source /dev/random in Java. To speed things up in our test env we should change this to use /dev/urandom in our ftest suites:

    CATALINA_OPTS=-Djava.security.egd=file:/dev/./urandom

[2015-11-26 18:02] aslakknutsen opened #219 "Update docker.tomcat.host to use dockerServerIp"
Cube can automatically resolve the dockerServerIp for a given host. We should update the ftests to rely on this feature instead of having to provide the host ip and the tomcat ip.

[2015-11-26 20:30] aslakknutsen opened #221 "Cube only allow to update the Containers host|address if boot2docker or docker machine is used"
For some reason, we limit our selves to only update the host/addres option in a Container configuration if we're running using boot2docker or docker machine. Technically I can't see why that would matter, our target will always be behond the 'host' ip regardless of how it's configured.

https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/main/java/org/arquillian/cube/docker

[2015-11-26 20:31] aslakknutsen opened #222 "Some docs improvments"
JAVA_OPTS=-Djava.rmi.server.hostname=localhost

Should recommend using dockerServerIp instead of localhost

    <property name="host">${docker.tomcat.host}</property>
    <property name="httpPort">8081</property>

Should technically be removed due to auto configuration, tho concept is explained later in the doc.
(also #221)

    <property name="managementPort">9991</property>

Should be removed as

[2015-11-26 20:44] aslakknutsen opened #223 "Show a warning/exception if non localhost serverUri is defined and no certPath"
If you do "docker-machine ls" and use serverUri=https://what.ever.the.machine.ip:port is, you get the following exception:

[code]

The exception is due to a missing certificate to handle the SSL. Defining the correct "certPath" fixes this issue, but the exception message is a bit confusing.

Not sure if we should throw exception on null certPath and 'remote ip' used, or go a bit safer route by ca

[2015-11-27 09:24] #196 closed

[2015-11-27 09:24] #218 closed

[2015-11-27 09:24] #219 closed

[2015-11-27 16:20] lordofthejars commented on #223
The problem is this exception is thrown by Docker-Java library. So maybe the best way to proceed would be catching the exception and rethrowing as IllegalStateException with the infor about hey you want to use https but probably there is not cert path or certificates are invalid.

[2015-11-27 16:30] lordofthejars commented on #222
Done. In my repo you can see the changes in README.adoc, I will send the PR as soon as you review the changes :)

[2015-12-01 09:08] #217 closed

[2015-12-01 09:09] #221 closed

[2015-12-07 09:41] lordofthejars opened #227 "Implement CacheUrlAsset"

[2015-12-07 14:53] lordofthejars opened #228 "Updates docs with dockerContainersFiles"
Add docs for dockerContainersFile property and CUBE_ENVIRONMENT env variable.

[2015-12-09 22:31] #227 closed

[2015-12-09 22:32] #223 closed

[2015-12-09 22:32] #213 closed

[2015-12-09 22:32] #200 closed

[2015-12-09 22:33] #222 closed

[2015-12-09 22:41] lordofthejars opened #231 "Implement a Remote CubeRegistry"
Implement a Remote CubeRegistry so it can be enriched in container tests.

[2015-12-09 22:57] #228 closed

[2015-12-10 01:46] aslakknutsen opened #232 "Convert DockerContainerDefinition to proper Object model"
Move away from the usage of magic Map<String, Object> everywhere...

[2015-12-10 09:24] #206 closed

[2015-12-10 10:53] lordofthejars commented on #195
http://stackoverflow.com/questions/23513045/how-to-check-if-a-process-is-running-inside-docker-container

[2015-12-13 11:02] lordofthejars opened #233 "Check what's is parsed when docker-machine is stopped"

[2015-12-15 12:38] lordofthejars opened #235 "Updates Docker-Java to 2.1.3"

[2015-12-15 18:58] #235 closed

[2015-12-15 19:00] #195 closed

[2015-12-15 19:02] #233 closed

[2015-12-17 16:57] rcernich opened #239 "Stale dependency in arquillian-cube-docker"
Looks like this artifact no longer exists: https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/pom.xml#L63-L68

[2015-12-17 16:58] lordofthejars commented on #239
Right, we need to remove it :) thanks.

[2015-12-18 00:07] aslakknutsen commented on #239
my bad! :)

[2015-12-27 11:05] lordofthejars opened #241 "Create A BeforeStartCubeEvent"
Create A BeforeStartCubeEvent so a user can create an extension to add new containers during startup of the test. A workaround now is using Container Pattern, but in this case containers are started and stopped before/after each test.

With events approach they will be started only once.

[2015-12-27 11:08] lordofthejars commented on #241
It should be implemented after https://github.com/arquillian/arquillian-cube/issues/232

[2016-01-09 11:22] smiklosovic opened #242 "How to use Cube out of Arquillian?"
@lordofthejars @aslakknutsen

This is rather question then an "issue".

I would love to use Cube but the thing what I try to achieve is that I need to manage containers with some neat Java API and once containers are started, I have another project which just execute tests against some URL. And I get that URL after container is stared so I need to separate the container creation from the test exec

[2016-01-09 12:02] aslakknutsen commented on #242
Sounds like you want Cube- standalone.

On Sat, Jan 9, 2016, 12:23 Štefan Miklošovič <notifications@github.com>
wrote:

[2016-01-09 12:23] smiklosovic commented on #242
If you mean this (1) it uses injected CubeController to manage them. I can not obviously inject anything and it uses some events to be fired beneath and in my scenario I will never have them injected in the first place.

I think it could be possible to use DockerClientExecutor class direcly. It does not depend on anything Arquillian-specific and it looks like I can safely use it directly.

Is ther

[2016-01-09 13:38] lordofthejars commented on #242
Hi @smiklosovic for what I see I think this is a use case we are missing in Cube. I agree with you that using standalone mode would not require manual steps for starting the containers. For what I see, when starting a standalone, it should take the orchestration file (docker-compose), analyze it and start everything in the correct order. So you only need to set the Runner to be Arquillan and that'

[2016-01-09 13:49] lordofthejars opened #243 "Add System properties resolution for Docker-Compose"
Docker-compose sets that variables `${}` should be resolved against system environment variables. But since we are in Java world, we could also add support for resolution against System properties.

Issue of System env. vars was implemented at: https://github.com/arquillian/arquillian-cube/issues/188

[2016-01-12 16:14] aslakknutsen opened #246 "Remove cubeId from methods on Cube interface"
Methods in question:

* copyFileDirectoryFromContainer
* copyLog
* top

[2016-01-12 16:18] aslakknutsen opened #247 "Move non basic methods from Cube interface into Metadata"
Methods like:

* copyFileDirectoryFromContainer
* copyLog
* top
* getBuildImage (to come)

could be moved into the has|getMetadata feature of a Cube.

A top level CubeMetadata interface should be created to allow easy IDE lookup of possible metadata featues, e.g.:

[code]

[2016-01-14 13:08] aslakknutsen opened #248 "Move IsContainerObject to core-spi"
Depends on #247

[2016-01-14 13:57] aslakknutsen opened #249 "TopCreator is never registered as a Observer"
Causing NPE when accessing Instance<Top>

[2016-01-14 15:47] #232 closed

[2016-01-14 15:47] #249 closed

[2016-01-14 16:10] #248 closed

[2016-01-14 16:10] #243 closed

[2016-01-14 16:11] lordofthejars commented on #241
This issue is not necessary because you can set system properties or environment variables on cube format and docker compose.

[2016-01-14 16:11] #241 closed

[2016-01-15 09:24] smiklosovic opened #252 "Is there any Spring Boot containerless test case available?"
I am looking for the example of Spring Boot with containerless approach. I am struggling to wrap my head around what should be in the Deployment method. I would be _really_ glad to see this in action. Simple POC is enough!

[2016-01-15 09:26] lordofthejars commented on #252
well there is a PoC with Undertow, which is the same (or should be) since it is a Main CLI class.
* https://github.com/arquillian/arquillian-cube/blob/master/containerless/src/test/java/org/arquillian/cube/impl/containerless/DaytimeServer.java
* https://github.com/arquillian/arquillian-cube/blob/master/containerless/src/test/java/org/arquillian/cube/impl/containerless/DaytimeTest.java

[2016-01-15 11:15] #246 closed

[2016-01-15 11:15] #247 closed

[2016-01-15 11:28] #239 closed

[2016-01-15 11:53] aslakknutsen commented on #242
It's not very hard to get it running outside of a Test..

This is based on the 'cube-standalone' classpath.

[code]

[2016-01-15 12:04] aslakknutsen commented on #242
Technically you could do this as well, as far as Cube is concerned, but you might miss out on some other extensions that react to the events:

[code]

[2016-01-15 12:14] aslakknutsen commented on #242
You could do mamager.resolve(CubeController.class) as well, but you'd still need the Cube to get to the binding data. So not sure CubeController would do any good in this case.

[2016-01-15 12:24] smiklosovic commented on #242
Awesome hint Aslak. I will look into this. I can imaging this could be wrapped in some helper class so it would be  a no-brainer. I think that you could use this in test case itself but it would not be run with arquillian runner but with normal JUnit4.class ....

[2016-01-15 12:39] aslakknutsen commented on #242
Yeah, that's what I'nm doing here:

[code]

How else do you run code? ;)

[2016-01-15 13:24] smiklosovic commented on #242
:) This just begs for @ClassRulling it ...

[2016-01-15 13:52] aslakknutsen commented on #242
@smiklosovic so why not use the Arquillian runner? :)

[2016-01-15 14:08] smiklosovic commented on #242
There are some cucumber + serenity tests and it has some crazy runner and even I know there is some Cuke + Arquillian integration, it would mean that the structure of the tests would have to change significantly to "Arquillianify it" and nobody aint got time for that. Plus there is not Serenity support in that extension...

It seems to me that better approach would be just to extract the functiona

[2016-01-15 14:13] aslakknutsen commented on #242
It's only 3 lines of code to get Arquillian created/started/stopped. The rest is Cube already. Not sure what you would gain by 'extract the functionality of what I need when it comes to Docker' .

[2016-01-15 14:23] smiklosovic commented on #242
Yes, maybe I am overengineering here little bit. I think that, looking at your code you have posted while ago, it would be sufficient to not wrap it into anything and use it directly as-is.

[2016-01-15 20:59] smiklosovic commented on #242
@aslakknutsen it works and it is awesome :)

[2016-01-15 21:57] aslakknutsen commented on #242
@smiklosovic excellent! :+1:

[2016-01-15 22:30] aslakknutsen commented on #242
So technically possible to do, I think we still need to document it to show how. So we can leave this open as a doc issue. wdyt?

[2016-01-15 22:55] smiklosovic commented on #242
https://gist.github.com/smiklosovic/efbf59bdddac725d9524

[2016-01-15 23:08] aslakknutsen commented on #242
@smiklosovic nice! Why the custom extension loading ? https://gist.github.com/smiklosovic/efbf59bdddac725d9524#file-dockermanager-java-L124

[2016-01-15 23:10] smiklosovic commented on #242
If I recall correctly, without that, ArquillianDescriptor was not resolved nor fired furter to the Cube extension,.

[2016-01-15 23:16] smiklosovic commented on #242
Huh ... it is working without that line as well, even better, that was some kind of fuzz ... However config-imp-base still has to be there

[2016-01-15 23:18] aslakknutsen commented on #242
yeah, I assume it came in before you added config-impl to cp :) Shouldn't need the custom reg of CubeDockerExtension either.  It's not a @Observer in the scense of Core anyway :)

[2016-01-15 23:31] smiklosovic commented on #242
confirmed, thanks

I am wondering what about Docker compose scenario. I have docker-compose.yml with custom images deployed in private Docker registry. docker-compose up work ok. I am just starting one container of them in a test right now but having them all started would be cool as well.

I had to specify cubeId which was equal to name in dockerContainers property. However when I set dockerConta

[2016-01-15 23:47] smiklosovic commented on #242
I do not know who wrote that Cube readme but I have to say that it reads like a wine. Every now and them I "hmmm" for myself getting know something new. Kudos to @lordofthejars !

[2016-01-16 00:18] aslakknutsen commented on #242
You could try to set autoStartContainers to regexp:.* or something.. that should start all containers.

[2016-01-16 00:23] smiklosovic opened #253 "I want to use events even I use docker-compose"
It seems to me that beforeStop and similar events are treated only in CUBE definition format. I would like to pull something from machines in case I am using COMPOSE definition format as well but I do not think that I can mix these two.

Is there a way how do to this or I just do that via DockerClientExecutor?

[2016-01-16 09:54] smiklosovic opened #254 "Can I use waiting strategies in docker-compose.yml case?"
I have Docker compose YAML and I want to use that one but when I do, it fails to start containers because of timeout. So I wanted to use some polling strategy and I can not pass it to docker-compose.yml as they seem to be ignored.

I tried mixed approach - I put them into dockerContainers property but that obviously does not do anything since I have COMPOSE  definition format.

Am I forced to igno

[2016-01-16 11:59] aslakknutsen commented on #254
We were discussing this scenario at some conference, and added support for among others multipe files you can include.. but I forget what the specific fix to this issue was, @lordofthejars ?

[2016-01-18 16:41] lordofthejars commented on #254
I think it is not possible. By default it uses `ss` command. Maybe we should be able to extract some properties outside the orchestration without affecting all the instances but only the chosen ones.

[2016-01-18 16:41] lordofthejars commented on #253
No you cannot mix now.

[2016-01-18 16:44] lordofthejars opened #255 "Start containers in case of Standalone mode"
When starting Arquillian Cube in standalone mode, then check for autostart strategy, and if is not defined then create a regular expression one with autoStartContainers to regexp:.*.

It should be done similar as https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/main/java/org/arquillian/cube/docker/impl/client/CubeDockerAutoStartConfigurator.java but this one should only

[2016-01-18 16:50] aslakknutsen commented on #254
@lordofthejars yea, this is where we need to be able to enrich the docker-compose configuraton with Cube specific options.. somehow.

[2016-01-18 16:52] aslakknutsen commented on #253
@smiklosovic You should be able to use the CubeController for that, but not automated. Same root cause as #254

[2016-01-18 22:24] smiklosovic commented on #254
Maybe this is offtopic but the reason I am asking is that "normal" waiting strategies are not enough in my case. I have MySQL server in Docker and I am doing some initialization in RUN /my/script.sh when I am setting priviledges to the mysql database, loading sql scripts and so on to the temporary database which is running at port 3307 and once I am done, I kill that instance and I restart that se

[2016-01-19 17:21] #255 closed

[2016-01-20 00:20] eddumelendez commented on #191
Currently working on this and AFAIK the only way to get the last version from github is through the GitHub API using the command below and extracting property *name*

[code]

It is valid for the implementation? are there another way to do that? I thought we could do this:
https://github.com/docker/machine/releases/download/latest/docker-machine_darwin-amd64 instead of https://github.com/docker/mac

[2016-01-20 00:40] aslakknutsen commented on #191
Maybe this is the time to start using Arquillian Space lift to deal with the different os's etc; https://github.com/arquillian/arquillian-spacelift

[2016-01-20 00:41] eddumelendez commented on #191
Yes currently using it to download, give permissions and run docker-machine :)

[2016-01-20 00:52] aslakknutsen commented on #191
Ah, sorry. Had forgotten @lordofthejars original comment.. :)

[2016-01-20 02:37] eddumelendez commented on #191
You can see my draft here https://github.com/eddumelendez/arquillian-cube/commit/1df78a0281268b70f4bb9871d2dd7c22dd1f38c6

I will wait the feedback before to submit the PR

[2016-01-21 11:04] smiklosovic opened #257 "I can not pull images from private registry"
I have image in private registry, I delete that image locally so I expect that Cube will download it. I get this exception:

[code]

In arquillian.xml I have in dockerContainers this line:

[code]

[2016-01-21 11:20] smiklosovic commented on #257
This is my workflow:

1) docker tag <hash> docker.some.company:5000/some/images:x.y.z
2) docker push docker.some.company:5000/some/images:x.y.z

When I remove that image locally by docker rmi <tag>, Cube is not able to pull it, even I have correct dockerRegistry set in arquillian.xml (to http://docker.some.company:5000) and username and password set.

I can login to docker registry by

docker logi

[2016-01-21 11:58] aslakknutsen commented on #257
@smiklosovic What happens if you remove the image prefix, and just set the registry host in arquillian.xml ?

[2016-01-21 12:22] aslakknutsen commented on #191
@eddumelendez You can just send a pull request. The purpose of a pull request is to give feedback..  It's not set in stone. :)

[2016-01-21 12:38] lordofthejars commented on #257
@smiklosovic you are the first one to try this feature. We are using directly the Docker-Java feature but I think that wrong because we are setting username and password but not the `serverAddress` property: https://github.com/docker-java/docker-java#configuration

Can you try to set this property `docker.io.serverAddress` as system property and check if it works?

[2016-01-21 13:43] smiklosovic commented on #257
I was not able to pull it neither way ... I dont know what is the problem. I can pull them without problem.

[2016-01-21 13:57] smiklosovic commented on #257
docker's tag documentation says that I have to tag it like

`docker tag container_hash repository:port/some/image:tag`

after that I am going to push it - if I left repository:port prefix, it would push it to docker.io instead of a private registry. So I do:

`docker push repository:port/some/image:tag`

which starts to push it there and once it is done, I delete that with

`docker rmi -f reposito

[2016-01-21 14:40] smiklosovic commented on #257
@aslakknutsen @lordofthejars

Maybe I have something ... I wiresharked it and when that Docker client do POST to docker daemon that it should create a container with some name, after that daemon response that it does not exist (404 not found) so client POST that daemon should create that image and client posts it like this:

`/v1.21/images/create?tag=5000/some/image:1.0.0&fromImage=docker.some.com

[2016-01-21 14:45] lordofthejars commented on #257
@smiklosovic can you try to use docker-java alone to reproduce the problem? In this way we would be able to isolate the problem.

[2016-01-21 14:48] lordofthejars commented on #257
I have checked and yes we are setting private repo in pull operation: https://github.com/arquillian/arquillian-cube/blob/b0b33b307b260eafb97be6331ac4faca26248c89/docker/docker/src/main/java/org/arquillian/cube/docker/impl/docker/DockerClientExecutor.java#L539

[2016-01-21 15:28] smiklosovic commented on #257
This is my test with pure docker client which downloads it without problems

[2016-01-21 15:36] smiklosovic commented on #257
You do not basically count with the case when imageName has there two semicolons because this line (1) will parse tag from this imageName "docker.some.company:5000/some/image:latest" as "5000/some/image"

Everything which goes to pullImageCmd(_argument_) should go there WITHOUT tag, that tag will be parsed afterwards and it will be put here in withTag method on that command.

(1) https://github.co

[2016-01-21 15:36] smiklosovic commented on #257
(i closed it by accident)

[2016-01-21 15:37] lordofthejars commented on #257
true, so you mean that lastIndexOf would be the best one right? Does this fix everything?

[2016-01-21 15:42] smiklosovic commented on #257
Yeahm plus, as I said above, you should not pass string into pullImageCmd() with tag included. Argument of that method is name "repository", that is not "image with tag" but repository. In Docker case and in this, "repository" is `docker.some.company:5000/some/image`. I believe in case you do not have custom registry, it would be "some/image", again without the tag.

[2016-01-21 15:53] lordofthejars commented on #257
ok, we have then some problems because yo might have tag and not host or tag and host, ... so we will need to parse/play with `indexOf('/')`

[2016-01-21 15:59] smiklosovic commented on #257
yeah, parse it according to how many semicolons you got

[2016-01-21 16:01] lordofthejars commented on #257
well not the number of semicolons but the position of them. Ok I am going to talk with @aslakknutsen to stop the release of next version :)

[2016-01-21 16:02] smiklosovic commented on #257
please could you handle that docker.io.serverAddress if it is still applicable as well?

[2016-01-21 16:03] smiklosovic commented on #257
I think you will ever get only one or two of them. You can not use semicolon in tag nor in image name. The only use cases of semicolon are 1) repository/image and tag separator 2) port in registry address.

[2016-01-21 16:07] lordofthejars commented on #257
if you don't have a tag and you push to a server running on 80 port then you have 0 right? Or this is not a real scenario?

[2016-01-21 16:08] smiklosovic commented on #257
ha :D yes ... or zero :)

[2016-01-21 17:57] smiklosovic opened #258 "I would like to use system properties in dockerContainers property"
Sorry if this is already possible but I noticed you are about the release and I do not want to miss this.

My issue is that I would like to expand system properties in dockerContainers property. Something roughly like this:

[code]

The reason behind this is that I am going to execute these tests by Spacelift Gradle plugin where I set System property to the process which executes them and I want t

[2016-01-21 18:36] lordofthejars commented on #258
If you use Docker-Compose format it is already implemented in all properties:

https://github.com/arquillian/arquillian-cube/issues/188
https://github.com/arquillian/arquillian-cube/issues/243

In custom CUBE format I should take a look if it is possible to implement it easily or not.

[2016-01-21 18:44] smiklosovic commented on #258
I can not use docker compose, I will look into this. Thanks for info.

[2016-01-21 19:05] aslakknutsen commented on #258
It should be handled by core already. If I remember correctly we do sys
prop replacement on the whole XML file as a string.. :)

On Thu, Jan 21, 2016, 19:45 Štefan Miklošovič <notifications@github.com>
wrote:

[2016-01-22 13:29] aslakknutsen opened #260 "Support invocation via Service"
Currently we only support direct communication with a Pod. Multiple Pods cant be hidden behind a Service. Add support to invoke the pods via the Service.

[2016-01-22 13:30] aslakknutsen opened #261 "Update fabric8 kubernetes client version"

[2016-01-22 13:32] aslakknutsen opened #262 "Support multiple Deployments to a single Pod template"
A Pod can contain multiple Containers. When using Containerless Container, we should be able to build more then one Container with a single Pod.

[2016-01-22 13:33] aslakknutsen opened #263 "Support CanCopyFromContainer operation on OpenShift"

[2016-01-22 16:00] smiklosovic commented on #258
I have tried it and it works as Aslak suggested.

[2016-01-22 16:00] #258 closed

[2016-01-22 18:40] smiklosovic opened #265 "Cube 1.0.0.Alpha8 can not parse images from custom registry in configuration"
@aslakknutsen @lordofthejars

I was on Alpha7 for a long time and today I migrated to Alpha8

All was good in Alpha7 but now, I am not able to start any container which image is from private image repository, even I have that image stored locally.

I have it like this:

[code]

But when I look into the output which is being printed out while test is executing of the dockerContainers resolved prope

[2016-01-22 18:54] lordofthejars commented on #265
It will be fixed in alpha9
https://github.com/arquillian/arquillian-cube/pull/264
<https://www.google.com/url?q=https%3A%2F%2Fgithub.com%2Farquillian%2Farquillian-cube%2Fpull%2F264&sa=D&sntz=1&usg=AFQjCNG_SLRJZxACEW7QUBqIMLh9OfpFgg>
El 22/1/2016 7:40 p. m., "Štefan Miklošovič" <notifications@github.com>
escribió:

[2016-01-22 23:11] eddumelendez commented on #191
@aslakknutsen yes, just wanted to validate the draft before to send the PR. The next review will be over the PR.

[2016-01-23 18:24] smiklosovic commented on #191
@eddumelendez very cool feature, +100 for using Spacelift for that.

[2016-01-25 11:17] smiklosovic commented on #242
@aslakknutsen

It is possible to use this in a suite?

My problem is that I have JUnit Categories tests and I gather all Docker-like tests together. Every test case class interacts with Docker somehow.

I have Manager public and static and the funny thing is that when Manager is shutted down (as a result of the test case itself, I am shutting down Manager after all containers are stopped), it thro

[2016-01-25 11:40] lordofthejars commented on #265
https://github.com/arquillian/arquillian-cube/pull/264 was merged.

[2016-01-25 11:40] #265 closed

[2016-01-25 11:40] lordofthejars commented on #257
https://github.com/arquillian/arquillian-cube/pull/264

[2016-01-25 11:40] #257 closed

[2016-01-25 11:41] lordofthejars commented on #252
Can I close this issue?

[2016-01-25 12:12] smiklosovic commented on #242
I slightly rewrote that class in a way that it constructs Manager (= loads the extension) everytime it detects that it is stopped so it effectively activates application context.

[2016-01-25 12:16] #252 closed

[2016-01-25 14:04] aslakknutsen commented on #242
@smiklosovic If you can find the correct hooks sure. @Before / @After in a @Runner(Suite.class) executes before and after the suite if I remember correctly.

[2016-01-25 14:10] aslakknutsen commented on #242
But you'll need to enforce the Junit4.7 Maven Surefire runner to support it, and I believe exclude the 'Suite children' from running in Maven. And you'll need to ru the Suite for any of them to work, as a Child doesn't know of the Suite but it requires it.. I guess you could workaround that with some Base class the Docker ones and the Suite extend and store Manager in a static or something to only

[2016-01-25 18:53] smiklosovic commented on #257
Hi @lordofthejars

I tried what is merged now and it does not work. I will investigate further if I am pulling it from right Docker registry to double check it.

It times out and writes this:

        Caused by:
        com.github.dockerjava.api.DockerClientException: Could not pull image: Error: image snapshot/tomcat:8.0.30 not found
            at com.github.dockerjava.core.command.PullImageResu

[2016-01-25 18:58] smiklosovic commented on #257
I have here some weird network timeouts and unstable internet ... I will keep you posted.

[2016-01-25 19:24] lordofthejars commented on #257
Yes please, take a look at the code because IIRC I am only getting image
and tag, only two strings
El 25/1/2016 7:58 p. m., "Štefan Miklošovič" <notifications@github.com>
escribió:

[2016-01-25 21:38] smiklosovic commented on #257
URLs seemsto be ok and it parses it correctly. The thing is that requests from JUnit test I posted and from Cube differs.

In JUnit test case, the request has X-Registry-Auth header and Cube sends it without it. On registry side, I can clearly see that the request with that header from test pulls that image without any problems and authentization passes.

On the other hand, I see that Cube does no

[2016-01-25 21:42] smiklosovic commented on #257
I think it boils down to the docker loging thing (1)

(1) http://stackoverflow.com/questions/25560333/what-is-content-of-x-registry-auth-for-docker-push-to-private-registry

I can login from the console to private registry without problems. It seems to me that Cube kind of does not pick this as well.

Or maybe I am just missing something?

[2016-01-25 21:51] smiklosovic commented on #257
Oh man this was ordeal ...

I did it. The issue was that I have not set email property and without that - X-Registry-Auth was not added as a header. This is super weird but nevermind ...

So it works :)

:+1: :+1: :+1: :clap: :clap: :clap:

[2016-01-26 08:30] lordofthejars commented on #257
yes, you need to set all the parameters or it doesn't work hehehe, Cool that it worked.

[2016-01-26 11:15] aslakknutsen commented on #257
Is there something to detect in configuraiton here and possible log a warning to the user? if != docker.hub and email == null? "you mgiht want to configure credentials" ?

[2016-01-26 12:20] smiklosovic commented on #257
that would definitely help in debugging. I would check if whole username-password-email triple is set. I can imagine that a lot of people would stop to try to set it as my frustration level was quite high yesterday :D

[2016-01-26 13:17] lordofthejars commented on #257
Yes check your investigations and if you need the triplet, then let's add an error log line

[2016-01-26 16:47] smiklosovic opened #267 "I am getting connection resets when trying to use docker machine"
@lordofthejars  @aslakknutsen

I followed all what is in the documentation. I have machine started, no containers there, ip of machine is used in arquillian.xml, I have set machineName to my virtual box docker machine,

This is exception:

http://pastebin.com/raw/u3kCcFiM

This is more or less arquillian.xml

[code]

It is possible to use CUBE format in case I am using docker machine?

I am not su

[2016-01-26 16:52] lordofthejars commented on #267
This line can be removed and will be automatically set by Cube: ` <property name="serverUri">https://dockerHost:2376</property>`

[2016-01-26 16:52] lordofthejars commented on #267
but not sure if your problem is in docker machine connection or not.

[2016-01-26 17:09] smiklosovic commented on #267
Huh, as it turned out, there is not "static" type in polling strategy. Only "ping" or "ss". I changed type to ping and it works but in the documentation there is:

"Note that ping only works if you are running Docker daemon on localhost. "

[2016-01-26 17:24] smiklosovic commented on #267
@lordofthejars

you know what would be cool? If I have this waiting strategy, I have it like this:

[code]

But when you think about that, I have, effectively, the same IP in string which gets replaced by dockerHost in serverUri.

It would be cool if, in case there is some docker machine about to start and dockerHost is replaced, that ip in await strategy block would be automatically replaced as w

[2016-01-26 18:07] lordofthejars commented on #267
ip attribute is not in await strategies

[2016-01-27 16:00] #267 closed

[2016-01-27 16:20] smiklosovic opened #268 "Alignement with Docker 1.10 release"
Hello,

I am looking forward to Docker 1.10 with significant network improvements as static setting of containers IP address via --ip property.

I would like to know how you are about the alignement with 1.10? Is there a lot of changes to cover? When it comes to that --ip feature which is quite important to me, how does this propagate to Cube? Is there a need to implement that somehow or it is aut

[2016-01-27 16:23] aslakknutsen commented on #268
Alpha8 is out.. :)
http://arquillian.org/blog/2016/01/21/arquillian-cube-1-0-0-Alpha8/

[2016-01-27 16:24] smiklosovic commented on #268
Ah, I meant Alpha9 :)

[2016-01-27 16:25] smiklosovic commented on #268
Alpha9 will resolve downloading of images from private repository which is quite important for me as well.

[2016-01-27 16:38] aslakknutsen commented on #268
@smiklosovic When ever you stop finding blocking issues for you :)

[2016-01-27 17:32] lordofthejars commented on #268
@smiklosovic @aslakknutsen yes Alpha9 is going to fix private repos. We can release it after I implement how to set await strategies when using Docker-Compose.

About new network thing, there is two things, the first one is that it is implemented in current snapshot of docker-java, so we need to wait. Also there is an issue https://github.com/arquillian/arquillian-cube/issues/190 opened to discuss

[2016-01-27 17:33] aslakknutsen opened #269 "Update to Arquillian Core 1.1.11.Final and remove ShrinkWrap 1.2.3 override"

[2016-01-27 20:14] smiklosovic commented on #268
Technically speaking I do not depend on that static IP so much and it can be done via domain names in /etc/hosts right now but it is quite important feature in a long run. Pulling images from private repository is not a blocker for me as well because it can be always downloaded manually beforehand.

I have saw the other PR with automatic Docker machine thingy and it would be nice to have Alpha9 ou

[2016-01-27 22:41] eddumelendez commented on #268
@smiklosovic yes docker 1.10 will be released the next week. [Docker Roadmap](https://github.com/docker/docker/wiki)

[2016-01-28 10:07] #269 closed

[2016-01-29 15:25] lordofthejars opened #271 "Add Integration with Jenkins Traceability Plugin"
Add integration with https://wiki.jenkins-ci.org/display/JENKINS/CloudBees+Docker+Traceability so when a test is executed, the image is notified that has been used for testing purposes.

[2016-01-29 16:19] aslakknutsen commented on #271
You want to notify of images Cube built as well?

[2016-01-29 16:20] aslakknutsen opened #272 "Support OpenShift PortForward to reach non extnerally bound ports"

[2016-01-29 16:21] lordofthejars commented on #271
@aslakknutsen I am not sure if it has sense to notify the built ones, since these images are not going to be used in production but only built for testing purposes. The main focus of this plugin is to know which images are in production and the history they has been followed.

[2016-01-29 16:30] aslakknutsen opened #273 "Rewrite CommandLineExecutor to use Arquillian SpaceLift"
https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/main/java/org/arquillian/cube/docker/impl/util/CommandLineExecutor.java

Depends on https://github.com/arquillian/arquillian-cube/pull/266#issuecomment-176846635

[2016-01-29 17:27] #272 closed

[2016-01-29 17:28] #261 closed

[2016-01-29 17:28] #263 closed

[2016-02-02 11:30] oscarfh opened #274 "Cannot connect to docker container started by Arquillian Cube"
I am trying to use Arquillian Cube to use Docker to run my Integration Tests.
I have a project which was already using arquillian tests to an existing Wildfly. Now  I want it to communicate with a Widlfly that is running on a Docker container. To do so I added the following dependencies:

[code]
My Arquillian.xml is the following:

[code]
If there is no container with this name, I get:

But the co

[2016-02-02 11:44] lordofthejars commented on #274
This is not because of Cube but because of Docker, if all the test is executed within Cube then it takes care of cleaning this, if not you need to do it manually.

Yes this is the case when you want to deploy the deployment file using @Deployment annotation, and  not using standalone mode.

Have you seen this example? https://github.com/arquillian/arquillian-cube/tree/master/docker/ftest Here you

[2016-02-02 11:57] oscarfh commented on #274
Thanks for the reply. I didn't know this example. Taking a look at it, I can't see any reason why I can't connect to the container.  I will take a more detailed look at it.

[2016-02-02 11:59] lordofthejars commented on #274
hummm it is strange since you are running in Linux and it should works natively.

[2016-02-02 12:16] oscarfh commented on #274
For information, I get this printed when I run mvn isntall.

/home/user/.boot2docker/certs/boot2docker-vm doesn't exist in my machine (ubuntu doesn't need boot2docker)

[2016-02-02 12:19] lordofthejars commented on #274
so true .... why is this value set mmmm @aslakknutsen are you able to test it on Linux without boot2docker? I am not sure if this might affect your test but obviously this is wrong (even if it is not used in case of Linux it prints wrong information).

[2016-02-03 09:17] aslakknutsen commented on #274
@oscarfh Are you binding the mgm port to 0.0.0.0 as well?

[2016-02-03 09:20] aslakknutsen commented on #274
@oscarfh Are you binding mgm port to 0.0.0.0? https://github.com/arquillian/arquillian-cube/blob/master/docker/ftest/src/test/resources/wildfly/Dockerfile#L3

[2016-02-03 09:28] oscarfh commented on #274
Yes. And exposing ports 8080 and 9990,
`CMD ["/opt/jboss/wildfly/bin/standalone.sh", "-b", "0.0.0.0", "-bmanagement", "0.0.0.0"]`

I can access the management using the browser.
It seems that it is a step "before" reaching wildfly: I think Arquillian Cube can't identify that the container is started, in order to connect to it.

[2016-02-03 09:30] aslakknutsen commented on #274
@oscarfh Do you have this example pushed somewhere?

[2016-02-03 09:31] aslakknutsen commented on #274
@oscarfh The ."CubeControlException: Could not start jboss" happen normally due to not being able to  ping the contianer. The polling strategy will by default ping all portBindings.

[2016-02-03 09:34] aslakknutsen opened #276 "Add support for influencing the AutoStart order via SPI"
When working with Q I came across a need to influence the default sort order.

Server A -> Server B

Now the proxy is installed as:
P -> A  (proxied route for external bount port)
P -> B (proxied route for communication with Server B)
Server A -> P (updated Server A link to reoute via proxy)

P can't link to both Server A and B so it needs to communicate with them via IP directly. The problem then

[2016-02-03 09:35] oscarfh commented on #274
I will push it as soon as possible to my github account, would that be ok?

[2016-02-03 09:37] aslakknutsen commented on #274
@oscarfh That would be perfect.

[2016-02-03 10:06] aslakknutsen commented on #276
Come to think of it, I can workaround it by adding a 'syntetic' link from A -> P and B -> P, even tho it's never used it would force the order to be correct.

[2016-02-03 10:06] lordofthejars commented on #276
humm thinks starting to get complicated :)

[2016-02-03 10:42] smiklosovic opened #278 "I want to use system property expansion in normal arquillian.xml"
@aslakknutsen @lordofthejars

I can not use ${someProperty} in arquillian.xml properties, it works in dockerContainers but it does not work in normal properties.

There is negative precedence in CubeConfigurator set to -10 so it will be the first observer of ArquillianDescriptor and it just parses it badly.

Can it be somehow changed so they will be expanded there anyway?

[2016-02-03 10:51] oscarfh commented on #274
Here is it:
https://github.com/oscarfh/docker-cube-test

It is a simple project, runs on my local wildfly (9.0.2 fresh install), but can't start the container using docker.

Just in case there is a need for some code change in docker cube, I would be happy to make the pull request :)

[2016-02-03 10:52] smiklosovic commented on #278
Huh I have interesting "problem" here.

Since I am using Cube without Arquillian, I am creating Manager instance in a constructor of object which is effectively static so it will be parsed before I set system properties programmatically ...

[2016-02-03 11:52] #278 closed

[2016-02-03 15:50] aslakknutsen commented on #274
This fixes the reconnect issue;
https://github.com/oscarfh/docker-cube-test/pull/1

It's a Cube extension setting, not a Docker setting. :)

It still fails the first time you start it, but success on second time. The reason it fails to connect on first attempt is because the 'ss' command is not found in the contianer image. Which is a bit odd as it's based on centos:7..  Maybe centos:8 is required

[2016-02-03 16:10] aslakknutsen opened #279 "CertPath set wrong when unix://socket selected"
This doesn't seem to have any effect on it working or not, but the internal value is still wrong and is a cause of confusion.

It's not DockerMachine, but it's not a Mac boot2docker either;
https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/main/java/org/arquillian/cube/docker/impl/client/CubeDockerConfigurator.java#L211

:)

[2016-02-03 16:10] lordofthejars commented on #274
Documentation is wrong about this. @oscarfh you have your PR if you want to help :)

[2016-02-03 16:10] aslakknutsen commented on #274
Here is the certpath issue; https://github.com/arquillian/arquillian-cube/issues/279

Doesn't seem to make a difference, but.. still technically wrong :)

[2016-02-03 16:11] lordofthejars commented on #279
we should add an if in the caller of this method to not be called if it is on unix and no certPath set, or we can do it inside this method

[2016-02-03 16:17] aslakknutsen commented on #274
I've been using the jboss/wildfly images for all demos for a long time, but never WildFly 10. It seems jboss/base changed from fedora:20 to centos:7 some time ago:
https://github.com/jboss-dockerfiles/base/commit/328f451604a917a9680516ab55297811836ee296

[2016-02-03 16:26] aslakknutsen opened #280 "Detect and report error on SS command missing from image when using PollingAwaitStrategy"
Currently, if the SS command is missing the Cube will just report 'Can not connect to X'. Why it can't connect is not so obvious.

The call is initiated from here;
https://github.com/jboss-dockerfiles/base/commit/328f451604a917a9680516ab55297811836ee296

The resut of missing command can be seen here;
https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/main/java/org/arquilli

[2016-02-03 16:28] aslakknutsen commented on #280
The ping method in question seems only to be used by the PollinAwaitStrategy when sscommand type is selected. Not sure if we need to introduce some type of 'ValidateRequest' callback so the caller can determine if the result is ok, or attempt to match in general the 'command' attempted to be executed against the Result, or just hardcode it in there.

[2016-02-03 16:29] aslakknutsen commented on #274
And here is an improvment to the missing SS command issue; https://github.com/arquillian/arquillian-cube/issues/280

[2016-02-03 16:36] oscarfh commented on #274
@lordofthejars  Cool :) I will make it :)

[2016-02-03 16:42] lordofthejars commented on #280
Maybe a log with fatal level?

[2016-02-03 16:47] aslakknutsen commented on #280
I think it should fail. Just a log line is to easy to miss.

You have configured something we can't do.

[2016-02-03 16:55] oscarfh commented on #274
@aslakknutsen Which jboss/wildfly image do you use? I tried with 9.0.2Final but it still doesn't work.
I also tried this one: https://github.com/arun-gupta/docker-images/blob/master/wildfly-ubuntu/Dockerfile which uses Ubuntu. Still exactly the same behavior... (first time fails, connect after that)

[2016-02-03 17:01] oscarfh commented on #274
@aslakknutsen Which jboss/wildfly image are you using? I tried the 9.0.2.Final and it didn't work (still using CentOS).
I was able to use it by using this image: https://github.com/arun-gupta/docker-images/blob/master/wildfly-ubuntu/Dockerfile

[2016-02-03 17:01] goldmann commented on #274
@aslakknutsen Yep, it was change long time ago as it was a popular request + made the resulting image smaller. Is there any issue with it?

[2016-02-03 17:06] oscarfh opened #281 "Improve documentation regarding connectionMode"
The documentation states that connectionMode is a Docker setting, when it is a Cube setting. Improve the documentation to let this clear.

[2016-02-03 17:07] oscarfh commented on #274
#281 Just opened it. I am working on it now.

[2016-02-03 17:10] aslakknutsen commented on #274
@goldmann the jboss/wildfly:10 image is missing the ss command. But my local centos:7 image has it.  Not sure why atm. But Cube rely on SS by default to detect when a Service has started listening on the ports we need to communicate with.

[2016-02-03 17:18] goldmann commented on #274
Please open an RFE against https://github.com/jboss-dockerfiles/base, I'll add it.

[2016-02-04 13:02] aslakknutsen opened #283 "New Await strategy: Await ping service"
In lights of 'ss' seemingly being removed from all over the place to align the content of base docker images, I think we can expect ss to be more and more un available in the future:
https://github.com/jboss-dockerfiles/base/issues/5

A possible await strategy could be to deploy a minimal container that can ping the target containers from inside the machine/host.

* Create/Start a Arquillian Ping

[2016-02-04 14:15] lordofthejars commented on #283
how about trying other commands that runs pretty similar as `ss`? Do you think all of them are going to be removed? Also I am still see two options:

1) user need to create a dockerfile that installs ss.
2) we can install it by letting user set the command to execute to install it.

[2016-02-05 10:25] #281 closed

[2016-02-05 10:26] lordofthejars commented on #274
@aslakknutsen  Can we close this issue?

[2016-02-05 10:26] #273 closed

[2016-02-05 10:31] oscarfh commented on #274
yes

[2016-02-05 12:09] aslakknutsen commented on #274
Yeah, I think we got all issues covered elsewhere

[2016-02-05 12:22] #274 closed

[2016-02-06 09:04] smiklosovic commented on #283
maybe this is the right time to incorporate propper api for connection checks on application layer, afaik port binding done doesnt necessary mean the target app under test is fully running

[2016-02-06 09:10] smiklosovic commented on #283
i have connection checks on tcp and udp layer based on spacelift reexecution feature of connection tasks, could not that just be called repeatedly until successful connection or timeout?

[2016-02-06 09:26] smiklosovic commented on #276
I have got similar problem while I was extracting that whole Cube runtime into completely standalone / Arquillian-less usage because even I can fire Create/StartCube events on my own, since I am outside of Arquillian lifecycle and I have a container which links to other three, I had to make sure that the other three are fully started before the fourth one is about to start which will link to them

[2016-02-06 09:31] aslakknutsen commented on #276
Show us your sexy beast! :)

[2016-02-06 09:41] lordofthejars commented on #283
This is the polling strategy right?
El 6/2/2016 10:10 a. m., "Štefan Miklošovič" <notifications@github.com>
escribió:

[2016-02-06 09:43] lordofthejars commented on #276
And even better let s add it in containerless and core :)
El 6/2/2016 10:31 a. m., "Aslak Knutsen" <notifications@github.com>
escribió:

[2016-02-06 12:53] smiklosovic commented on #268
sweet, It's out!

https://github.com/docker/docker/releases/tag/v1.10.0

Lets see how many things this will break :)

[2016-02-06 12:58] smiklosovic commented on #276
I am afraid I will not be able to disclose it as it is technically the intellectual property of the company I am currently working for. Believe me I would be the very first one who would show it to you if possible.

But yeah, that is the solution I did and it serves my needs pretty well. In connection with Spacelift Gradle plugin, whole orchestration of the testing platform is no-brainer. I do not

[2016-02-08 09:37] smiklosovic opened #287 "Any idea how to incorporate Recorder to Cube?"
I am just wondering if there is any specific feature you would like to see in Recorder when added to classpath while Cube is in charge.

Maybe there could be events listening on After/Before Cube Started/Stopped/Created or something similar which would appear in the final log.

Maybe logs from container could be appended to the final report as well? I can imagine that e.g. you would get dump of ca

[2016-02-08 10:32] aslakknutsen commented on #287
Yea, good question. Adding some of the configuration and I guess the lifecycle events would be a start.

This issue is semi related: https://github.com/arquillian/arquillian-cube/issues/271

[2016-02-08 10:57] aslakknutsen commented on #283
A Health API Ping would be a common strategy.

[2016-02-09 14:22] lordofthejars commented on #287
Basically it means creating the events in SPI and modify this class https://github.com/arquillian/arquillian-cube/blob/master/core/src/main/java/org/arquillian/cube/impl/client/CubeLifecycleController.java to fire the events right?

And add only this

[code]

[2016-02-09 14:24] lordofthejars commented on #287
Wait Wait this is what we want right? https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/main/java/org/arquillian/cube/docker/impl/model/DockerCube.java#L99 So we do not need to do anything. It is already there.

[2016-02-09 15:41] aslakknutsen commented on #287
It might be easier to have as a Observer that observes the After/Before Cube events. That would allow us to dynamically add the Observer only if Recorder is on classpath and not bind Cube to the Reporter/Recorder

[2016-02-09 15:46] lordofthejars commented on #287
Yes agreed but this observer should be in its own module, but the events
are already developed. It is a matter of implementing observers
El 9/2/2016 9:42 a. m., "Aslak Knutsen" <notifications@github.com> escribió:

[2016-02-09 16:45] aslakknutsen commented on #287
I think we should do as we do with containers. As it to Cube core as a provided dependency. Recorder is added by user. It's so so many ways to configure recorder already

[2016-02-09 16:53] lordofthejars commented on #287
yes, so it is a new module in Cube which if users add in the classpath then
everything is recorded.

El dt., 9 febr. 2016 a les 17:45, Aslak Knutsen (<notifications@github.com>)
va escriure:

[2016-02-09 20:55] aslakknutsen commented on #287
I was arguing the opposite, keep it in core. A single observer that is
loaded if recorder is on class path. Core it self does not exist recorder
as a dependency.

That will allow the user to configure Cube and add recorder on will and not
have to add Cube-recorder as well.

On Tue, Feb 9, 2016, 17:54 Alex Soto <notifications@github.com> wrote:

[2016-02-09 21:04] lordofthejars commented on #287
Right, good idea, at the end but they are still need to add a dependency.
And of course it should be implemented at core.

Stefan are you going to implement it or provide an example to follow to
implement it?
El 9/2/2016 2:55 p. m., "Aslak Knutsen" <notifications@github.com> escribió:

[2016-02-10 03:35] lordofthejars commented on #271
After talking with my mates we decided that the best way to proceed with this is not implementing in Cube, but using one program provided by Docker Traceability Plugin which listens for Docker host events and do all the job. So when image is created by cube, the listener will detect and register in Jenkins.
This also ensures fully compatibility and less code to manage.

[2016-02-10 03:37] #271 closed

[2016-02-10 07:08] aslakknutsen commented on #271
How do you know which are created/used by this test run? Compare time?

[2016-02-11 00:37] #280 closed

[2016-02-11 00:45] lordofthejars commented on #271
WellI have talked wth people from solutions about this use case. They have told me the next. First that since it is traced the container, the docker traceability plugin knows which build has done this container so for each run the event manager will notify that the container with id X has been started and he knows that container X was created by job Y, so in this way we have fixed this. Then it co

[2016-02-12 00:58] eddumelendez commented on #191
should this ticket be closed?

[2016-02-12 04:49] lordofthejars commented on #191
I think so, thanks :)
El 11/2/2016 6:58 p. m., "Eddú Meléndez Gonzales" <notifications@github.com>
escribió:

[2016-02-12 16:35] smiklosovic commented on #268
I have update to 1.10 and nothing is broken so far.

[2016-02-12 16:43] lordofthejars commented on #268
Cool :) now the problem is adapting new docker-compose format
El 12/2/2016 10:35 a. m., "Štefan Miklošovič" <notifications@github.com>
escribió:

[2016-02-12 16:47] aslakknutsen commented on #268
Excellent

[2016-02-12 18:15] smiklosovic commented on #268
In the end there are these two errors when mvn installing

`Tests run: 15, Failures: 2, Errors: 0, Skipped: 0, Time elapsed: 0.235 sec <<< FAILURE! - in org.arquillian.cube.docker.impl.client.CubeConfiguratorTest
shouldUseDefaultsInCaseOfNotHavingDockerMachineInstalledAndNoDockerUriNorMachineName(org.arquillian.cube.docker.impl.client.CubeConfiguratorTest)  Time elapsed: 0.021 sec  <<< FAILURE!
ja

[2016-02-12 18:18] smiklosovic commented on #268
I do have docker machine installed so when I understand that correctly, that test counts on the fact that I do not have it installed? If this is true, I would do some JUnit Assume in that test.

[2016-02-12 21:32] smiklosovic commented on #268
https://github.com/arquillian/arquillian-cube/pull/289

[2016-02-12 22:15] smiklosovic opened #290 "Building of node container in test fails"
This one is weird

http://pastebin.com/raw/7AfXTS9q

It behaves same if I use docker-java 2.1.4 or 2.1.3. I am on Docker 1.10.1 on Centos 7.2.1511. I have updated serverVersion from 1.12 to 1.22 and it is the same thing.

I have DOCKER_OPTS="-H tcp://127.0.0.1:2375 -H unix:///var/run/docker.sock"

Workaround is found here http://git.eclipse.org/c/linuxtools/org.eclipse.linuxtools.git/commit/?id=2b

[2016-02-12 22:17] smiklosovic commented on #290
I will work on this here

https://github.com/smiklosovic/arquillian-cube/tree/hijack

[2016-02-12 22:20] smiklosovic commented on #268
this one was spotted afterwards https://github.com/arquillian/arquillian-cube/issues/290

Sorry for the buzz ... I was thinking it would be more smooth transition towards 1.10.

[2016-02-15 11:06] aslakknutsen opened #292 "Test"
Test test

[2016-02-15 11:07] aslakknutsen commented on #292
123

[2016-02-15 11:36] #292 closed

[2016-02-15 15:11] #254 closed

[2016-02-15 15:11] #191 closed

[2016-02-15 15:11] #253 closed

[2016-02-16 10:20] smiklosovic commented on #290
I am still on Alpha7 and it behaves weird with Docker 1.10.1. All was good with 1.9 but with 1.10.1, there are various hangouts and timeouts, e.g. it can not stop already running containers and it stops basically on this:

[code]

so in the end it hangs on this in DockerClientExecutor.java

this.dockerClient.stopContainerCmd(containerId).exec();

Maybe it is related to this issue.

@aslakknutsen @

[2016-02-16 10:36] lordofthejars commented on #290
Sorry I am in 1.9 now

[2016-02-16 11:03] smiklosovic commented on #290
I can confirm that it works with current cube and 1.10.1. I am wondering what is wrong with Alpha7 or Alpha7 and Docker 1.10.1 that it does not play well.

[2016-02-16 11:25] lordofthejars commented on #290
Maybe java-docker client version?

El dt., 16 febr. 2016 a les 12:03, Štefan Miklošovič (<
notifications@github.com>) va escriure:

[2016-02-19 15:24] lordofthejars opened #293 "Add ShutdownHook"
Add some ShutdownHook that when the JVM is killed (by IDE) it sees if any container is still up (started by cube obviously) and kill them

[2016-02-19 15:24] lordofthejars opened #294 "Updates to docker-java 3 RCX"

[2016-02-23 12:40] eddumelendez opened #296 "docker-machine distribution names change"
v0.6.0
https://github.com/docker/machine/releases/download/v0.6.0/docker-machine-Darwin-x86_64

v0.5.6
https://github.com/docker/machine/releases/download/v0.5.6/docker-machine_darwin-amd64

May we can get the filename from the github api?

[2016-02-23 14:30] lordofthejars commented on #296
Well I will say that we always download the latest one which we are compatible.

[2016-02-23 16:29] lordofthejars opened #298 "Create DockerClient method for starting Container Objects"
Create DockerClient method for starting Container Objects, objects that are annotated with `@Cube`, programmatically. So you can do something like:

[code]

[2016-02-24 11:00] lordofthejars opened #299 "Add HostPort enrichment for none ContainerObject pattern"
Add HostPort enrichment for none ContainerObject pattern

[2016-02-25 09:28] #299 closed

[2016-02-25 09:48] lordofthejars commented on #298
This issue might need first this fix if we want to support in-container too. https://github.com/arquillian/arquillian-cube/issues/231

[2016-02-25 11:03] aslakknutsen commented on #298
Start with client side support. Then if we see a need for it, create an in container issue.

[2016-02-25 11:03] lordofthejars commented on #298
in CubeController or in DockerClient? I think best is CubeController.

[2016-02-25 11:16] aslakknutsen commented on #298
The ContainerObject impl is in Core right? If in Core then CubeController.

[2016-02-25 11:19] lordofthejars commented on #298
No it is in Docker side.

El dj., 25 febr. 2016 a les 12:16, Aslak Knutsen (<notifications@github.com>)
va escriure:

[2016-02-25 11:28] aslakknutsen commented on #298
We should probably extract some of the Core features around ContainerObjects and move them to Core. That way we can just as well have OpenShift based ContainerObjects as Docker.

But we can expose this on DockerClient until that is done.

[2016-02-25 11:30] lordofthejars commented on #298
agreed

El dj., 25 febr. 2016 a les 12:28, Aslak Knutsen (<notifications@github.com>)
va escriure:

[2016-02-25 12:25] #293 closed

[2016-02-26 17:10] #296 closed

[2016-02-27 19:20] lordofthejars opened #304 "Avoid conflicts when starting from clean tests"
Sometimes because of error situations there are containers that are not removed and when you reexecute a test, that test fails with next exception:

[code]

Maybe we could create a new property called `clean` that by default is false, but if it is true and this exception is thrown, Cube automatically removes the image and reexecute the command.

[2016-02-27 19:23] lordofthejars commented on #298
Design:
https://gist.github.com/aslakknutsen/2452f126eb428bca7a95

https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/main/java/org/arquillian/cube/docker/impl/client/CubeDockerExtension.java#L27

[2016-03-01 10:42] lordofthejars opened #305 "Remove ping operation"
Remove ping operation since it is useless and takes like 1 second to be executed.

[2016-03-01 10:43] lordofthejars opened #306 "Using extends doesn't replace environment vars"
Using extends doesn't replace environment vars of files which extends from.

[2016-03-02 09:37] lordofthejars opened #307 "Update to Commons-lang-3"
Update to Commons-lang-3 so we can use in Docker-Compose the `:-` syntax.

[2016-03-03 14:02] foxlegend opened #308 "InvalidPathException: UNC path is missing sharename: /\.dockerenv (Top.java) on Windows"
Hello there,

When upgrading to Cube 1.0.0.Alpha9, a new problem appeared on Windows.
Launching tests results in the attached stacktrace: [arquillian_cube_1.0.0.Alpha9_stacktrace.txt](https://github.com/arquillian/arquillian-cube/files/156807/arquillian_cube_1.0.0.Alpha9_stacktrace.txt)

Thus, when trying to debug the problem, I found that it was a problem of path interpretation using the java.nio

[2016-03-03 14:19] lordofthejars commented on #308
First of all thank you very much for using Cube and sorry for any inconvenience it is causing you. Yes it seems the problem is with the added of DinD support.  Can you provide a PR?  We are going to release a new version next week so this fix could be inside.

Alex.

[2016-03-03 14:27] foxlegend commented on #308
No need to apologize ;) I'll provide a PR as soon as possible !

David.

[2016-03-03 15:07] #308 closed

[2016-03-04 14:52] foxlegend opened #310 "InternalServerErrorException: http: Hijack is incompatible with use of CloseNotifier"
Hello there,

I had a new issue when building the image with Cube.
In fact, it seems to be a known issue with docker itself I could not explain.

When building an image, Cube seems to perform the following Docker API queries:

* ping (OK),
* build the image with Dockerfile directory content (OK),
* create the container (OK),
* start the container (OK),
* inspect the container (OK),
* create the aw

[2016-03-04 14:56] lordofthejars commented on #310
Interesting, I have never seen this error :), one question, do you think it is possible to do a JUnit test using `docker-java` to reproduce the problem?

[2016-03-04 15:13] foxlegend commented on #310
Ok, I'll have a try to create such a JUnit test as soon as possible ;)

[2016-03-04 15:38] lordofthejars commented on #310
See that it seems it is fixed https://github.com/docker-java/docker-java/issues/471 so if we have the unit test we will be able to test it, or you can wait until we can merge the PR of docker-java https://github.com/arquillian/arquillian-cube/pull/295 and try then :)

[2016-03-07 14:31] smiklosovic commented on #310
I have spot this as well:

https://github.com/arquillian/arquillian-cube/issues/290

I do not have the workaround yet. However I have to say that updating to Docker 1.10.2 and using API 1.22 seems to solve this. I have not spot that error anymore ... I am on Arquillian Cube 1.0.0.Alpha7 and Docker 1.10.2.

[2016-03-07 14:33] smiklosovic commented on #310
Well, I do not obviously spot this error because I have not been building images :) I have spot this error while I was trying to update Cube to use Docker 1.10.2 so yes, you might still get that exception.

I am wondering if this will be autoresolved while using new docker-java client of that rc2 release ...

[2016-03-07 14:36] smiklosovic commented on #310
@foxlegend your investigation went 100% right and that is indeed the problem but I have not run that extra mile to implement the fix you did. Thanks a lot for it!

It would be awesome if you were able to sent a PR where this is solved. I would rather wait for the docker-java alignement first to see it if was not already resolved by it.

[2016-03-07 21:10] lordofthejars commented on #310
It seems in rc2 is fixed according to a fixed issue described there
El 7 mar. 2016 3:36 p. m., "Štefan Miklošovič" <notifications@github.com>
escribió:

[2016-03-09 14:11] #305 closed

[2016-03-09 14:11] #307 closed

[2016-03-09 14:11] #306 closed

[2016-03-10 10:53] #304 closed

[2016-03-10 12:19] #294 closed

[2016-03-10 12:20] lordofthejars commented on #310
We have updated docker-java version to latest ones, in next release would be interesting to try it and see if it is still happens or not.

[2016-03-10 15:04] foxlegend commented on #310
Hello !

I had a try with HEAD which contains the merge with PR updating docker-java-version.
Unfortunately, I have the same problem (attached below):

* [arquillian_cube_docker_java_3_stacktrace.txt](https://github.com/arquillian/arquillian-cube/files/167332/arquillian_cube_docker_java_3_stacktrace.txt)

I didn't have the time to create a JUnit, are you still interested?
Are you also interested b

[2016-03-10 15:08] lordofthejars commented on #310
Absolutely, we need to find what is happening :) and if you found a possible solution with code maybe we can extrapolate to other situations. Thanks

[2016-03-10 15:47] foxlegend commented on #310
Ok, I'll provide this ASAP.

For information, after further investigation it seems to be a problem with go: docker/docker#12845 and golang/go#9763

It should be fixed once docker would be build with go 1.6, and fortunately: docker/docker@14d5c91d87fac962bbb36c12b05f3b1603aa28a8 :) (maybe for Docker 1.11.0).

[2016-03-10 16:16] lordofthejars commented on #310
Are you using native Linux Docker or docker-machine?

[2016-03-10 16:35] foxlegend commented on #310
I am using something near to boot2docker (a corporate made solution using vagrant).

[2016-03-10 16:36] lordofthejars commented on #310
ok, I said this because I talked with one guy that happened the same with native linux docker but installing docker machine on linux and using it, fixed everything

[2016-03-11 05:57] mikesir87 opened #316 "Test fails if trying to stop container that's already been stopped"
**Background** - I'm working on building a setup in which I spin up a container for the app (wildfly-docker) and another container for Selenium (for Graphene/Drone testing).  To make things easier hostname-wise, the Selenium container is linked to the Wildfly container.  To make sure everything is ready for testing, I have an autoStartContainers set to start the Selenium container.  Since the Sele

[2016-03-11 08:50] lordofthejars commented on #316
Could you paste the arquillian.xml file?

[2016-03-11 13:24] mikesir87 commented on #316
Here you go!

[code]

[2016-03-11 13:25] mikesir87 commented on #316
And I tried swapping the ```autoStartContainers``` property from the "select all" to just selenium.  Of course, starting just selenium still started the wildfly-docker container since it depends on it.  So, there was no change there.

[2016-03-11 13:52] lordofthejars commented on #316
Ok I  now understand the problem correctly :) You PR fixes it and it is a good way to do it :) thank you very much for your help, and sorry for any inconvenience.

Alex.

[2016-03-11 13:52] #316 closed

[2016-03-11 14:20] mikesir87 commented on #316
No problem at all! You all did a great job writing it, so it was pretty easy to figure out what was going on and where to plug in a fix.  Thanks!

[2016-03-14 14:31] HDBandit opened #319 "No Containerless Docker container configured in extension with id {container_id}"
I am using containerless adapter. When I launch my arquillian test always this error message is shown:

No Containerless Docker container configured in extension with id {container_id}

  You can see my arquillian.xml file :
[arquillian.xml.zip](https://github.com/arquillian/arquillian-cube/files/172142/arquillian.xml.zip)

You have available all my code  code (POC) in this github link : https://g

[2016-03-16 11:37] lordofthejars commented on #310
hello, how is going the PR?

[2016-03-16 17:35] lordofthejars opened #322 "Removes hijack workaround"
In some cases and versions of Docker used, an http: Hijack is incompatible with use of CloseNotifier exception is thrown.

It seems to be a problem with go and should be fixed in go 1.6 (and maybe in
Docker 1.11.0).
For now, closing and recreating the Docker client after a call to the build Docker
command seems to solves the problem.

[2016-03-16 18:46] smiklosovic commented on #310
awesome!!! can't wait to try it tomorrow at work ...

[2016-03-17 09:06] smiklosovic opened #324 "certificate validation fails when not using boot2docker nor docker machine"
@lordofthejars @aslakknutsen

In case I run natively on Linux, without boot2docker nor docker machine, there is this exception:

This is the cause:

[code]

DockerClientConfig from docker-java fails on this because if it is not null and if tls verify thing is true, it will check the presence of that certificate but Cube resolved it bad because of the following so it fails as well:

https://github.

[2016-03-17 09:11] lordofthejars commented on #324
agreed. What I don't understand is why it has not failed until now.

[2016-03-17 10:07] smiklosovic commented on #324
So, Alex did this:

https://github.com/lordofthejars/arquillian-cube/commit/b6042ed0a2a0f3d80c4998f1780f46e12f17b477

I have changed tcp scheme to "unix" but it fails on this:

[code]

I think that you are still coping with docker machine, that .docker/certs path is used in docker-machine itself.

http://stackoverflow.com/questions/31176262/what-does-the-docker-tls-verify-and-docker-cert-path-vari

[2016-03-17 10:27] smiklosovic commented on #324
So the situation is like this:

when I do not set that dockerCertPath, it will build that configuration here

https://github.com/arquillian/arquillian-cube/blob/master/docker/docker/src/main/java/org/arquillian/cube/docker/impl/docker/DockerClientExecutor.java#L157-L161

and it will be built here:

https://github.com/docker-java/docker-java/blob/7c27d149876c19bb233f7dc865bee163a0aa601e/src/main/ja

[2016-03-17 13:32] smiklosovic commented on #324
https://github.com/arquillian/arquillian-cube/pull/325

[2016-03-18 14:49] #324 closed

[2016-03-18 14:50] lordofthejars commented on #319
Not a bug in Cube part.

[2016-03-18 14:50] #319 closed

[2016-03-18 14:50] #310 closed

[2016-03-18 14:52] lordofthejars commented on #290
There was a problem that serverUri was not set correctly. Test has been fixed.

[2016-03-18 14:52] #290 closed

[2016-03-18 14:53] lordofthejars commented on #268
We have moved to Docker-Java 3 which is the one that supported Docker 1.10. Next steps will be opening issues for supporting new Docker Compose format, Network, Volumes, ...

[2016-03-18 14:53] #268 closed

[2016-03-28 04:48] eddumelendez opened #328 "Support docker-compose.yml v2"

[2016-03-29 10:42] smiklosovic opened #330 "In case docker-machine binary is not installed, Cube fails"
@eddumelendez @lordofthejars

We are using Cube in CI environment where we have only native slaves so we do not use docker-machine.

Cube Alpha10 fails on this scenario because it determines if docker-machine is present or not by trying to execute that binary here (1)

The problem is that "false" is returned in case it catches IllegalArgumentException. However, it fails on this:

[code]

Hence you

[2016-03-29 10:58] smiklosovic commented on #330
Momentally, workaround is to just provide docker-machine binary to have Cube happy

[2016-03-29 11:49] #330 closed

[2016-04-07 08:12] lordofthejars opened #333 "Add AfterStart option"
Add BeforeStart option so we can execute something just after the container has been started. For now there should be two operations:

1) Copy something from local to container
2) Execute something (and this requires that you can set if you want to execute inside the container (`inside`) or  from the host (`run`)

[2016-04-07 08:12] lordofthejars commented on #283
we can use https://github.com/vishnubob/wait-for-it but this implies copying that file into container and execute it. This change could be related with https://github.com/arquillian/arquillian-cube/issues/333

[2016-04-18 20:59] spolti opened #335 "Port-fowarder does not accept you to specify the local port"
The method allocateLocalPort() on BuildablePodCube only returns a high number port to forwarder map on localhost. Sometimes we need to specify which port we want to use.

[2016-04-18 21:01] spolti commented on #335
In the proposed PR I added the "org.arquillian.cube.portforwarer.local" system property:
false: do nothing, still using high ports
true: use the same port as target container.

PR: https://github.com/arquillian/arquillian-cube/pull/336

[2016-04-19 08:33] smiklosovic opened #337 "Docker machine is started automatically even I want to use native containers"
It took me a while to spot this but I am using arquillian.xml in both host and machine mode and in case I want to start containers natively without machine, Docker Machine is started anyway - even it is not used as a runtime for containers.

I briefly checked the sources and it seems to me that the code which starts the machine is this (1)

I do have "machineName" in arquillian.xml but my serverUr

[2016-04-19 08:53] smiklosovic commented on #337
I remember that it was possible to have "machineName" in arq.xml and it would not start it if I run containers in native mode. Maybe autostarting of Docker machine should be "false" by default or in case you are running against local docker it would not be started in case it is turned off.

[2016-04-19 11:29] lordofthejars commented on #337
Yes this is the default behaviour for now, and probably is wrongly now that MacOS can also start Docker natively. I am not sure what could be the best option here. It is true that it seems reasonable that if user has configured machine name it means he wants to use docker machine. Any thoughts on this @aslakknutsen and @bartoszmajsak ?

[2016-04-19 12:14] smiklosovic commented on #337
@lordofthejars right ... but if it is done in such way that when machineName is set it starts it, even I do not want it, it will automatically prevent me from using one arquillian.xml for both scenarios just because of one property.

[2016-04-19 21:52] lordofthejars opened #338 "Implement await strategies pluggable"
It should be interesting to be able to provide to developers a way to implement their own await strategies.
Basically allowing to set a fully qualified class which follows an interface.

With this pluggable system, Cube will inject the current Cube (or binding) object that is going to be deployed as well as the docker host.

[2016-04-19 21:53] lordofthejars opened #339 "Implement new await strategy using wait-for-it"
https://github.com/vishnubob/wait-for-it

The strategy should download this script an execute it.

[2016-04-20 09:56] smiklosovic commented on #333
:+1: optionally, you can extend this to beforeStart, afterStart, beforeStop and afterStop, I have done it in my "thing". I hooked it to lifecycle of manager for some specific service so I can just write a hook from clients point of view directly in a test method.

[2016-04-20 22:11] lordofthejars commented on #337
@smiklosovic do you know any way to detect if docker CLI is pointing to docker machine or not? I understand your point but if machineName is set then you are tight to docker machine.

[2016-04-20 22:12] lordofthejars commented on #283
@aslakknutsen can I close this issue with won't fixed since now we can register custom await strategies?

[2016-04-21 07:29] smiklosovic commented on #337
when serverUri has string "dockerMachine" or something similar in it, dont you assume it will be automatically replaced by ip of machine? hence if that string is not there, would not you assume that you do not run machine hence you do not start it?

[2016-04-21 07:37] smiklosovic commented on #337
if it is done in such way that you start machine and after it is started you replace that string by its ip, it is useless. however if you start machine iff that string is going to be expanded, that could be something

[2016-04-21 09:30] aslakknutsen commented on #283
@lordofthejars Sure, but maybe create a new one for e.g. 'HTTPAwaitStrategy' that can verify a HTTP response by content/status code ?

[2016-04-21 11:07] #283 closed

[2016-04-21 11:08] lordofthejars opened #341 "Create HTTPAwaitStrategy"
HTTPAwaitStrategy' that can verify a HTTP response by content/status code

[2016-04-29 14:49] jwendell opened #344 "Error with connectionMode = STARTORCONNECTANDLEAVE"
I've put this snippet into arquillian.xml file:
[code]
Then I'm getting this error at the very beginning of the test:

Caused by: io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: POST at: https://SERVER.COM:8443/api/v1/namespaces/cearq-eap64-udbdqlfl194/pods. Message: resourceVersion may not be set on objects to be created. Received status: Status(apiVersion=v1, code=500,

[2016-04-29 23:19] jwendell commented on #344
Found the guilty: https://github.com/fabric8io/kubernetes-client/pull/391
So, I'm going to close this one as this is not a cube issue :)

[2016-04-29 23:19] #344 closed

[2016-05-02 10:10] #338 closed

[2016-05-02 12:48] #341 closed

[2016-05-02 14:09] jwendell opened #346 "connectionMode STARTORCONNECTANDLEAVE doesn't work"
I've put this snippet into arquillian.xml file:
[code]
Test went successfully but it **did delete** the pod in the end.

[2016-05-05 13:20] lordofthejars opened #348 "add container_name support in docker compose"

[2016-05-06 15:54] #348 closed

[2016-05-06 21:28] lordofthejars commented on #276
when you say influencing, you mean that you might be able to configure some configuration attribute to set your own autostart strategy or you want to configure it during test execution programmatically?

[2016-05-06 21:40] lordofthejars opened #352 "Add support for depends_on"
Need to add support for `depends_on` in docker compose (and cube format) which means adding an ordered way to start containers. Obviously this means changing some of the AutomaticAutoStart resolutions to not only take into consideration links (in case of no network) and just use `depends_on` in case of network.

[2016-05-07 20:25] #190 closed

[2016-05-07 20:26] #166 closed

[2016-05-08 21:23] lordofthejars commented on #339
Currently working on this issue. This will allow run polling on container side from images that does not contain `ss` command.

[2016-05-09 08:38] smiklosovic opened #354 "Android in Docker"
I just had to write this idea down somewhere ... So the thing is that in integration tests in Droidium I am doing really _massive_ setup how to get all Android SDK up and running, I have there custom special tasks to start and stop Android emulators and so on ... I have just realized that this could be completely thrown away and it would be totally simplified just by spinning up Docker container w

[2016-05-09 08:53] smiklosovic commented on #354
If I extends this idea, I think that it is very interesting option to incorporate Docker into Arquillian runtime directly.

For example, right now you have concept of "containers" which are somewhere physically when you want to run your tests - remote / managed ... what have you.

But it would be interesting if Arquillian treated Docker like the first class citizen and not via extension - you woul

[2016-05-11 08:49] #276 closed

[2016-05-11 10:39] #339 closed

[2016-05-11 14:59] smiklosovic opened #357 "ConfigUtil.dump and load seems to be not symmetric"
I want to get rid of arquillian.xml file completely so everything will be configurable from the configuration class where I basically gather possible configuration from user and after that I set system properties programmatically so Arquillian manager will be configured purely from system properties so arquillian.xml is not needed anymore.

The problem is that when I provide some CubeContainer con

[2016-05-12 13:18] #328 closed

[2016-05-12 13:19] lordofthejars commented on #357
Yes the problem I see is that sysout does something related for loging and not for being reused in another way.

[2016-05-12 13:28] smiklosovic commented on #357
This seems to fix it

https://github.com/arquillian/arquillian-cube/pull/358

[2016-05-12 13:31] smiklosovic commented on #357
After dumping it looks like this:

    containers:
        tomcat:
            alwaysPull: false
            await: {iterations: 15, sleepPollingTime: 5 s, stdErr: false, stdOut: true, strategy: polling,
            timeout: 15, type: ping}
            cpuSet: '123'
            exposedPorts: [1099/tcp, 8000/tcp, 8080/tcp, 8009/tcp]
            image: some.image:5000/org/tomcat:latest
            l

[2016-05-12 13:39] #357 closed

[2016-05-18 17:52] spolti opened #359 "Port Forwarder has some issues when running long tests"
Issues:

java.io.IOException: XNIO000804: Received an invalid message length of -2147287037
TCP Window gets full after a couple deployments leading the test to fail.

[2016-05-18 17:53] spolti commented on #359
PR: https://github.com/arquillian/arquillian-cube/pull/347

[2016-05-24 10:53] lordofthejars commented on #337
right, well serverUri is not expandable if you are running in linux, the problem is that if you set dockerMachine and you are under linux maybe you still want to use docker machine in Linux. Since you can overwrite arquillian properties using system properties, I recommend that in these cases just unset machineName.

[2016-05-25 00:26] smiklosovic commented on #337
thats nice advice

[2016-06-07 08:43] foxlegend commented on #322
Just to give a status about the issue: upgrade to go 1.6 was canceled in docker 1.11.x because of some issues:

* docker/docker#20865: Pre-golang 1.6 Dockers can't talk to golang 1.6 Docker,
* docker/docker#21489 and docker/docker@3e0bd74a3d2647fa8c7783f4a053ad225746e6eb: Downgrade to Go 1.5.3.

But it was reintroduced recently for the next Docker release:

* docker/docker#22840 and docker/docker@

[2016-06-07 20:21] jwendell opened #361 "Support more than one namespace?"
Currently (in openshift adapter) it seems we can use only one, static namespace, which must be provided upon creation time.

Is it possible to use more than one namespace?

My scenario would be: Run each class on its own namespace instead of having one namespace for the whole test suite.

We could add an observer for BeforeClass for instance, setting the namespace to be used...

[2016-06-08 11:34] eddumelendez commented on #352
@lordofthejars I think that this should be closed.

[2016-06-10 08:52] lordofthejars commented on #352
True, thanks.

[2016-06-10 08:52] #352 closed

[2016-06-13 17:43] lordofthejars opened #364 "Containerless without Dockerfile"
Currently when you want to use containerless you need to create a Dockerfile with special name in `ADD` command and then when running the containerless test a new docker image is created with that content copied.

For example:

[code]

Instead of this we can create an special archive that let's you set the location where it needs to be copied. Then no Dockerfile is required, Cube will start the im

[2016-06-14 08:02] lordofthejars opened #365 "Add support for context in docker-compose v2"
Add support for context in docker-compose v2 https://docs.docker.com/compose/compose-file/#build

[2016-06-16 10:45] lordofthejars opened #366 "Creates an AfterAutoStart and AfterAutoStop event"
Creates an AfterAutoStart event that is fired when all autostarted containers are started and same when they are stopped.

[2016-06-16 10:55] lordofthejars opened #368 "Add a default value to remove volumes propery"
Add a default value to remove volumes property to avoid some possible NPE when containers are destroyed.

[2016-06-16 13:35] #368 closed

[2016-06-16 13:35] #366 closed

[2016-06-17 12:54] lordofthejars opened #370 "If not docker-machine name defined an exception is thrown"
If not docker-machine name defined an exception is thrown but docker-machine is running it should take this instance as machine, but in this case it tries to run boot2docker.

[2016-06-18 13:08] eddumelendez commented on #370
@lordofthejars I have tested commenting the following line

[code]

and everything is ok. The only problem I had was when I use empty `machineName`:

[code]

[2016-06-18 13:54] lordofthejars commented on #370
I tried with not setting it in MacOS and it crashed. Did you tried in Mac?
El 18 jun. 2016 3:08 p. m., "Eddú Meléndez Gonzales" <
notifications@github.com> escribió:

[2016-06-18 14:01] eddumelendez commented on #370
Yes, I tested it in mac. I was also reviewing all the code and looks good to me but sometimes looks like `docker-machine` is not detected, pretty weird. Today, everything ran ok. I will keep testing.

[2016-06-18 14:06] lordofthejars commented on #370
Look take the ftest containerless example. This was the example where I
detected
El 18 jun. 2016 4:01 p. m., "Eddú Meléndez Gonzales" <
notifications@github.com> escribió:

[2016-06-18 23:14] dimitrichkhartishvili opened #371 "java.net.ConnectException: Connection refused Local Docker Host"
while try to run example from docs on local machine receive error.
OS Ubuntu 14.04 x64

log4j:WARN No appenders could be found for logger (org.jboss.logging).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.
CubeDockerConfiguration:
  serverVersion = 1.23
  serverUri = tcp://localhost:2375
  tlsVerify = fals

[2016-06-20 14:47] lordofthejars commented on #370
No worries I have found the problem. I had two docker machines started, one locally and another one for digital ocean account. So everything is fine.

[2016-06-20 14:47] #370 closed

[2016-06-20 14:48] lordofthejars commented on #371
with this information I cannot say a lot, what is the content of your `arquilllian.xml`?

[2016-06-20 14:49] #337 closed

[2016-06-22 14:24] dimitrichkhartishvili commented on #371
Sorry, I incorrectly set arquillian.xml .

[2016-06-22 14:24] #371 closed

[2016-06-22 20:12] margic opened #372 "Docker For Mac Beta Unix Socket Not Supported"
The newly released Docker for mac [https://docs.docker.com/docker-for-mac](url) replaces boot2docker supported by arquillian. The biggest difference is the native use of the hypervisor which uses a unix socket instead of tcp in the docker host.

This is actually desirable however arquillian cube is configured to use boot2docker on mac by default using the default boot2docker url. If the serverUri

[2016-06-23 06:19] lordofthejars commented on #372
For what you mention, it seems that the problem could be in docker-java library. The first thing that should be done is create a simple example with only docker-java and see if it can connect and create a docker instance using native docker in Mac, just to discard where is the problem, since in theory and from the point of view of Cube, we are only calling docker-java methods and it works with nat

[2016-06-23 06:30] lordofthejars commented on #372
https://github.com/docker-java/docker-java/issues/537

[2016-06-23 16:06] margic commented on #372
I saw that ticket. I started trying to update the docker-java client to use the newer dependency. There will be downstream changes necessary in arquillian cube for both docker-java api changes and a need to support the new default mac option in addition to boot2docker currently the mac default.

There are changes to the test suite for the docker-java that are unrelated (they are due to changes in

[2016-06-27 13:49] smiklosovic opened #373 "downloading of docker-machine fails"
I do not have ~/.arquillian and spacelift fails to download a docker-machine.

I was thinking that it will automatically create whole path but I have to explicitly create `/home/smikloso/.arquillian/machine/v0.7.0/docker-machine` in order to have it passed.

However, looking into `docker-machine` directory, it is empty so it is not downloaded anyway.

[2016-06-27 14:38] lordofthejars commented on #372
yes let's leave it opened until we know how to manage this.

Thanks for your research and of course any PR when everything is fixed is welcomed as well.

[2016-06-27 14:45] lordofthejars opened #374 "Add manual attribute"
Add `manual` attribute to a cube definition. This attribute marks this cube as not autostarted container. This means that the cube is going to be opened only by developer in the test by using `CubeController` or a Cube extension.

[2016-06-28 10:12] #374 closed

[2016-06-28 10:12] lordofthejars opened #377 "Updates to Docker Java 3.0.0 final"

[2016-06-28 10:15] #377 closed

[2016-06-29 14:01] lordofthejars opened #379 "NPE is thrown when cube does not define any binding port"
NPE is thrown when cube does not define any binding port

[code]

[2016-06-29 21:02] #379 closed

[2016-06-30 12:06] lordofthejars opened #381 "Stopping an already stopped container should not throw an exception"
Stopping an already stopped container should not throw exception `com.github.dockerjava.api.exception.NotModifiedException` because in case of Q, when a container is  killed/stopped by external process, the test fails because of Cube exception since it cannot stop a container that has been killed by external process.

[2016-06-30 14:24] #381 closed

[2016-07-02 16:53] lordofthejars opened #383 "Add Kubernates support"
Add Kubernates support (without OpenShift) so first of all users can use K8s without depending on Openshift and secondly this could be used as base for OpenShift support)

[2016-07-02 16:53] lordofthejars opened #384 "Integration with Docker Swarm (Docker 1.12)"
Study how we are going to create integration with Docker Swarm (docker 1.12 changes everything with services and Swarm and it is not provided as REST API)

[2016-07-02 16:56] lordofthejars opened #385 "Integration with Drone"
Integration with Drone. This implies two tasks:

- [x] Add automatically the docker image depending on the browser.
- [x] Replace existing `WebDriver` instance (if any) to a WebDriver that is of type Remote and points to given `dockerhost` value.

[2016-07-02 17:00] lordofthejars opened #386 "Integration with Pact-JVM"
Integrating Cube to https://github.com/DiUS/pact-jvm so basically the user sets the container (AS) where client is going to be executed (this is nothing new since it is the same way as it is been doing now) but since it is executed in a Docker container we need to copy the result file to host.

Then user need to explicitly say which is the producer container and Cube will execute the other part of

[2016-07-05 13:51] lordofthejars opened #388 "Add section for Arquillian Standalone and Cube in README"
Add section for Arquillian Standalone and Cube in README

[2016-07-05 16:18] lordofthejars opened #389 "Add can execute processes metadata in DockerCube"
Add can execute processes metadata in DockerCube

[2016-07-06 17:36] #389 closed

[2016-07-06 17:36] lordofthejars opened #391 "Add support for CPU management"
Add support for CPU management (Cpushares, cpuset, ...)

[2016-07-07 18:15] #175 closed

[2016-07-07 18:27] lordofthejars opened #392 "Allow parallel execution of tests"
It is perfectly fine to execute in same docker host same containers to run different tests against them.

For this reason we need to indicate to container name that there is a part of the name that should be dynamically generated.

For example given:

[code]

implies that container instance is going to be called `tomcat` and this means that test cannot run in parallel in the same docker host since

[2016-07-08 10:03] lordofthejars commented on #383
http://discuss.arquillian.org/t/unify-arquillian-openshift-k8-projects/301

[2016-07-08 16:14] lordofthejars opened #393 "Add support for JaCoCo in Cube standalone mode"
Add support for JaCoCo in Cube standalone mode so when executing client test, the code run in the container can also be counted in coverage.

[2016-07-08 16:24] lordofthejars commented on #393
http://www.eclemma.org/jacoco/trunk/doc/agent.html
http://www.techinsight.io/review/adobe-experience-manager/incontainer-testing-for-aem-with-docker/

[2016-07-13 15:52] #388 closed

[2016-07-14 07:08] bartoszmajsak commented on #392
One thing to keep in mind is to deal with port offsets somehow in a smart way, as external ports have to be unique.

[2016-07-15 15:24] #392 closed

[2016-07-16 12:47] eddumelendez commented on #373
@smiklosovic thanks for the report. I have just submitted a PR to fix this issue.

[2016-07-18 06:20] #373 closed

[2016-07-19 09:17] iocanel opened #399 "Can't build the master"
I tried to build the master and hit all kinds of issues, so apparently I miss something.

1. Tried with JDK 1.7.0_79 and I am hitting `is missing value for the attribute <clinit>`.
2. Tried with JDK 1.8.0_91 and I am having test failures:

<details>
  <summary>Failed tests</summary>
[code]
</details>
<details>
  <summary>Tests in error</summary>
[code]
</details>

In both cases tried with maven  3

[2016-07-19 09:35] lordofthejars commented on #399
It is strange because you are not the only one who has found this problem. I am not sure why this is happens since everything is mocked.

[2016-07-19 09:51] bartoszmajsak commented on #399
I can only confirm it's the same problem for me. I would assume not all mocks are wired properly together?

[2016-07-19 09:57] iocanel commented on #399
@lordofthejars: There is something missing here (or I am missing something obvious).

Take `tlsVerifyShouldBeTrueInCaseOfNotSetAndDockerHostTagPresent` for example:

- docker uri is provided explicitly
- tls is not set

so its expected that tlsVerify = true but I do get tlsVerify=false, why?

according to https://github.com/arquillian/arquillian-cube/blob/2889021b9ef893da32f7f9e6bd577dda0b489625/d

[2016-07-19 10:05] iocanel commented on #399
Commenting out this line: https://github.com/arquillian/arquillian-cube/blob/2889021b9ef893da32f7f9e6bd577dda0b489625/docker/docker/src/main/java/org/arquillian/cube/docker/impl/client/CubeDockerConfigurator.java#L356

Fixes all the tls related failures and I am left with only one error.

[2016-07-19 10:12] lordofthejars commented on #399
Well the solution should not be comment this line, probably we need to mock the operative system too

[2016-07-19 10:19] lordofthejars commented on #399
I think the solution is adding an `assumeThat` since in Linux the test should be false not true

[2016-07-19 10:22] lordofthejars commented on #399
The problem is that I cannot test since I am in Mac. So what I would do is something like:

`Assume.assumeThat(new OperatingSystemResolver().currentOperatingSystem().getFamily(), is(not(OperatingSystemFamily.LINUX)));`

[2016-07-19 10:24] bartoszmajsak commented on #399
How about VM with Linux on it? ;)

[2016-07-19 10:26] lordofthejars commented on #399
Yes but it is faster if you can do the assumeThat than me having to install everything (VM, Linux, Maven, git, ....)

[2016-07-19 10:33] lordofthejars commented on #399
@iocanel If you want I send a PR with all the `assumeThat` calls.

[2016-07-19 10:35] iocanel commented on #399
@lordofthejars: let me try it here first and I'll share my experience.

[2016-07-19 10:40] iocanel commented on #399
works great!  so feel free to send a pr!

[2016-07-19 10:40] lordofthejars commented on #399
You tried what I suggested in all failing tests right?

[2016-07-19 10:42] iocanel commented on #399
Yes! It fixes all failing tests and we are now left to deal with the error, which I think I can tackle.

[2016-07-19 10:56] lordofthejars commented on #399
Currently master has the

[2016-07-19 11:27] lordofthejars commented on #393
http://discuss.arquillian.org/t/cube-standalone-and-jacoco/328

[2016-07-19 12:57] iocanel commented on #399
Now the NodeTest is failing me!

Is there a ci env somewhere that periodically tests master, or tests pull requests against? It would definitely help here.

[2016-07-19 13:04] lordofthejars commented on #399
We should do something, the problem is that only docker main tests can be
run, since ftests requires a lot of environment configuration

El dt., 19 jul. 2016 a les 14:57, Ioannis Canellos (<
notifications@github.com>) va escriure:

[2016-07-19 13:06] lordofthejars commented on #399
Some ftests requires docker machine, others boot2docker and others native docker. In case of NodeTest it only runs if  you are using a docker-machine. I know we should improve this in CI or maybe just add assumeThat in every test

[2016-07-19 13:20] iocanel commented on #399
We had similar issues, with fabric8 too.

The approach we took in the end is to move anything that has external dependencies (docker, kubernetes, openshift) to separate modules and separate profiles. Personally, I don't fancy that approach because moving tests in a different module pretty much guarantees that they will become stale.

I think I like the assumeThat approach better, but still feel th

[2016-07-19 13:30] lordofthejars commented on #399
In fact in Cube we are almost there, I mean what we do is if you are on Windows or Mac we search for a docker machine or boot2docker installation. If you are in Linux and if you set machineName means that you are using docker machine in Linux and if not we use automatically native docker.

Also not setting machineName means that Cube tries to resolve docker machine and if not then it is a native d

[2016-07-20 11:53] iocanel commented on #399
This is more complex than I thought and neither assumeThat nor some annotations on the test itself can be much of a help, as its not the test that fails but deployment.

Is there a way to do something equivalent to assume with the deployment? The only thing that comes to my mind is playing with Rule (but I am not even sure if that would work).

[2016-07-20 12:01] aslakknutsen commented on #399
Perhaps Arquillian Governor could help here?

Maybe one of the existing extensions like Ignore or Skipper, or a custom impl for some Cube specific tasks.
https://github.com/arquillian/arquillian-governor

It won't help for stuff that starts up in Application/Suite scope tho...

[2016-07-20 12:12] spolti commented on #359
Merged.

[2016-07-20 12:12] #359 closed

[2016-07-20 12:35] iocanel commented on #399
If the arquillian test spi provided an execution decider for test suites and classes (which seems feasible), then we could possibly have skipper or something like it, used with a wider scope.

Of course, even if feasible, this would require a release or two....

[2016-07-20 13:39] iocanel commented on #399
@aslakknutsen, @lordofthejars:  I had success with implementing junit rules and annotations. This is not the ideal solution, but its a viable one that doesn't require releasing additional projects (arquillian spi, skipper etc).

If you are interested I can contribute them back to the project either as an internal solution (just to get our tests going) or as something that our users can use for the

[2016-07-20 13:42] bartoszmajsak commented on #399
I would say let's bring it in and create a task for `governor` to cover this functionality. I think for the time being important is to bring those two projects together and then we can polish it (maybe even before releasing new version of Cube).

Thanks a lot for all your work so far!

[2016-07-20 16:21] iocanel commented on #399
As, I am moving forward I am hitting cases that are not covered by this solution :-(

[2016-07-20 19:21] iocanel commented on #67
A little late to the party ...

Not sure what's the status of this issue, but I am seeing some tests treating the name as id and in many cases this cause failure. My most recent experience was with:
https://github.com/arquillian/arquillian-cube/blob/3c194e613325dd3a55e2a326bdad6a5f24303a58/docker/ftest-docker-compose/src/test/java/org/arquillian/cube/servlet/HelloWorldServletTest.java#L73

[2016-07-20 20:06] lordofthejars commented on #67
I will check tomorrow but probably not related because dynamic id are only
enabled when container name finishes with *

Thanks for your efforts on this because in the past I was the one who runs
the tests so all of them passed but of course running in Linux has enabled
us to see some errors on tests. Tomorrow I will execute these tests to see
if they are reproducible

El 20 jul. 2016 9:22 p. m., "

[2016-07-21 09:50] lordofthejars commented on #67
In my case and running in docker machine it worked.

[2016-07-21 09:53] lordofthejars commented on #399
mmm I think `governor` should be the solution at long-term.

[2016-07-22 12:54] iocanel opened #400 "Provide a mechanism for tests/suites to run if certain assumptions are satisfied."
Currently all tests are run regardless if the target environment provides everything it needs for tests to run. Examples of such requirements are:

- docker
- boot2docker
- docker machine
- system properties
- env variables

The issue can be partially addressed using junit's Assume.assumeThat(...), but unfortunately it doesn't solve all issues. Some of the issues that it can't tackle are issues th

[2016-07-22 12:55] iocanel commented on #399
Totally agree!

[2016-07-22 12:56] iocanel commented on #399
I created a new issue which clearly describe the actions required and I have a pull request to send soon. I think that we can close this one. The new issue is #400.

[2016-07-22 12:56] #399 closed

[2016-07-25 08:58] lordofthejars commented on #400
I leave open until docs are provided, so you can link to the same issue.

[2016-07-27 13:40] lordofthejars opened #403 "Add configuration parameter in Drone integration for customizing image"
Add configuration parameter in Drone integration for customizing browser docker image by setting the docker image name or a Dockerfile location

Create custom browser image property called `browserImage` to use custom browser image instead of the official one.

Create custom browser dockerfile property called `browserDockerfileDirectory` to build custom browser image instead of the official one.

[2016-07-28 06:10] #385 closed

[2016-07-28 06:10] lordofthejars opened #404 "Integration with Graphene"

[2016-08-01 09:37] #404 closed

[2016-08-01 13:11] schmitzhermes opened #407 "Cube is not working w/ Docker v1.12 on Mac"
Hey guys...

Following situation: I use Arquillian Cube quite happily and it works like a charme with my docker-machine (v1.11.2) as DOCKER_HOST (i.e. the tcp://...:2376 address). It also works well on our Jenkins, where the docker remote host is the unix-socket (unix:///var/run/docker.sock).

With the advent of docker 1.12 for Mac I tried to run my test suite against the unix-socket on my mac. I

[2016-08-01 13:14] lordofthejars commented on #407
I think it is a duplicated of https://github.com/arquillian/arquillian-cube/issues/372 and sadly the problem is not in cube side but in docker-java library.

[2016-08-01 13:16] schmitzhermes commented on #407
ok yes, I did not see that ticket. then let's wait (and upvote) the according java ticket.

I am gonna close this one.

[2016-08-01 13:16] #407 closed

[2016-08-01 13:18] lordofthejars commented on #407
Sure no worries, for now you still need to use docker-machine. As soon as docker-java is released we are going to write an example of how to use it in Mac OS. (In theory in the same way as Linux)

[2016-08-01 15:15] #403 closed

[2016-08-05 04:55] #192 closed

[2016-08-05 04:56] lordofthejars opened #408 "Make docker-compose format the default one"

[2016-08-05 13:51] lordofthejars opened #409 "Update docker-java version"

[2016-08-05 14:17] lordofthejars opened #411 "Create Auto Remote API version resolver"
Create Auto Remote API version resolver attribute that by default it is false but if set to true in case of not setting the docker remote api property it will connect to docker host and resolve it so docker-java can use the latest additions.